[2016-08-10 14:43] samvarankashyap opened #41 "Duffy inventory generation raising error while provisioning openstack resources"
I tried provisioning openstack servers using linchpin , Apparently it raises error with duffy inventory which it is not supposed to . However the provisioning and output generation is going as expected but its just error at the end.
@herlo  Could you look into it and fix it as soon as possible.

TASK [output_writer : generate outputs] ****************************************
changed: [localhost] =

[2016-08-10 19:37] samvarankashyap commented on #41
bug resolved with https://github.com/CentOS-PaaS-SIG/linch-pin/pull/42

[2016-08-10 19:37] #41 closed

[2016-08-20 19:54] samvarankashyap opened #49 "fix os_server provisioning to accept multiple networks"
currently while provisioning openstack servers linchpin accepts only the first network mentioned .
Need to fix it to accept multiple networks.

[2016-08-20 20:31] samvarankashyap commented on #49
fixed the issue with following PR [https://github.com/CentOS-PaaS-SIG/linch-pin/pull/50]

[2016-08-20 20:32] #49 closed

[2016-09-08 22:03] herlo opened #59 "Regression introduced in schema_check.py"
https://github.com/CentOS-PaaS-SIG/linch-pin/blob/master/library/schema_check.py#L82

In previous versions of schema_check.py, this check either did not happen, or it didn't require the resource_group_vars object.

This commit introduced an apparent regression:

https://github.com/CentOS-PaaS-SIG/linch-pin/commit/6b72cb45d3d2455c6fccd67dff0865ed40ee6e99

When you create a topology similar to this:

[2016-09-13 17:01] herlo commented on #59
Bump

[2016-09-13 21:27] herlo opened #61 "When providing and inventory layout without host_groups, linch-pin fails"
The inventory file looks as such:

[code]

But technically, this could be less verbose:

[code]

The topology output appears as such:

[code]

### What happens

[code]

### What should happen

Linch-pin should not expect host_groups to exist, thus skipping past it and not writing anything. However, if there are no host_groups listed under any of the hosts, the 'all' group should be assumed.

An in

[2016-09-13 21:30] herlo commented on #61
Sorry for the noise, if any. The <code></code> block doesn't seem to work when writing issues like it does elsewhere in markdown.

[2016-09-15 18:37] samvarankashyap commented on #59
PR [#62](https://github.com/CentOS-PaaS-SIG/linch-pin/pull/62) addresses the above issue

[2016-09-15 20:35] samvarankashyap commented on #61
@herlo : the less verbose version of layout ie.,
[code]
because , according to the layout predefined hosts is a dictionary. Apparently , when mentioned as above the data structure of hosts changes to list.
if we would like to mention a host without its parameters , then the layout would be as follows:
[code]
In above layout , testhost1, testhost2 keys are associated with null.

However, commit has

[2016-09-15 20:42] herlo commented on #61
I didn't put the layout with just a list because handling that requires extra code.

If you weren't assuming a count of 1 for each host, that was implied, but maybe not stated verbosely. Thanks for clarifying that detail. :-)

As for adding hosts without params, associating them with null seems acceptable to me. Maybe just requiring count: 1 in that case could accommodate everything? Not sure that

[2016-09-15 21:11] samvarankashyap commented on #61
[PR #62 ](https://github.com/CentOS-PaaS-SIG/linch-pin/pull/62) addresses the above issue

[2016-09-22 14:44] #59 closed

[2016-09-22 14:45] #61 closed

[2016-09-28 17:14] herlo opened #64 "ImportError: No module named InventoryFilters"
It looks like recent code introduced this issue.

See the log at:
https://ci.centos.org/job/origin-from-source-0-test-matrix/PYTHON=system-CPython-2.7,TOPOLOGY=duffy-3node-cluster,nodes=paas-sig-ci-slave01/102/console

[2016-09-28 18:07] samvarankashyap commented on #64
Working on it .
Upcoming PR might resolve the error, It might be the same path resolution issue !

[2016-10-04 20:26] herlo commented on #64
@samvarankashyap did PR #65 fix this issue?

[2016-10-04 20:30] herlo opened #68 "schema_check cannot find default schema outside linch-pin"
When creating a virtualenv due to the lack of shade, and a git checkout of linch-pin in a separate directory, invoking linch-pin does not find the default schema.

# INVOCATION
    (venv)[herlo@x99 venv]$ ansible-playbook -vvv ~/Projects/centos/git/linch-pin/provision/site.yml -e "state=present topology='~/Projects/centos/git/paas-ci/config/topologies/openstack-3node-cluster.yml'"
    Using /etc/a

[2016-10-05 16:41] herlo opened #70 "Feature Request: CLI honors standard path env variable for configuration files, etc."
Make sure the command line tool can find the configurations in a standard path.

The idea is that the linchpin_config.yml might be found in some standard locations. For example:

/etc/linchpin/linchpin_config.yml
~/.linchpin_config.yml
./linchpin_config.yml
etc.

Thus, make a standard env variable or somesuch that gets set either by installation or configuration to ensure the configuration files c

[2016-10-05 16:56] herlo commented on #68
fixed by #69

[2016-10-05 16:56] #68 closed

[2016-10-05 17:02] herlo opened #71 "'shade is required for this module' error when provisioning openstack from venv"
Created a virtualenv, installed shade with pip.

    (venv)[herlo@x99 venv]$ pip show shade
    You are using pip version 6.0.8, however version 8.1.2 is available.
    You should consider upgrading via the 'pip install --upgrade pip' command.
    ---
    Name: shade
    Version: 1.12.1
    Location: /home/herlo/Projects/venv/lib/python2.7/site-packages
     Requires: python-keystoneclient, python

[2016-10-05 18:18] samvarankashyap commented on #71
PR #72 fixes the issue

[2016-10-05 20:12] herlo commented on #71
I don't think adding shade to the requirements.txt resolves this issue.

I've got shade installed inside the virtualenv.

    (venv)[herlo@x99 venv]$ ipython
    WARNING: Attempting to work in a virtualenv. If you encounter problems, please install IPython inside the virtualenv.
    Python 2.7.11 (default, Sep  2 2016, 14:51:16)
    Type "copyright", "credits" or "license" for more information.

[2016-10-05 20:33] samvarankashyap commented on #71
Note for future reference :
When using ansible playbooks in a virtual environment .
ansible_python_interpreter variable needs to be set in ansible.cfg or hosts file as follows
[code]

[2016-10-05 20:33] #71 closed

[2016-10-05 21:20] herlo opened #73 "Password not redacted in ansible-playbook output."
"instance": ["http://10.8.188.11:5000/v2.0", "atomic-e2e-jenkins", "(redacted but actually displayed)", "atomic-e2e-jenkins-test", "present", "rhel-6.5_jeos", "ci-factory", "m1.small", "atomic-e2e-jenkins-test", "os", "ha_inst", 0]

[2016-10-05 21:47] herlo opened #74 "Inventory generation should not happen unless inventory layout is supplied"
While running linch-pin and NOT requesting a inventory, because no inventory_layout_file was provided (as below).

    ansible-playbook -vvv ~/Projects/centos/git/linch-pin/provision/site.yml -e "state=present topology='~/Projects/centos/git/paas-ci/config/topologies/openstack-3node-cluster.yml'"

    ..snip...

    TASK [inventory_gen : Generate inventories] ************************************

[2016-10-05 21:48] herlo commented on #64
fixed with PR #65

[2016-10-05 21:48] #64 closed

[2016-10-10 18:28] samvarankashyap opened #75 "Incorrect default inventory_layout_path in inventory gen role when the layout is not defined"
The following error occurs while inventory generation:

TASK [inventory_gen : include the layout file for inventory generation] ********
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "file": "/root/linch-pin/root/linch-pin/inventory_layouts/openshift-3node-cluster.yml", "msg": "Source file not found."}

This is due to
set_fact: which is not updated with the updated config file.

[2016-10-14 02:32] herlo opened #76 "(POC) (8) Manage credentials according to the cloud provider"
Currently, credentials are assigned in the vars of the role. This can obviously be overwritten by global vars or possibly in the linchpin_config.yml. However, many of the cloud providers (openstack, rackspace, aws/ec2, gce) have alternative ways of authenticating with configuration files they already provide.

The rationale here is that users will want to utilize things they already know. It isn't

[2016-10-17 20:01] #74 closed

[2016-10-17 20:11] samvarankashyap commented on #70
PR #77 fixes the issue

[2016-10-17 20:32] herlo commented on #70
@samvarankashyap can you point to the place where this is resolved in that PR? I don't see it as we don't yet have a CLI.

[2016-10-17 21:09] herlo opened #79 "Outputs from linch-pin need better sanitization"
As discovered earlier today, certain bits of data were pushed into this repository as static output from a run on an internal openstack server. The password and other sensitive data was changed.

To prevent this in the future, an audit of outputs and code should be performed to ensure better security. A good approach may be to write unit tests that ensure outputs are returned as expected, with red

[2016-10-17 21:16] samvarankashyap commented on #70
The order of resolving config file is fixed in the following file
https://github.com/CentOS-PaaS-SIG/linch-pin/blob/212c72e153ab3d070002ba0b84300f48b81049f1/provision/site.yml

[2016-10-18 14:40] herlo commented on #70
I think you mean PR #72 - https://github.com/CentOS-PaaS-SIG/linch-pin/pull/72/files#diff-606277c22a951f9d2e56a00578ee523fR2

[2016-10-18 14:40] #70 closed

[2016-10-19 21:37] #73 closed

[2016-10-19 21:57] herlo opened #82 "When generating inventories, if the outputs are empty, do not generate an inventory"
It appears that currently, linch-pin attempts to generate inventories for anything that appears in the output file from a provisioning run. This should ignore any that do not have provisioned systems.

Given an output file like this

[code]
Should not generate inventories for anything but the duffy_res. However, the current output looks like so:

[code]

The inventories generated here are correct,

[2016-10-24 22:55] herlo commented on #82
This is a temporary fix. The future plan is to only handle inventories if nodes were provisioned for those resources.

[2016-10-24 22:55] #82 closed

[2016-10-24 23:00] herlo commented on #76
This is being addressed by a newly designed auth driver. @samvarankashyap, will you provide a basic design concept here in the near future?

[2016-10-27 17:15] samvarankashyap commented on #75
Fixed in #72

[2016-10-27 17:15] #75 closed

[2016-11-03 20:51] samvarankashyap opened #91 "Linchfile.lpf renamed to Pinfile"
As per discussions in PR #88  linchfile.lpf needs to be changed to PinFile after PR#90 is merged .

Discussion thread as follows:
https://github.com/CentOS-PaaS-SIG/linch-pin/pull/88#issuecomment-258203646

[2016-11-04 18:38] samvarankashyap opened #92 "(8) Linchpin cli list , get to fetch from remote repositories"
Currently linchpin cli when passed with argument list fetches , the topologies and layouts from local packaged folder .
As an enhancement , we would like linchpin cli to fetch from remote repository . Remote can be an external server or a github repository

Proposed usage would be as follows:
linchpin list --remote <url> --topos
linchpin list --remote <url> --layouts
linchpin get --remote <url> --

[2016-11-04 18:57] herlo commented on #92
A better approach here might be to think in terms of the topologies and layouts. Something like:

[code]

In terms of `linchpin topology get`, it seems having a --remote option is not needed. Consider that anything with file:// would imply local (or just with a /path/to/topo), whereas http://, git://, ssh:// would imply remote protocols.

Also, it might be advantageous to have a component in the P

[2016-11-04 18:58] herlo commented on #92
Please note, I did use `topology` instead of `topo`. The linchpin command could provide an alias called `topo` in addition to the full name. I find this an important thing as typing a lot of characters is annoying, but semantics are also important.

[2016-11-07 21:33] greg-hellings opened #95 "requirements.txt is not installable"
It is not possible to run a basic pip install of the requirements.txt file as it exists in the repository at present.

Steps to reproduce:
1. Clone linch-pin
2. Create and activate new virtualenv
3. Execute "pip install -r requirements.txt" from the linch-pin directory

Expected result:
Pip should install all necessary packages

Actual result:
Pip exits with the following error message
Collecting

[2016-11-07 22:40] herlo opened #96 "(POC) (8) Linchpin Hooks: Pinfile should provide a 'post_actions' yaml list"
Currently, the Pinfile provides the ability to have a particular target, with both a topology and a layout option. Additionally, it may be useful to pull down and run ansible playbooks based upon the inventory returned from the provisioning.

Simply put, this could make CI and developer tooling very useful.

Consider the following Pinfile:

[code]

Essentially, this option would provision resource

[2016-11-08 15:41] herlo commented on #95
The latest merged should have python-openstack without a version. I wonder if you are at the latest?

https://github.com/CentOS-PaaS-SIG/linch-pin/blob/master/requirements.txt

[2016-11-08 18:27] herlo opened #97 "PEP8 Compliance"
As we continue forward, let's target having all of our code reviewed with PEP8 compliance.

https://github.com/PyCQA/pycodestyle is apparently a good tool.

https://trello.com/c/h9Dacuhh/122-8-linch-pin-pep8

[2016-11-08 19:21] herlo opened #98 "Expanded Libvirt support - libvirt_node functionality"
Currently, the extent of the libvirt plugin for linchpin is poor. It essentially required a xml based configuration file from an ansible module, which seems inefficient. Research needed.

https://trello.com/c/TyuH53QW/106-8-ci-provisioning-linch-pin-libvirt-expanded-support

[2016-11-08 19:24] greg-hellings commented on #95
It appears that commit from last week fixed the problem. Thanks!

On Tue, Nov 8, 2016 at 10:41 AM, Clint Savage <notifications@github.com>
wrote:

[2016-11-08 19:30] herlo commented on #95
Great! Closing the issue.

[2016-11-08 19:30] #95 closed

[2016-11-08 19:48] herlo opened #99 "Tracking bug for openstack os_server issue"
The following bug affects floating IPs on linch-pin since it depends on shade.

https://github.com/ansible/ansible-modules-core/issues/1981

On our trello board here: https://trello.com/c/mfwC3TmE/107-5-ci-provisioner-linch-pin-look-into-floating-ip-bug

Now in code review: https://review.openstack.org/#/c/393884

[2016-11-08 19:51] herlo commented on #76
https://trello.com/c/xd2oh4z3/102-5-ci-provisioning-linch-pin-auth-driver linking in trello card for reference.

[2016-11-08 21:14] herlo opened #100 "Performance fixes for Openstack/GCE"
revisit openstack module for multi instance provisioning since looping in ansible is taking toll on provisioning time. Further changing over to openstack client or python nova with count based provisioning would definitely increase performance .

revisit gcloud gce module for multi instance provisioning since looping in ansible is taking toll on provisioning time.

https://trello.com/c/MX1CaaZB/10

[2016-11-16 19:52] herlo opened #101 "Rework LinchPin CLI to create API class"
Breaking out functionality into an API that can be used by the cli as a library. This will also allow us to use the api to create a server based REST api and other tools which will call the api itself. Eventually, we may break this api out into client and server components as well.

[2016-11-16 19:59] herlo opened #102 "topology_output_file requires .yaml due to update to jinja2 2.8"
Because we updated to jinja2 2.8, ansible expects .yaml, .yml, or .json extensions for files that are being processed internally. Thus, calling linch-pin without topology_output_file=somevalue.yaml will result in a file that ends in .output.

Here's an example of the error from jenkins: https://ci.centos.org/job/paas-bfs-origin-0-test-matrix/PYTHON=system-CPython-2.7,TOPOLOGY=duffy_3node_cluster,n

[2016-11-16 20:47] #102 closed

[2016-11-16 21:35] herlo commented on #102
#104 provided the complete fix

[2016-11-29 18:19] herlo commented on #91
closed by #108

[2016-11-29 18:19] #91 closed

[2016-11-29 18:20] #97 closed

[2016-11-29 18:20] #101 closed

[2016-11-29 22:24] herlo opened #109 "Create libvirt_network tooling (nat, routed)"
Libvirt_network will create and activate routed and nat'd networks which should be configured for use by the libvirt_node.

https://trello.com/c/tqoaTaws/133-ci-provisioning-linch-pin-create-libvirt-network-tooling-nat-routed

[2016-11-29 22:25] herlo opened #110 "Create libvirt_storage (lvm or file backed storage pools)"
libvirt_storage will be created on the fly prior to defining and starting a libvirt_node. Deterministically allocated storage will be provided to a libvirt_node on demand, as long as the pool exists. This will both create the pools, and allocate storage for libvirt_node objects.

https://trello.com/c/cSi8QM9k/134-ci-provisioning-linch-pin-create-libvirt-storage-lvm-or-file-backed-storage-pools-for

[2016-11-29 22:27] herlo opened #111 "(8) Create libvirt authn/authz components (possibly via cloud-init) for nodes when provisioned"
Provide key-based authn/authz
Provide linchpin user (or override option with password)
Provide host key retention for existing nodes

https://trello.com/c/GdtglbHH/135-ci-provisioning-linch-pin-create-libvirt-authn-authz-components-possibly-via-cloud-init-for-nodes-when-provisioned

[2016-11-30 21:17] herlo opened #112 "Allow for different libvirt_node types"
Some capabilities differ. Set the default to domain type='kvm' unless a different type is specified.

Could be something like this:

    - res_name: "centos72"
      res_type: "libvirt_node"
      uri: 'qemu:///system'
      hypervisor: kvm
      emulator: /usr/bin/qemu-system-x86_64
      count: 2
      memory: 2048
      vcpus: 2
      networks:
        - name: linchpin-centos72

[2016-12-01 19:03] herlo opened #114 "Duplicate InventoryFilters paths cause confusion"
It appears there are duplicate InventoryFilters folders at the root and provision under the linch-pin project.

It is suggested that we remove the provision/InventoryFilters and ensure any extra files there get moved to the InventoryFilters at the root of the tree.

[2016-12-01 19:17] herlo commented on #99
According to the review, the fix was merged Nov 8, 2016 https://review.openstack.org/#/c/393884. Waiting on verification from upstream ansible bug

[2016-12-05 17:25] herlo commented on #109
closed by #113

[2016-12-05 17:25] #109 closed

[2016-12-07 21:15] robled opened #118 "library path is missing from linch-pin/provision"
This issue causes the schema check to fail when provisioning.  Steps to reproduce:

1.  Install linch-pin:
[code]
2.  Attempt to provision:
[code]

Workaround:  Symlink library path for the schema check in linchpin-pin/provision:
`(linchpin-test) [vagrant@localhost workspace]$ ln -s ~/linch-pin/library/ ~/linch-pin/provision/library`

Running the 'rise' command again will be successful at this poi

[2016-12-07 21:18] robled opened #119 "Allow for a customizable "workspace" for the linchpin CLI"
As of right now my **$PWD** before running the linchpin CLI must contain the linchpin topologies/layouts/etc:

[code]

This "workspace" created by **linchpin init** should be configurable so that the linchpin CLI can be called without needing to be concerned about the **$PWD**.

[2016-12-08 23:29] #114 closed

[2016-12-12 18:01] herlo commented on #119
Having the topologies/layouts in the same path is intentional. Some sort of file or environment variable needs to be defined to know where to look. The plan was that linchpin would define sane standard locations, first looking for a PinFile in the current directory of execution. This follows how Vagrant provides a similar Vagrantfile in its location. However, that can be overridden by an environme

[2016-12-12 18:02] herlo commented on #112
This was resolved by PR #115

[2016-12-12 18:02] #112 closed

[2016-12-12 18:04] herlo commented on #118
This was fixed in PR #115, which was merged Dec 8, 2016

[2016-12-12 18:04] #118 closed

[2016-12-12 18:06] herlo commented on #98
pr #105 solves the provisioning. Still need teardown functionality.

[2016-12-12 18:09] herlo commented on #119
To the above conversation, here are two issues previously addressing similar parts of this design.

Issue #92 and #96 should be reviewed in reference to this issue.

[2017-01-05 20:21] johnbieren commented on #99
https://github.com/ansible/ansible/issues/19613

[2017-01-11 21:05] greg-hellings opened #124 "Defaults from "linchpin init" kinda don't make sense"
I did a "linchpin init" in a new directory and got the following values in linchpin_config.yml:

[code]

As you see, it's wanting me to put my outputs and inputs inside of my virtualenv site-packages directory instead of locally. It appears the default paths are based from the path to `__file__` instead of `$PWD`.

[2017-01-13 20:17] herlo commented on #124
I think in most cases, we could just eliminate them and have defaults, actually. Optionally, the linchpin_config.yml could just live in /etc/linchpin/ and you won't see it. @samvarankashyap what do you think, would this be acceptable? I believe we already have this functionality in place, just need to tell the package to put this in the right dir and not generate it on a call to 'linchpin init'

T

[2017-01-16 20:43] herlo commented on #124
Linchpin init should not provide this in the current directory by default. Let's adjust linchpin init to not create a linchpin_config.yml in the directory, but rather use the one that should be in /etc/linchpin, which should be created during setup/installation.

As for documentation, this won't need to be addressed until a developers guide is created.

[2017-01-17 18:12] herlo opened #125 "linchpin init should not run setup.py or check requirements.txt"
It appears linchpin init will check requirements.txt (not sure if it's running setup.py or not) and verify the defaults are installed. In addition to not creating a linchpin_config.yml, a check is not necessary.

[2017-01-17 18:35] herlo commented on #92
**Please NOTE:** `topology_registry` and `layout_registry` are optional parameters.

[2017-01-18 14:37] samvarankashyap commented on #99
#126  fixes the current issue

[2017-01-18 14:45] samvarankashyap commented on #125
According to the code (https://github.com/CentOS-PaaS-SIG/linch-pin/blob/master/linchpin.py#L73)
linchpin init will not check for the requirements.txt , it just creates the required directory structure and renders the linchpin_config.yml (jinja template file with the variables).

[2017-01-19 20:03] herlo opened #128 "linchpin rise target should be an argument instead of an option"
Currently, when running linchpin rise, if a particular target is requested, a --target flag must be applied. It makes more sense to just have it be an argument. If no argument is provided, linchpin rise will just attempt to start each target in the PinFile.

Consider the following Pinfile:

`---
ae2e-test:
  topology: simple-ae2e-cluster.yml
  layout: openshift-3node-cluster.yml

e2e:
  topology:

[2017-01-19 20:37] #99 closed

[2017-01-19 20:38] herlo commented on #124
This is being addressed in PR #127. linchpin_config.yml will no longer be generated via linchpin init.

[2017-01-20 03:58] greg-hellings commented on #128
But please make it accept multiple arguments!

On Thu, Jan 19, 2017 at 2:04 PM, Clint Savage <notifications@github.com>
wrote:

[2017-01-20 21:09] samvarankashyap commented on #125
According to [setuptools documentation](http://setuptools.readthedocs.io/en/latest/setuptools.html ) its one of the side effects of using console scripts in setup.py. It mentions the effects are :
- When your project is installed, either by using EasyInstall, setup.py install, or setup.py develop, all of the dependencies not already installed will be located (via PyPI), downloaded, built (if neces

[2017-01-20 21:09] #125 closed

[2017-01-24 06:27] greg-hellings opened #133 "Installing linchpin Python package is noisy"
Python packages should create at most a small number of high level directories inside of site-packages when they get installed. Currently, running an install of the pip packaging for linch-pin results in the creation of 14 top level directories and one top level file (linchpin.py) which gets built into linchpin.pyc and linchpin.pyo by various install options.

A fifteenth directory gets created th

[2017-01-24 06:42] greg-hellings opened #134 "Include license information"
Please include a LICENSE or COPYING file, or the like, to indicate the license that the code is released under. Such will be necessary for many (all?) downstream packaging efforts.

[2017-01-24 13:41] herlo opened #135 "linchpin rise seems to be unable to find the linchpin_config and fails with Unicode parse error"
$ linchpin rise
debug:: current working directory
/home/herlo/Projects/lpdemo
debug:: c_file
/home/herlo/Projects/lpdemo/linchpin_config.yml
debug:: c_file
/home/herlo/Projects/lpdemo/linch-pin/linchpin_config.yml
debug:: c_file
~/.linchpin_config.yml
debug:: c_file
/home/herlo/.virtualenvs/venv3/lib/python2.7/site-packages/linchpin_config.yml
debug:: c_file
/etc/linchpin_config.yml
debug:: curren

[2017-01-24 13:45] herlo commented on #133
Agreed. We actually have talked about this and will be moving things this direction very soon. Thanks Greg. I'll add a milestone and such here to get this in place very soon.

[2017-01-24 17:58] samvarankashyap commented on #135
@herlo PR #136  fixes  the Issue

[2017-01-24 22:45] #135 closed

[2017-01-30 21:28] samvarankashyap commented on #79
#141 fixes the issue .
The openstack credential information is being omitted by new os_server module.

[2017-02-01 18:59] samvarankashyap commented on #100
PR #143 PR #141 fixes the issue

[2017-02-01 22:54] arilivigni opened #144 "(1) Ability to override the res_name on the command line"
Currently whatever the res_name in the topology file is that is always the name you get when you deploy.  This can create collisions if you are doing multiple deployments in the same openstack tenant for instance.

We either need a way to override this or deploy with a unique identifier to avoid this

[2017-02-02 00:47] arilivigni opened #145 "Consistent way to install linch-pin on different platforms"
We already have a docker image as one solution,  but if someone wants to install this linch-pin other than pip or rpm dependencies don't install in order.

We currently have install.sh but there is a more python way to do the install and do it in order

This should be verified on Fedora, CentOS, RHEL, and Ubuntu (if possible)

[2017-02-03 15:52] samvarankashyap commented on #144
@arilivigni : res_name act as a unique identifiers for resources for now in all the cloud providers except for amazon ec2. Users have to be concerned about the names before they assign . However, even if there is a collision , ansible does not fail the provisioning it just brings meta data of the machine which is already provisioned in outputs and does not effect the inventory.
One better way to h

[2017-02-03 15:56] samvarankashyap commented on #145
@arilivigni : Ansible playbooks can be used to install linchpin , which can be consistent way . But even ansible has some dependencies which needs to be satified specific to operating systems.
In order to test the builds against multiple operating systems , i would suggest shippable , or Travis CI which deploys open source projects on to different operating systems and reports the status.

[2017-02-06 16:03] herlo commented on #145
A simple python method in the setup.py should solve this. I can look into this today.

[2017-02-06 16:46] herlo opened #146 "(5) Send outputs from linchpin cli into a log file"
Most of the logging information which is ansible output is less useful in general, but should be stored in a log file for debugging and historical use.

[2017-02-06 17:21] robled commented on #119
I like the "upstream" idea for sure.  But there will be cases where CI users will have some other method to check out the linch-pin workspace, and in that case we will need a way to point linch-pin to the checkout directory without having to "cd" first.  I think the environment variable idea is OK, and that would suit our needs.

[2017-02-06 22:05] jlebon opened #147 "Linch-pin feedback"
Hi all,

Thought I'd give some feedback from an exercise in trying out linch-pin for the first time. I understand a lot of the below is simply due to the project still being in its infancy, though I hope you still appreciate the feedback. :) Sorry in advance for the massive dump of issues in one shot. Some of those may already exist as independent issues.

Major issues:

1. [Documentation](http://

[2017-02-06 22:52] greg-hellings commented on #147
Documentation is a constant work-in-progress. We know we are woefully behind on that. Until about 2 weeks ago we had no docs, so we're trying to make steady progress on that!

Inconsistent field naming: Can you open a new issue to address this, specifically? This really is a bug and should be captured by some concerted work after a standard is decided upon.

As for the other items you bring up:

T

[2017-02-07 14:07] jlebon opened #148 "(3) Provide a way to specify cloud-init configs"
Linch-pin should provide a way for users to specify cloud-init configs (e.g. in the `os_server` case, through the `userdata` key).

[2017-02-07 14:12] jlebon opened #149 "Inconsistent field naming"
As mentioned in #147, fields do not have consistent names. For example, topologies use both `resource_` and `res_` as prefixes. It would be nicer to just use one, preferably `resource_`. In the case of `res_name` and `res_type`, I think `name` and `type` should suffice since they reside within the resource definition dict already.

I'm not sure if there are other cases like above. This is the only

[2017-02-07 14:14] jlebon commented on #147
Sounds good. This is by far the biggest issue I encountered.

OK, I created https://github.com/CentOS-PaaS-SIG/linch-pin/issues/149. I'll close this now, since all the other ones are captured in issues.

Thanks!

[2017-02-07 14:14] #147 closed

[2017-02-07 15:45] samvarankashyap commented on #147
@jlebon : Thank you for the feedback . We will working on the fixes. All the issues pointed out will be fixed in no time.

[2017-02-07 16:17] herlo commented on #119
@robled upstream can be local, so that would likely be the default. I think the $WORKSPACE can be a nice override.

[2017-02-07 18:10] herlo commented on #134
https://github.com/CentOS-PaaS-SIG/linch-pin/commit/0de565699f282df37a3341ec10a10c2ba7602ed8 provided the LICENSE file. Please advise if further requirement is needed.

[2017-02-07 18:10] #134 closed

[2017-02-07 18:16] herlo commented on #133
In my review yesterday, I reworked the packaging and configuration for both the linchpin package, and the cli. It turned out to be a major breaking change, thus we'll be targeting 1.0 for this and it will be implemented at that time.

[2017-02-07 18:18] herlo commented on #124
PR #127 did not actually fix the issue with linchpin_config.yml. However, we are going to be addressing this in 0.9.0 release by making sure it exists in the library path. This will likely be done by a simple script or something as a band-aid patch.

[2017-02-07 18:39] herlo commented on #145
I've been able to get this working with a big adjustment to the setup.py. However, I also introduced several breaking changes to the code. Thus, we'll be addressing this in v1.0.0. In the meantime, the install.sh is there, we just need to document its use.

[2017-02-07 19:09] #100 closed

[2017-02-07 20:09] arilivigni opened #150 "Override name of resource_group_name and res_name on the command line"
To avoid collisions when provisioning into an openstack tenant for example we may want to provide an extra-vars for resource_group_name and res_name so we can provision in the same tenant.

I realize you can put multiple resources in a topology but you may not want to tie up all those resources at once and there is still a chance for collisions as well.

[2017-02-08 15:50] samvarankashyap commented on #79
The following is the output of provisioning 1 instance on each of the cloud providers. We can observe the credentials are ommited in the output.
http://pastebin.test.redhat.com/453509

[2017-02-08 17:12] herlo commented on #79
Can you put the output directly into the issue? The internal pastebin expires, plus is not viewable externally. Also, what about the outputs from ansible itself? I'm more concerned about that data as it generally appears on the screen during demonstrations and the like.

[2017-02-08 17:12] herlo commented on #79
@samvarankashyap see comment above

[2017-02-09 16:14] samvarankashyap commented on #79
output is as follows :
[code]

[2017-02-09 16:31] #79 closed

[2017-02-13 16:50] herlo commented on #150
I think this may also go with #144

[2017-02-13 16:50] herlo commented on #144
I believe this may be related to #150

[2017-02-14 21:08] herlo opened #152 "Translation of host-specific data based upon group and position"
Use Case:

Create a variable that all hosts can read based upon a specific host from a specific group. So for example, it might look like so:

[code]

This was a specific use case was something provided by @mprahl and @dlane. They will comment with a more specific example.

[2017-02-14 21:33] herlo commented on #152
Additionally, translating any __VALUE__ throughout the layout file would prove useful. Limiting the options to a host-group or global vars section also seems logical at this time. This would mean that translation of sub items (like children) or vars inside a group would not be available.

[2017-02-14 23:24] herlo commented on #110
Moving this to 1.0.0. While managing pools themselves is simple, adding actual storage becomes a lot more difficult.

[2017-02-16 14:53] danalanerh opened #153 "BUG: Inventory file doesn't match created VMs"
For more information internal to RedHat, please contact me.
Using the following inventory file:
http://pastebin.test.redhat.com/456191
The following layout file:
http://pastebin.test.redhat.com/456192
I get the following inventory file:
http://pastebin.test.redhat.com/456190

However the IP addresses don't match the VMs in openstack. Here's a screenshot of the openstack list:
![screenshot from 201

[2017-02-16 15:22] samvarankashyap commented on #153
@danalanerh : I see the layout defined does not follow the same naming order as defined in topology. Could you try provisioning with the following layout .
http://pastebin.test.redhat.com/456222
It should be a bug on inventory generation.

[2017-02-16 15:25] danalanerh commented on #153
Sure, I'll re-run and match up the layout order and the topology order.

On Thu, Feb 16, 2017 at 10:22 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-16 15:28] herlo commented on #153
When using pastebin, please provide one that is public, as others who read this may wish to access it. The pastebin inside RH is not accessible outside the firewall/VPN. Also, I'm glad to see @samvarankashyap is already on this. :)

[2017-02-16 15:41] danalanerh commented on #153
I re-ran the provision with everything lined up and the bug still exists.
What additional info do you need?

On Thu, Feb 16, 2017 at 10:25 AM, Dana Lane <dlane@redhat.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-16 15:50] herlo opened #154 "linchpin rise should not require inventory layout"
When creating a PinFile, one should be able to list a Pin target without a declared layout.

Currently the following fails:

[code]

But

[code]

succeeds.

The former needs to be allowed. In many cases, a resulting inventory is not desired.

[2017-02-16 15:53] samvarankashyap commented on #153
@danalanerh : working on it .

[2017-02-16 15:55] danalanerh commented on #153
Updated with re-run and public pastebin:
Topology:
http://pastebin.com/q0R4bbxN
Layout:
http://pastebin.com/37C3kdWq
Inventory Output:
http://pastebin.com/fpJxG2Nu
Screenshot of openstack VMs:
![screenshot from 2017-02-16 10-52-46](https://cloud.githubusercontent.com/assets/24436903/23028791/5b624fbc-f436-11e6-9a99-606e7105a562.png)

[2017-02-16 15:56] samvarankashyap commented on #153
@danalanerh : are you running it in a asyc mode ?

[2017-02-16 15:57] samvarankashyap commented on #153
@danalanerh Could you please share the output files too. which are in the outputs directory.

[2017-02-16 15:57] danalanerh commented on #153
Honestly, I'm don't know.

My exact flow;
Create a venv
install linchpin
copy the layout and topology files
linchpin rise

On Thu, Feb 16, 2017 at 10:56 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-16 15:59] samvarankashyap commented on #153
@danalanerh : after you are finished with linchpin rise , there should be a outputs directory created in the current working directory. There you should be able to find a outputfile.

[2017-02-16 16:03] danalanerh commented on #153
Here's the output file

On Thu, Feb 16, 2017 at 10:59 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-16 16:09] samvarankashyap commented on #153
@danalanerh : i don't see any output file in previous comment.

[2017-02-16 16:12] danalanerh commented on #153
I attached the file as it was kinda big. Here's a pastbin of it;

http://pastebin.com/yGapFm8d

On Thu, Feb 16, 2017 at 11:09 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-16 17:21] herlo opened #155 "(2) linchpin should allow for become option to pass to ansible"
In the current invocation of linchpin, sudo is not an option. This is due to some code in invoke_playbooks.py which disables become. Instead, the option should be provided to linchpin rise to enable sudo.

It was discussed and agreed that the functionality should follow the form ansible has already provided. See http://docs.ansible.com/ansible/become.html for information on ansible's become functi

[2017-02-16 20:55] mprahl commented on #152
Our use case is in our test deployment of ResultsDB and ResultsDB Frontend. This requires three VM's: one for the database, one for ResultsDB, and one for ResultsDB Frontend. ResultsDB needs the IP address (or FQDN in production) of the database server to know how to connect to it. The playbooks expect the variable `resultsdb_db_host` to have this value. Additionally, ResultsDB Frontend needs to k

[2017-02-16 21:29] samvarankashyap commented on #153
@danalanerh #157  fixes the issue .

[2017-02-16 21:35] danalanerh commented on #153
Excellent. When will I be able to try it out? :)

On Thu, Feb 16, 2017 at 4:29 PM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-17 00:07] samvarankashyap commented on #153
@danalanerh : We are trying to get it reviewed and merge it. Will take utmost couple of days to merge it and release it on PyPi . Feel free to clone and try it out from my personal branch. https://github.com/samvarankashyap/linch-pin/tree/inventory_mapping_fix

[2017-02-20 16:06] #98 closed

[2017-02-21 17:23] herlo opened #158 "(POC) (8) Create inception-based testing for libvirt functionality"
Because linch-pin now has a plugin for libvirt provisioning, additional libraries must be installed. It seems it may be unreasonable to expect a jenkins (or other CI) to be willing to install libvirt on a node which they control. To that end, testing the libvirt plugin in linch-pin may require a bit of inception-based testing.

The concept is as follows:

1. Provision a single node from a CI slave

[2017-02-21 17:36] arilivigni commented on #158
Yes this is pretty much we discussed here in the office:

1. Provision duffy node
2. Checkout PR of linch-pin on slave (same as today)
3. Run playbook on duffy node that is in linch-pin/tests/playbook does the following:
    - Pass sha1 to playbook
    - Build and execute tests in a venv
    - Copy xunit results to slave workspace
4. Archive test results (same as today)
5. publish test results (sa

[2017-02-22 17:12] #154 closed

[2017-02-22 21:15] danalanerh commented on #153
SK, quick question now. How can I install this version to test it? I've
always just done pip install linchpin.

On Thu, Feb 16, 2017 at 7:07 PM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-23 15:19] samvarankashyap commented on #153
@danalanerh : The instructions are as follows:
#### 1. clone the repository
git clone https://github.com/CentOS-PaaS-SIG/linch-pin
#### 2. Get into the directory
cd linch-pin
#### 3. Checkout newbranch
git checkout -b newbranch master
#### 4. Pull the changes to the branch
git pull https://github.com/samvarankashyap/linch-pin.git inventory_mapping_fix
#### 5. Run setup.py
python setup.py install

[2017-02-23 15:29] danalanerh commented on #153
LAst question, do I need to uninstall the previous version?

On Thu, Feb 23, 2017 at 10:19 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-23 17:44] samvarankashyap commented on #153
@danalanerh : you might have to . I would suggest you to create a new virtualenv .
#### pip uninstall linchpin

[2017-02-23 17:48] danalanerh commented on #153
running python setup.py install gives me the following error:

Installed /var/lib/jenkins/linchpin-venv/lib/python2.7/site-packages/linchpin-0.8.6-py2.7.egg
Processing dependencies for linchpin==0.8.6
Searching for camel
Reading https://github.com/eevee/camel/tree/v0.1/tarball/
Reading https://pypi.python.org/simple/camel/
Downloading https://pypi.python.org/packages/2b/f6/3e00c732983c7c233823b720

[2017-02-23 17:57] robled opened #159 "(2) linchpin CLI command does not exit non-zero when an Ansible play fails"
See test example using linchpin 0.8.6 installed from pypi:

[code]

[2017-02-23 19:14] samvarankashyap commented on #153
@danalanerh : try
#### pip install camel
or
#### pip install file://<path_to_cloned folder>

[2017-02-24 02:35] samvarankashyap commented on #159
@robled : Good catch . Linchpin cli as of now just initiates the Ansible API and does not return anything.  I guess we can return Ansible API exit status through linchpin.

[2017-02-24 21:21] #153 closed

[2017-02-24 21:27] herlo commented on #148
@jlebon, this looks like a duplicate of #76. No?

[2017-02-24 21:27] ralphbean commented on #96
/cc @mprahl @danalanerh - any idea if this would handle our ``sleep`` / ``wait_for`` problems?

[2017-02-24 21:54] jlebon commented on #148
Hmm, doesn't look like it. #76 seems to be about giving users a better way to provide credentials, no? This issue is about being able to pass any random data (mostly for cloud-init) through the `userdata` key: http://docs.ansible.com/ansible/os_server_module.html

[2017-02-24 22:19] samvarankashyap commented on #124
#151  Fixes the issue

[2017-02-24 22:19] #124 closed

[2017-02-24 22:56] samvarankashyap commented on #153
@danalanerh : The issue is fixed in the latest release of linchpin . It is now available on PyPi ,
you can install by:
pip install linchpin

[2017-02-24 23:07] herlo commented on #159
@maintainers test

[2017-02-24 23:08] herlo commented on #159
@CentOS-PaaS-SIG/linch-pin_maintainers test

[2017-02-25 02:17] mprahl commented on #96
@ralphbean I think this could work, but it's only a marginal improvement over running the playbook separately in Jenkins.

[2017-02-27 13:29] danalanerh commented on #153
Excellent. I'll test that this morning!

On Fri, Feb 24, 2017 at 5:56 PM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-02-27 16:12] robled opened #162 "Add Beaker topology example to documentation"
It should be placed on this page:

https://linch-pin.readthedocs.io/en/latest/topologies.html

[2017-02-27 16:26] herlo commented on #148
Ok. I see. You want to provide logins, system configurations, etc. for the hosts. That makes more sense now. @samvarankashyap, do we have any plans to address this? I was thinking this would be an after effect, but I do wish to do something similar with libvirt using cloud-init.

[2017-02-27 18:01] samvarankashyap commented on #148
@herlo : IMO,  We can add one more key user_data to os_server res_def to enable the feature .
Further, we might have to add the same key to aws_ec2 and gcloud_gce to make as ansible modules have support to do the same.

[2017-02-27 18:33] danalanerh commented on #153
Confirming this issue is fixed with the latest pip install.

[2017-02-27 20:33] samvarankashyap commented on #153
@danalanerh : Thanks for the update . We would love to have more contributions from you.

[2017-03-01 01:54] #162 closed

[2017-03-02 14:11] danalanerh commented on #96
FYI. The post_actions section for linchpin is not currently there. It's a
placeholder and probably not going to be available until the 1.0 release.

On Fri, Feb 24, 2017 at 9:17 PM, Matt Prahl <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-03-03 16:35] samvarankashyap opened #167 "AWS_EC2 fails when the res_grp_vars are not defined"
Example topology :
[code]
Error :
[code]

[2017-03-03 16:54] samvarankashyap commented on #167
#166 fixes this issue

[2017-03-04 00:25] #167 closed

[2017-03-06 15:55] dustymabe opened #170 "linchpin dependencies packaged for fedora/CentOS"
It would be great to have some packages for linchpin in Fedora/CentOS. I realize that linchpin might not be ready yet, which is fine. Even if it's not ready I'd like to use this issue to track the progress of making packages available.

Thanks for the hard work!

[2017-03-06 16:00] greg-hellings commented on #170
I'm currently working on packaging some required Python dependencies, after
which I'll get on to packaging linch-pin.

On Mon, Mar 6, 2017 at 9:55 AM, Dusty Mabe <notifications@github.com> wrote:

[2017-03-08 18:42] smatula opened #171 "linchpin provision beaker machine with example topology fails with error missing required property"
Linchpin fails with missing required property 'res_defs' trying to provision a beaker machine using example beaker topology.

PLAY [including the configuration files] ***************************************

TASK [Include linchpin_config] *************************************************
ok: [localhost] => (item=/usr/linchpin_config.yml)

PLAY [schema check and Pre Provisioning Activities  on topo

[2017-03-08 18:50] smatula opened #172 "linchpin can not drop beaker machine. Fails to locate file in outputs."
Running >linchpin drop
to tear down provisioned machine fails. It cannot find topology file in outputs. See error below:

Error indicates looking for 'beaker.output'. Actual file is 'beaker.output.yaml'. If the file is renamed and command rerun then all passes.

TASK [beaker : Parsing topology output file] ***********************************
fatal: [localhost]: FAILED! => {"changed": false, "faile

[2017-03-08 19:09] smatula commented on #172
Running using cli linchpin version 0.9.0

[2017-03-08 19:10] smatula commented on #171
Running using cli linchpin version 0.9.0

[2017-03-08 20:54] samvarankashyap commented on #171
@greg-hellings @herlo : Ping

[2017-03-09 19:48] robled commented on #171
I'm looking at this issue, please assign it to me.  I don't appear to have the necessary permissions on this project to assign it to myself.

[2017-03-09 19:48] robled commented on #172
I'm looking at this issue, please assign it to me. I don't appear to have the necessary permissions on this project to assign it to myself.

[2017-03-09 20:14] robled opened #174 "(2) Add check_ssh role from cinch to linchpin"
With the advent of post-provisioning actions, a problem presents itself, at least with OpenStack and cloud-init.  Here's a use case:

* provision an OpenStack instance with linchpin
* use linchpin to execute a post-provisioning Ansible playbook on the instance

The problem here is that when cloud-init is setting up SSH access on the newly provisioned host, any Ansible processes running during this

[2017-03-10 17:20] robled opened #177 "Missing dependency for python-krbV"
This package is needed for Beaker provisioning.

[code]

[2017-03-10 18:04] robled commented on #177
Please ignore the first commit in this ticket - I had to adjust my git workflow to accommodate the new 'develop' branch.

[2017-03-16 20:12] robled commented on #171
After some debugging I believe that this is a schema version issue.  The v2 schema will produce this error, but the v3 schema will not.  In your **/usr/linchpin_config.yml** file please change the **schema:** value from **schema_v2.json** to **schema_v3.json** and test again.  With the v3 schema in place, your Beaker topology file should look like the [example](https://github.com/CentOS-PaaS-SIG/l

[2017-03-16 20:21] robled commented on #171
@herlo @samvarankashyap

When installing linchpin 0.9.0 from pypi, there are **two** config files produced by the package, and one of them refers to schema_v2, while the other refers to schema_v3.  Which schema is correct to use with linchpin 0.9.0?  Certainly if you're using Beaker you want to use schema_v3.

I know that the linchpin code searches a lot of paths to find the config file, and from

[2017-03-17 15:01] robled opened #179 "Give 'robled' user permissions to assign issues on this project"
I'm working on a few tickets for this project and would like the ability to assign those tickets to myself.

[2017-03-18 20:13] herlo commented on #171
David,

You are correct. You should be using schema_v3. I'm sorry I didn't respond
earlier, I've been out sick for the past few days. Thanks for following up
on this. I'll fix this and patch it as soon as possible.

herlo

On Thu, Mar 16, 2017 at 2:12 PM, robled <notifications@github.com> wrote:

[2017-03-20 14:02] danalanerh opened #180 "Enhancement Request: Echo beaker job ID as soon as beaker job is created"
It would be nice if we could see the beaker job ID right away, so we can track the job while its in progress

[2017-03-20 16:29] herlo commented on #180
This is provided in the output already. Can you not use this information?

[2017-03-20 16:31] herlo commented on #179
I've given you write permission. Please let me know if that works. If not, I'll dig further.

[2017-03-20 16:34] herlo commented on #174
This could be our first built-in hook. Then someone could just enable the post-provision hook. :) I like it!

[2017-03-20 16:36] herlo commented on #172
Is this the issue you pointed out @robled in #171? If so, I'd like to close this as a duplicate.

[2017-03-20 16:46] herlo commented on #171
To address the original issue. I'm not sure how the OP was able to put linchpin_config.yml in /usr/. In future versions, we'll have a well-defined set of paths where linchpin_config.yml can reside. With one default residing in a common place. I suspect it will look in the following order only.

* ./.linchpin_config.yml
* ~/.linchpin_config.yml
* /etc/linchpin/linchpin_config.yml (If installed via

[2017-03-20 16:47] herlo commented on #170
@greg-hellings can I be co-maintainer? :1st_place_medal:

[2017-03-20 16:48] danalanerh commented on #180
It's in the final output, but while its running I don't see it until the
job is complete. Maybe it's just a timing thing.

On Mon, Mar 20, 2017 at 12:29 PM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-03-20 16:51] herlo commented on #180
It is impossible to get the data from the system until  it's booted with beaker. This is just an artifact of the way it works. You must wait for the job to return before data can be gathered. I don't think there's a way to get the output before that point via the api.  @greg-hellings do you know if it's possible to get the job ID another way?

[2017-03-20 17:05] danalanerh commented on #180
Okay, figured I'd check. If we can't spit it out any earlier, then we
can't.

On Mon, Mar 20, 2017 at 12:51 PM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-03-21 12:43] smatula commented on #171
linchpin_config.yml created using linchpin config command. Did not change the schema. Could not get linchpin rise to run until I moved the the config file to /usr.

The following output is if config file removed from /usr/
(linchpin)[root@sjm-rhel-73-server-released-lp-5 sjm-test-lp]# linchpin rise
debug:: searching linchpin_config file from path ::
/root/sjm-test-lp/linchpin_config.yml
debug:: Fi

[2017-03-21 12:49] smatula commented on #171
linchpin installed with pip

[2017-03-21 13:35] smatula commented on #171
Changing schema to v3 works and solves this issue.

[2017-03-21 14:18] smatula opened #181 "linchpin cannot find linchpin_config.yml - Looks to be bug in site.yml"
When running linchpin, initially finds the linchpin_config.yml. When playbook (including the configuration files) is run to include configuration files. Playbook cannot fine linchpin_config.yml.

Looks like site.yml has bugs.
../linchpin/lib64/python2.7/site-packages/provision/site.yml
excerpt:
      with_first_found:
        - "{{ linchpin_config.yml | default(omit) }}"
        - "../linchpin_con

[2017-03-21 15:11] smatula commented on #181
linchpin version 0.9.0 installed by pip

[2017-03-21 15:20] smatula opened #182 "(2) Enhancement Request - Set Beaker Jobs Whiteboard value."
Have field in topology or auto generate name to be set as beaker jobs whiteboard value. Name should be a descriptive name that one can easily tell the linchpin provision job that started the beaker job.

The whiteboard is a free-form string to describe the job or recipe. It looks like I the whiteboard for the recipe can be set using the following property:
         whiteboard: "<value>"
   under r

[2017-03-21 16:21] robled commented on #172
@herlo - I believe that this is a separate issue, but I'm going to do some testing on this today to confirm.

[2017-03-21 16:35] herlo commented on #148
@jlebon @samvarankashyap I think maybe this should be a feature where we allow 'extra data' to be passed as valid data to either the instances, or the providers (cloud provisioning modules). In issue #182, there's a request for beaker to set a value when provisioning to track it better. This could be useful as 'userdata' here, or as ephemeral data to a libvirt provider.

Thoughts?

[2017-03-21 16:44] herlo commented on #182
I believe this is a general concept we've been working for all providers in linch-pin. I'd like to combine this with #148. Thanks!

[2017-03-21 17:04] herlo commented on #181
The ../linchpin_config.yml would be relative to the location of the running site.yml. In this case, that's provision/site.yml. Thus, the linchpin_config.yml would need to be at the base of the linch-pin directory to work properly. If this is installed via pip, that would be `/path/to/python/site-packages/`. It's completely counterintuitive, and should really be fixed.

We are addressing this issue

[2017-03-21 17:05] #181 closed

[2017-03-21 17:05] #179 closed

[2017-03-21 17:09] herlo commented on #152
Fixed by #157

[2017-03-21 17:09] #152 closed

[2017-03-21 17:10] herlo commented on #177
Approaching this differently now. Please view extras_require section in the setup.py as an example.

[2017-03-21 17:10] #177 closed

[2017-03-21 17:15] herlo commented on #171
I apologize for the inconvenience. I'll double check the output of linchpin config  and make sure it provides schema_v3 correctly.

@herlo

[2017-03-21 17:19] herlo commented on #171
I just installed 0.9.0 and performed a linchpin config --init and it works fine. If you, however, do a linchpin config --reset, it does indeed generate a schema_v2.json. I'm reopening this and addressing it asap.

[2017-03-21 20:09] robled commented on #172
I've done further testing and can still reproduce this issue after updating to the correct schema for my linch-pin installation.

[2017-03-21 21:21] herlo commented on #172
Hrm, this is actually a really simple fix. It appears to be needing a '.yaml' at the end of https://github.com/CentOS-PaaS-SIG/linch-pin/blob/master/linchpin_api/v1/api.py#L169.

@robled could you test this out and push a PR against the master branch for this? It will go in our 0.9.2 release sometime in the next week or so.

[2017-03-21 21:53] robled opened #184 "0.9.1 release includes a config file that refers to a user's home directory"
[code]

[2017-03-21 22:03] herlo commented on #184
We have a couple other hotfixes that will make a 0.9.2 release. This was due to some cruft leftover from testing the release. I'll fix this in the next few days. In the meantime, simply remove the linchpin_config.yml.

[2017-03-23 16:37] herlo commented on #184
This has been patched as long as the wheel gets used from pypi. Which should be the default.

Available here: https://pypi.python.org/packages/2a/6f/ed03bb5001b9283f5db170f406761f2deae166c923cdd796a0166ccd21fe/linchpin-0.9.1-py2-none-any.whl#md5=7e71a4c85839eeb995378eedf46bfda8

[2017-03-23 16:37] #184 closed

[2017-03-23 18:22] herlo opened #185 "(1) Write a bit about master vs develop branch in the CONTRIBUTING.rst"
Essentially, define the differences between master and develop. A paragraph or two at the top should do nicely.

[2017-03-23 21:59] robled commented on #172
I've submitted a PR for this issue.  Please ignore the first commit in the list of references.

[2017-03-27 15:51] greg-hellings commented on #180
IDs are available as soon as the job is submitted, even before it's been assigned, etc. In fact, there is debugging output in the current Beaker provision code that outputs those IDs as soon as they're retrieved. That debugging output has been commented out, though. Re-exposing it would be completely trivial.

[2017-03-27 16:08] herlo commented on #180
@greg-hellings this means that the way you structured the code needs to spit out the output in the provision part of the job, not while gathering information. This can be done, but I don't know how to get the output data from the beaker api other than the way you were already doing it. Do you want to have a look at this and apply a fix? I don't expect it to happen soon, just sometime in the future

[2017-03-27 16:41] greg-hellings opened #190 "Fresh Install fails with errors"
A fresh install of the git master branch (but not the released tarball) fails to execute commands with the following error:

[code]

[2017-03-27 20:57] robled commented on #190
FWIW, I found that manually installing requests 2.10.0 will resolve the version conflict.

[2017-03-27 21:07] robled commented on #180
Another nice thing to do would be to print the URL to the Beaker job so that it's easy for a user to get more info about the job without having to manually look up the job ID in the Beaker web interface.

[2017-03-28 12:20] danalanerh commented on #180
+1

On Mon, Mar 27, 2017 at 5:07 PM, robled <notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-03-28 14:59] herlo commented on #180
I don't think this is the purpose of Linch-Pin. However, I do find that the functionality of hooks that we are working on will accommodate such a request.

In the future, if you are asking for new features such as the one here about the URL, it would be appreciated if it could be its own issue, so we can track it separately. In the case here, I would just close the bug and move on, however. So it'

[2017-03-28 16:26] #171 closed

[2017-03-28 16:35] robled commented on #172
Closing this out since the fix has been merged to the master branch.

[2017-03-28 16:35] #172 closed

[2017-03-28 18:29] robled opened #196 "(3) Add or verify support for the 'hostrequire' feature of beaker."
This feature will allow a Beaker client to specify a list of hostnames which are required for the provisioning task.  This is useful for teams which have reserved a host in Beaker for exclusive use.  Here are the docs from the Beaker project:

https://beaker-project.org/docs/user-guide/job-xml.html

If this feature is currently supported, we should test it and add it to our example topology file.

[2017-03-31 20:33] #149 closed

[2017-04-03 20:44] herlo commented on #133
Fixed by #188

[2017-04-03 20:44] #133 closed

[2017-04-04 15:00] #190 closed

[2017-04-04 15:33] greg-hellings opened #198 "(5) OpenShift Provision Target"
Add support for provisioning containers and other resources in an OpenShift instance alongside existing providers.

[2017-04-04 21:48] herlo commented on #96
Further conversation between myself and @samvarankashyap revealed a semi-solid yaml format in the PinFile which will use hooks. There will be four basic types of hooks:

* pre-provision (likely called `pre-up')
* pre-teardown (likely called `pre-down')
* post-teardown (likely called `post-down')
* post-provision (likely called `post-up')

The last will allow additional state functionality. The con

[2017-04-05 21:14] greg-hellings opened #199 "Strange output formatting"
During a recent run of "linchpin config init"

[code]

[2017-04-05 21:20] greg-hellings opened #200 ""develop" branch fails to execute"
Trying both a `linchpin rise` and a `linchpin validate ...` command from the current (Apr 5) head of the "develop" branch results in the following stack trace:
[code]

Other notes:
Installed directly from source with `pip install -e .`
Checkout directory is `/home/fedora/linchpin` per the stacktrace above
Tried both with my existing config directory and a newly configured directory with bare minim

[2017-04-06 16:15] samvarankashyap commented on #200
@herlo : found the source of bug . The linchpin/cli/__init__.py was not updated during the recent PR .
the file is supposed to look as follows:
[code]

[2017-04-06 16:34] #200 closed

[2017-04-06 21:41] greg-hellings opened #202 "linchpin-config.yml inconsistencies"
I have a linchpin_config.yml generated by linch-pin after asking me a series of questions. I have not edited it. Running `linchpin rise` gives me the following error
[code]
There is no definition of that file in the linchpin_config.yml file, though. Defining it in the linchpin_config.yml file causes execution to proceed as planned.

Note: this is on the `develop` branch.

[2017-04-06 21:42] greg-hellings commented on #202
It might also be worth noting that there is a variable in linchpin_config.yml called `inventory_outputs_path`

[2017-04-11 22:49] greg-hellings opened #204 "(1) Relax dependency pinning as much as possible"
Some packages are pinned with absolute versions (e.g. beaker-client==23.3, ansible==2.2.1.0, etc). These should be relaxed as much as possible, hopefully down to >= dependencies.

Packaging linchpin for distros will feature interruptions to usability if exact versions are pinned in places and then those update from the underlying package manager.

[2017-04-18 14:13] samvarankashyap commented on #204
Ansible has recently released , 2.3 on pypi . I need check whether linchpin works fine w.r.to 2.3 release.

[2017-04-18 20:26] herlo commented on #170
Package reviews are up. If you are a packager, please take a moment to review these packages:

* linchpin: https://bugzilla.redhat.com/show_bug.cgi?id=1441843
* python-yamlordereddictloader: https://bugzilla.redhat.com/show_bug.cgi?id=1441842
* python-camel: https://bugzilla.redhat.com/show_bug.cgi?id=1441841

[2017-04-18 21:02] herlo commented on #202
@greg-hellings is this for the develop branch? I'm going to add some more labels so things can be tagged a bit better.

[2017-04-18 21:24] herlo commented on #150
I believe this to be a duplicate of #144

[2017-04-18 21:24] #150 closed

[2017-04-18 21:26] herlo commented on #144
We have a feature coming for managing resources with unique identifiers. It's currently not scoped, but I suspect it'll hit before 1.0.0.

[2017-04-19 16:00] herlo opened #207 "(1) Add -c --config option to linchpin cli"
Should allow passing a linchpin.conf (or similar) file.

[2017-04-19 16:17] herlo commented on #145
This works in development now.

[2017-04-19 16:17] #145 closed

[2017-04-19 16:18] herlo commented on #145
See #170 for RPM functionality

[2017-04-19 16:21] herlo commented on #146
#206 provides basic ability to do this, but the ansible api 'console' option needs investigating.

[2017-04-19 16:29] herlo opened #208 "(3) Document the new cli workflow"
Variables and user documentation are needed, plus more cleanup and such.

[2017-04-19 16:32] herlo commented on #208
This is in reference to PR #206

[2017-04-19 17:02] seandst commented on #208
A lot of this appears to be done in the PR; I can pick up the task of bringing those PR notes into the sphinx docs and validating them.

[2017-04-19 17:10] herlo commented on #208
@seandst that's exactly the plan here. Something simple like a getting started guide. And then maybe a page describing inputs vs config options, how to use them, and such. Feel free to ask any questions you have.  We do have #linchpin on freenode now too, so if you want to join there, that may be helpful to you as well.

[2017-04-19 18:19] herlo opened #209 "(8) Write tests for the new develop tree"
The jjb should be similar to what we already have. The tests themselves will likely differ greatly.

[2017-04-19 20:06] samvarankashyap opened #210 "Add missing functionalites due to PR #206"
Summary:
The following operations are being commented out in the PR #206 .

- linchpin invgen  # generates inventories based on outputs, layouts
- linchpin validate # validates topology files
- linchpin topology get # fetches topologies from both local , and github repo
- linchpin layout get  # fetches layouts from both local and github repo .

These above functionalities should be rewritten accor

[2017-04-19 21:00] herlo commented on #207
Closed by #206

[2017-04-19 21:00] #207 closed

[2017-04-19 21:01] herlo commented on #202
Closed by #206

[2017-04-19 21:01] #202 closed

[2017-04-19 21:01] herlo commented on #119
Closed by #206

[2017-04-19 21:01] #119 closed

[2017-04-19 21:02] herlo commented on #199
Closed by #206 - the linchpin config init functionality no longer exists. To use the new configuration, see linchpin/linchpin.conf

[2017-04-19 21:02] #199 closed

[2017-04-19 21:03] herlo commented on #128
Fixed by #206

[2017-04-19 21:03] #128 closed

[2017-04-19 21:06] herlo commented on #92
see issue #210

[2017-04-20 23:14] herlo opened #211 "should the find_topology function be broken up?"
Currently, the function find_topology exists in the linchpin/api/__init__.py file, defined in the LinchpinAPI class. The same function exists in linchpin/api/utils.py. Both functions essentially do the same thing.

Considering `find_topology()`'s purpose may help make a decision. The concept of `find_topology()` was to locate a topology when executing `linchpin up`, `linchpin destroy`, or any of t

[2017-04-24 16:41] herlo opened #214 "linchpin up breaks if Babel == 2.4.0"
While working on testing, it appears osc-lib cannot have Babel 2.4.0. requirements.txt should be updated.

[code]

[2017-04-24 16:42] greg-hellings commented on #214
Just literally encountered this less than 3 minutes ago. Pinning to 2.3.4
seems (so far) to work.

On Mon, Apr 24, 2017 at 11:41 AM, Clint Savage <notifications@github.com>
wrote:

[2017-04-24 21:05] herlo commented on #214
Fix is in #215. Requesting a slight change to that, but it should be fixed shortly.

[2017-04-24 23:25] samvarankashyap opened #216 "Rewrite os_heat to remove python-openstackclient as dependency"
Python-openstack client  is responsible for frequent contextual version conflict in linchpin .
python-openstack client is necessary for provisioning openstack heat templates.
In order to remove it, os_heat resource needs to rewritten in linchpin using ansible heat module.
Further, due to python openstack client, many unnecessary packages are installed , like
[code]
Resolving this issue would defin

[2017-04-25 14:35] #214 closed

[2017-04-25 14:36] herlo commented on #216
@samvarankashyap You previously mentioned the ansible heat module was not sufficient for our needs. I assume this has now changed?

[2017-04-25 15:33] smatula opened #217 "Issues to use linchpin API. lp_up and lp_destroy do not return results. No way to control console setting. Returned results are only for OK tasks."
Trying to use linchpin through API, not able to set console to false and no results are returned.
To overcome this temporarily override the following methods in LinchpinAPI: run_playbook, lp_up and lp_destroy. Also, any other front facing calls that call run_playbook to have the ability to set console and should return results.

Also, discovered through testing, the results returned by callback ar

[2017-04-25 17:38] robled commented on #198
I see that the milestone for this is currently v1.1.0.  Is there anything my team can do to get this included in v1.0.0?

[2017-04-26 14:03] samvarankashyap commented on #216
@herlo I believe now we can rewrite linchpin heat resource with ansible module without effecting the existing topology schema.

[2017-05-01 17:36] herlo commented on #198
Does #203 close this issue?

[2017-05-01 19:32] herlo commented on #217
Fixed by #221

[2017-05-01 19:32] #217 closed

[2017-05-02 18:11] smatula opened #225 "Linchpin multiple targets no longer work."
Multiple targets in PinFile. Run linchpin up. Defaults to all. Only one target gets created.

linchpin version 1.0.0a4

[2017-05-02 18:19] smatula opened #226 "Returned results from API calls (up and destroy) when console set to False does not contain failures."
Set console to failure.
Use api to perform up or destroy. Have a setup that will fail. Incorrect authentication value etc...
Results returned only for tasks that were OK. The failed task information is not returned.

PlaybookCallback() method is only capturing v2_runner_on_ok.  Needs to be updated.

Should add v2_runner_on_failed also.  Append failed result to results also.

    def v2_runner_on_f

[2017-05-02 18:45] herlo commented on #225
Thank you for identifying this issue, the problem has been verified. A patch will be coming very soon.

[2017-05-02 18:59] herlo commented on #226
The API call 'lp_rise()' is deprecated, consider using 'lp_up'.

[2017-05-02 18:59] herlo commented on #226
Thank you for identifying this issue. A patch will be coming very soon.

[2017-05-02 19:17] herlo commented on #226
@smatula If you have a moment, feel free to review this issue. I've added you to our collaborators group, so you should be able to give feedback.

[2017-05-03 12:43] gsr-shanks opened #229 "Need a way to retrieve the path to credential store"
We would want to have a way for a user to store/retrieve credentials programmatically and have this value set in assoc_creds of the topology file.

Refer https://url.corp.redhat.com/776ec8f

[2017-05-03 15:09] #198 closed

[2017-05-03 15:19] herlo commented on #159
@robled can you look at this with regard to the latest develop tree?

[2017-05-03 15:20] #208 closed

[2017-05-03 15:24] seandst opened #230 "(3) Document ansible vars from PR #206"
The description of https://github.com/CentOS-PaaS-SIG/linch-pin/pull/206#issue-222544291 (starting with the "INPUTS" heading) contains docs related to the ansible vars used by linchpin that might be useful to users, and should probably be included in the docs on the develop branch.

[2017-05-03 15:25] herlo commented on #226
Fixed by #224

[2017-05-03 15:25] #226 closed

[2017-05-03 15:48] herlo commented on #144
Let's take some time during sprint 3 and scope this out @samvarankashyap

[2017-05-03 16:32] herlo commented on #229
@gsr-shanks Referring you to #76 and any related PRs around this concept.

[2017-05-03 17:04] robled commented on #209
In the cinch project we are using codecov.io for coverage reports.  See this PR for an implementation example for that as well as some basic unit tests running in Travis:

https://github.com/RedHatQE/cinch/pull/74

[2017-05-03 19:43] #225 closed

[2017-05-04 22:25] herlo commented on #76
An update to our topology and command-line functionality essentially came to this example topology:

[code]

[2017-05-05 18:50] seandst commented on #196
It turns out this probably never worked, because the beaker client handles the "hostrequire" thing kinda specially. The syntax used in examples that I've seen is (in a beaker recipeset in the topology):
[code]

The actual syntax to get this working (again, in a recipeset), is
[code]

If `ignore_system_status` is true, the beaker client lib translates the 'machine' var into the`<hostRequires force=

[2017-05-05 19:59] herlo commented on #211
Per discussions, we are going to create new functionality for topology/layout get/list functionality as a separate process. Closing this issue.

[2017-05-05 19:59] #211 closed

[2017-05-08 14:39] seandst commented on #196
After mulling on this for a little bit and looking into the beaker client code, I have more thoughts.

The second example, where you add the `machine` and `ignore_system_status` vars for passing through to the beaker client, works well enough, but _is not_ how the beaker API works. That's entirely invented by the beaker client. The `ignore_system_status` var must be used in conjunction with `machi

[2017-05-08 15:38] herlo commented on #196
I like the analysis here. If we're to consider linchpin's maintainability above all else, I love this restructuring. I personally like both yaml options you've mentioned here. The json schema would be the only limitation in my mind.

WRT xml templating, check out how I did processing of the xml files in the libvirt role for both libvirt_node and libvirt_network. You can use it as a simple model fo

[2017-05-08 15:40] #204 closed

[2017-05-08 17:18] herlo opened #232 "Inventory generation inputs seem incomplete"
On line 8 of [inventory_gen/tasks/main.yml](https://github.com/CentOS-PaaS-SIG/linch-pin/blob/develop/linchpin/provision/roles/inventory_gen/tasks/main.yml#L8), I noticed that we don't process all of the outputs, see line 4 of [output_writer/tasks/main.yml](https://github.com/CentOS-PaaS-SIG/linch-pin/blob/develop/linchpin/provision/roles/output_writer/tasks/main.yml#L4) to line this up.

Is there

[2017-05-08 17:51] seandst commented on #196
Thanks, @herlo. I'll have code up for this shortly showing it, but the XML construction was easy enough inside the bkr_server module. The schema changes were pretty minimal, but I also didn't dig down too deep into the "hostrequires" structure, just specified that "hostrequires" is valid.

[2017-05-08 18:13] samvarankashyap commented on #232
@herlo : It's intentional , because inventory generation is with respect to the virtual machine instances only. Whereas the output writer dumps every output that's being generated by the topology resources.
Hope that answers your question.  Inventory generation for resources like s3 buckets and security groups are irrelevant . If we would like to have it we can have them as a part of vars inside i

[2017-05-08 20:43] herlo commented on #232
It does seem that this was intentional, however, it was not completely clear.  Specifically, I noticed that rax_server was not included in the inventory generator stuff. I figured that one at least needed some attention. Additionally, it did seem that the security groups ones might become useful in an inventory in the future when relating between two types of clouds, though that might be handled d

[2017-05-08 22:47] herlo opened #233 "(1) LinchpinAPI needs get/set_workspace method"
To ensure that the workspace value is consistently set throughout the up/destroy/down processes, it has become increasingly noticeable that the workspace is passed in as a direct setting value. However, as the API matures, if a user wishes to set this value a getter/setter should be created.

[2017-05-09 14:26] samvarankashyap commented on #76
As per discussion with @herlo . We came to following agreements:

1. The credentials will be handled by default mechanism followed by ansible modules (i.e, ENV variables) if not provided .
2. However , end user will have an option to override the credentials by providing --cred-path LINCHPIN_CREDS environment variable which should point to one or more folder paths.
3.  If there is no override, the

[2017-05-09 15:08] herlo commented on #76
The order of resolution seems incorrect, iv and v should be swapped. This is a first found resolution, therefore Environrment variables should be resolved first, because they take precedence over the configuration files.

[2017-05-09 16:47] seandst commented on #196
One minor tweak is that, in looking at [the beaker docs](https://beaker-project.org/docs/user-guide/job-xml.html), it's not clear to me what the valid values for hostRequires elements are, let alone how to declare them as part of a schema. The `(key, op, value)` idea doesn't work with, say, the `<device op = "==" type="network"/>` requirement. The only thing that I see is required would be the "ke

[2017-05-09 17:49] gsr-shanks commented on #76
IMO the order should be:

1. LINCHPIN_CREDS env var
2. Environment variables ( OS_USERNAME, AWS_SECRETID etc.,)
3. creds_path
4. credentials folder in workspace
5. default creds, ie., clouds.yaml/ boto.ini

First 2 are env vars which takes precedence over any and the next 2 require user action before the default kicks in.

`- shanks`

[2017-05-09 18:38] herlo commented on #76
I think some clarification on what these things mean might be helpful. I agree that environment variables take precedence, except when a value is passed on the command line.

The 'creds_path' value listed here is actually a command line option. It should have been --creds-path, which the click library will turn into creds_path variable. The environment variable associated with this can also be use

[2017-05-10 17:49] samvarankashyap commented on #76
With the current workflow it would be difficult to accommodate the above resolution. But, I feel following is better.
1. --creds_path on the cli ( possible)
2. LINCHPIN_CREDS (which is passed via the creds_path variable using click) ( possible use env var if not mentioned)
3. credentials folder in workspace, with appropriate directory structure and config file
4. ENV_VARS (OS_USERNAME, etc...)
5.

[2017-05-10 18:11] herlo commented on #76
To clarify, the option is `--creds-path` on the cli (with a dash, not an underscore). Click converts this to `creds_path` (with an underscore).

As for the order of resolution, I can agree with both points of view. What if we were to remove the credentials folder requirement? We can still have that simply by pointing the `--creds-path` or `LP_CREDENTIALS` to the workspace path.

[2017-05-10 18:26] samvarankashyap opened #235 "(POC) (8) Schema rewrite in Cerberus (with unit tests)"
Currently linchpin uses schema_check module which uses json schema file to validate the topologies.
But its not extensible . In order to keep it more modular and extensible schema_check needs to be moved to linchpin api and rewritten.
python cerberus is a module that helps us achieve the same.
http://docs.python-cerberus.org/en/stable/
Further, It also helps us write better unit tests for schema_v

[2017-05-10 18:56] herlo commented on #235
This is awesome!

Please be sure to pay attention to the unit tests I've written recently in the api_tests branch (https://github.com/herlo/linch-pin/tree/api_tests) as a model for your unit tests.

[2017-05-11 16:13] greg-hellings commented on #170
All the deps are packaged, but the reviewer for linchpin itself wants to wait until 1.0 because of all the extra noise dropped into site-packages by the 0.9.1 release.

[2017-05-16 17:17] robled commented on #159
Just tested using the latest code from **develop** as of the time of this post, but I still get exit code zero if I simulate a provisioning failure:

[code]

[2017-05-16 21:34] herlo commented on #159
After pondering this some, it's clear this is not a simple thing to resolve. In fact, there are many things to consider. For instance, what if the provisioning works for one of the topologies, but not the other. Is that still a failure? And if so, what error code do we assign? It also brings up the question of whether or not things should continue running on a failure of one particular action. Som

[2017-05-17 15:07] #185 closed

[2017-05-17 15:09] herlo opened #239 "(3) Hook up the travis and jjb for the develop tree"
See #209 for reference. But essentially this needs to run those tests in jenkins and/or travis as applicable.

[2017-05-17 15:11] herlo opened #240 "Create and Distribute LinchPin RPM"

[2017-05-17 15:17] herlo opened #241 "(8) Linchpin hooks don't stop upon previous failure"
Currently, when a playbook, or anything really, fails with linchpin, the hooks do not stop execution.

We need to consider what options are best, and how to handle failures in most cases. Should there be a global 'hooks_on_fail' flag, and/or individual options for hooks that would normally run after any failures.

[2017-05-17 15:57] #232 closed

[2017-05-17 16:42] herlo commented on #170
Split this into two tasks. See #240 for the linchpin RPM package itself.

[2017-05-17 16:42] #170 closed

[2017-05-18 04:25] herlo commented on #109
![](https://github.trello.services/images/mini-trello-icon.png) [Network Provisioning](https://trello.com/c/CoT6YyT8/1-network-provisioning)

[2017-05-18 20:14] #182 closed

[2017-05-18 20:14] #196 closed

[2017-05-19 21:55] #96 closed

[2017-05-23 18:17] samvarankashyap opened #243 "Drop support for schema_v3"
From recent discussions PR #236 . Its agreed upon to drop the support for schema_v3 from 1.1.0 release.
Note:
However, schema_v3 continuous to work with the resource_group_types except openstack, aws, gcloud due to recent changes in authentication mechanism using auth_driver PR #236 .
Further , all the other playbooks for provisioning are to be updated in accordance with how authdriver parses file

[2017-05-23 18:19] #76 closed

[2017-05-23 18:20] samvarankashyap opened #244 "Update example topology files and documentation w.r.to schema_v4"
$Subject
All the examples and documentation regards to aws, openstack gcloud are to be changed w.r.to schema_v4 as the schema_v3 syntax is no longer supported.

[2017-05-23 19:29] samvarankashyap commented on #239
@herlo : can we close this issue as travis is already in place? we can have another issue for jjb .

[2017-05-23 19:31] samvarankashyap commented on #229
@gsr-shanks @herlo  Hope the recent PR #236  fixes this issue . If so we can close it.

[2017-05-23 19:34] samvarankashyap commented on #174
@seandst As you might have already tested cinch playbooks for check_ssh . It would be great if you can post a github repository with linchpin workspace with example Pinfile, Hooks folder to make it work.

[2017-05-23 20:48] herlo commented on #239
@samvarankashyap sure, I'll close it and open one for integration tests and jenkins jobs.

[2017-05-23 20:48] #239 closed

[2017-05-23 20:53] herlo opened #247 "Automate the integration tests for the develop tree"
Integration tests, unlike the now in-place, unit tests, need to have systems provisioned to verify they work. To that end, they'll need actual systems to provision in aws ec2, gce, openstack and the like.

To complete this task, a simple provisioning and simple teardown task will need to work in Jenkins (or equivalent) for the following cloud providers:

* EC2
* Openstack
* Google Cloud

[2017-05-23 23:11] herlo commented on #174
Putting it into LinchPin proper seems like a good choice as our first built-in hook. :)

[2017-05-24 04:29] Nixon1517 opened #248 "r"

[2017-05-24 16:20] #248 closed

[2017-05-24 16:24] #229 closed

[2017-05-24 16:26] #209 closed

[2017-05-24 16:28] herlo commented on #209
Resolved by #242. More to come, see #247

[2017-05-24 17:35] herlo commented on #159
Per discussions with @robled and @samvarankashyap and others, we decided to approach this piecemeal. For the command line interface, a return code of 1 will be given if any failure happens along the way. Essentially, each command-line function will be wrapped in a try/except clause. When an exception is raised, the cli tooling will return error codes that match the ones here: https://github.com/an

[2017-05-24 18:53] herlo commented on #158
After conversations here at PyCon, I discovered an easy way to implement this by adjusting the host value. After provisioning the first node, modify `linchpin/provision/hosts` to represent `localhost` as a remote node. From there, run linchpin again to configure and provision libvirt machines on the remote node. The useful part is to abuse the `hosts` file feature which allows us to first run on l

[2017-05-24 19:00] herlo commented on #148
This is similar to #111

[2017-05-24 19:01] herlo commented on #146
I think this is done as specified.

[2017-05-24 19:01] #146 closed

[2017-05-24 20:56] herlo commented on #210
This bug already exists as #92, closing.

[2017-05-24 20:56] #210 closed

[2017-05-25 18:20] robled commented on #159
I haven't done enough development on linch-pin to be authoritative on the best way to implement this, but what @herlo just suggested sounds like it will work just fine for my use case.

[2017-05-30 16:55] #230 closed

[2017-05-30 18:04] danalanerh opened #250 "RFE: LinchPin support for creating VMs on both RHEV and RHEL"
My team is currently using linchpin as our default provisioner and as part of our solution testing, we need to be able to generate VMs on RHEV and RHEL. Being able to do this via linchpin would allow us to remain consistent in our tests rather than having to script this on our own.

[2017-05-30 20:31] herlo opened #251 "linchpin command line -cp option is invalid"
When working on documentation, I discovered the -cp option (short for --creds-path), which was added in a recent PR.

The option -cp would imply -c and -p in a bash shell and therefore is invalid.  Removing the short option seems appropriate.

[2017-05-30 20:33] herlo commented on #250
VMs on RHEL exists as of now with the Libvirt driver, which has been around since v0.9.0. If this is not what you want, please clarify the description above.

[2017-05-30 20:37] #251 closed

[2017-05-30 20:38] herlo commented on #244
I don't think this is necessary as we're going to move to schemas per driver solution.

[2017-05-30 20:38] #244 closed

[2017-05-30 21:35] herlo opened #253 "ctx object not valid in api/__init__.py"
It appears a particular ctx object needs self in front of it.

[code]
This issue can easily be fixed by adding `self` in front of the `ctx` on line 155.

[2017-05-30 21:39] herlo opened #254 "If topology is not found, it is set to None"
After temporarily fixing #253, if the topology is not found, an AttributeError is thrown because find_topology returns None.

[code]
I added the following code, which returns a cleaner LinchpinError. The error can then be handled by the runcli methods in ``linchpin/__init__.py``.

[code]

[2017-05-31 12:40] danalanerh commented on #250
I understand we can do this with the libvirt driver, but one of the nice
features of linchpin is the output of an inventory file that we can use for
applying playbooks after the provision. Yes, we can write a script to use
libvirt and then hand create an inventory file based on that but it would
be nice to be able to have a consistent flow for generating VMs and ansible
inventory files.

On Tue, M

[2017-05-31 15:51] #253 closed

[2017-05-31 20:28] herlo commented on #247
Referencing #158 as a similar task for this issue.

[2017-05-31 20:29] herlo opened #257 "(3) More Unit Tests"
- coverage
- flake8
- cli fail testing
- api fail testing
- linchpin-lib pass/fail testing

[2017-05-31 20:36] herlo opened #258 "Stateful Logging / Console Display"
Report transitions between states
  - (prehooks -> up -> posthooks -> resources -> postreshooks? -> inventory_generation -> postgenhooks)

[2017-06-01 15:11] #254 closed

[2017-06-01 15:11] #159 closed

[2017-06-02 19:08] samvarankashyap opened #263 "linchpin destroy duffy error after 1.0 upgrade"
Tried linchpin destroy duffy
[code]

[2017-06-02 19:12] samvarankashyap commented on #263
@herlo same error with linchpin up
[code]

[2017-06-02 19:15] dustymabe opened #264 "1.0 error with linchpin init/linchpin up"
I tried `linchpin init` and `linchpin up` with 1.0.0 from pip and I see this error:

[code]

[code]

Note I did not use virtualenv, just pip directly.

[2017-06-02 19:16] samvarankashyap commented on #263
@herlo
[code]
that might be a reason

[2017-06-02 19:47] samvarankashyap commented on #264
@herlo its because of following code snippet in provision/roles/common/tasks/main.yml +101
[code]

I wonder why this error is raised only when used with libvirt , When ran by provisioning duffy nodes it works fine .
I added ignore_errors: yes to both of the tasks and provision ran into another issue
[code]
later i realised i have to install , libvirt extra dependencies too by
[code]

later i ran i

[2017-06-02 20:01] samvarankashyap commented on #264
@herlo @dustymabe : update

I am working on a centos machine , I camed to know that centos has moved their qemu-kvm binary from /usr/bin/qemu-kvm to  /usr/libexec/qemu-kvm.
so inorder to make the above work .
I ran the following command
[code]
after the above i ran linchpin up example_target
it successfully provisioned the libvirt instance.
However , at the end of the provisioning i ran into follo

[2017-06-02 20:23] samvarankashyap commented on #264
@dustymabe @herlo  Fixed with recent PR #266

The problem identified is due to a map filter which is not available on centos , however . There are two extra tasks on common role which are to be changed for consistency for filtering resource groups , ultimately fixed issue @dustymabe faces .
libvirt provisioning now works on example target provided , all the dependecies are correctly installed on m

[2017-06-02 20:24] samvarankashyap commented on #264
@herlo could you please review both #266  #265 and release a hotfix on linchpin 1.0 ASAP .
Thanks.

[2017-06-05 14:17] danalanerh opened #267 "linchpin rise/up error since upgrade to 1.0.0"
Running linchpin/cinch in a virtual environment. Did a linchpin upgrade with the command:

[code]

Following the upgrade run the command linchpin rise or linchpin up;

[code]

PinFile:
[code]

topology file:
[code]

[2017-06-05 15:29] danalanerh commented on #267
Addiotnal debugging info: Updated the topology file and moved the credential file to what I believe is the proper location (Thanks David!)

Here is updated output:
https://pastebin.com/CSRbmuV9

[2017-06-05 15:42] herlo commented on #267
See PR #268. I expect this to be merged today, at which point you can test and see if the fix works for you.

[2017-06-05 15:45] #263 closed

[2017-06-05 15:47] herlo commented on #267
Fixed by #268, please verify and reopen this issue if needed.

[2017-06-05 15:49] herlo commented on #264
It appears there are two problems here. One is the symlinking of qemu-kvm to the right place. I don't think that's a good solution overall. Digging for a new one. Can we make a separate issue for this problem?

[2017-06-05 15:54] samvarankashyap commented on #264
@herlo sure .

[2017-06-05 15:59] samvarankashyap opened #269 "libvirt provisioning does not work on centos/rhel machines"
qemu-kvm moved from /usr/bin to /usr/libexec, in the release of RHEL-6 and centos6
[code]

Quick fix for this would be creating a symbolic link
[code]
However , it works seamlessly on fedora hosts.

[2017-06-05 16:00] samvarankashyap commented on #264
@herlo  #269

[2017-06-05 16:50] herlo commented on #269
The problem with this is the way the template handles the qemu-kvm binary. The path `/usr/bin/qemu-kvm` is hardcoded here. All that needs to happen is that the playbooks need to discover the path for the qemu-kvm binary and pass it to the virt_node play.

I am digging into this now.

[2017-06-05 17:33] danalanerh commented on #267
Still failing in the same manner. Fails the checking topology against scheme_v3 and against schema_v4

TASK [common : check topology file against schema_v3] **************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": {"output": "ValidationError: {u'credentials': [{u'profile': u'e2e-openstack'}, {u'auth_type': u'file:os_creds.yml'}], u'res_group_type': u'open

[2017-06-05 20:05] herlo commented on #267
Alright, I got things working with a small set of adjustments. For schema_v4 (which is recommended), I suggest using something like this:

[code]

What you might notice is that assoc_creds is not there. In v1.0.0, credentials default back to your system's credentials management according to the cloud provider used. In this case, that would be either ENV variables, or clouds.yaml (detail here: http

[2017-06-05 20:05] herlo commented on #267
@danalanerh see above comment.

[2017-06-05 20:10] herlo commented on #267
@danalanerh A couple other things for sanity, we've currently removed any upstream management, so taking out the following lines from the `PinFile` is going to help:
[code]
For Github, if you want to comment code, you can use three backticks (```) above and below the code you want to share. It makes reading the code cleaner. Github provides a nice 'Preview' tab with each comment to make it easy fo

[2017-06-05 20:55] #264 closed

[2017-06-06 15:57] #267 closed

[2017-06-06 18:07] danalanerh opened #271 "Unable to get topology file to pass schema validation"
I'm using a topology file provided to me by Clint and linchpin up is still failing the schema validation check.

'''
TASK [common : check topology file against schema_v3] **************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": {"output": "ValidationError: {u'resource_group_name': u'CSS-testgroup', u'resource_definitions': [{u'count': 1, u'name': u'resour

[2017-06-06 18:16] herlo commented on #271
@danalanerh  Have you pulled down the latest code from the develop branch here on github?

[2017-06-06 18:20] herlo commented on #271
@danalanerh the reason I ask, is that I can validate the above. See below:

[code]
I copied your topology exactly, as you can see above. I then validated it against `schema_v4`

[code]

[2017-06-06 18:24] danalanerh commented on #271
As far as I know I did. I tried two different ways.

1) I did a pip install -U linchpin==1.0.0 on my existing configuration. This fails in the same way
2) I created a new virtual env and then brought down the repo and did a pip install .

Both environments fail with the exact same failure. Both environments show linchpin version 1.0.0 when I do a pip freeze.

What other method can I use to verify

[2017-06-06 19:15] herlo commented on #271
We can't just update a release like that. A new version number would be
released to fix the problem. To update this fix, you would have to check it
out from GitHub directly. See
https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/CONTRIBUTING.rst
on how to checkout and participate.

On Jun 6, 2017 12:24 PM, "danalanerh" <notifications@github.com> wrote:

[2017-06-06 19:33] danalanerh commented on #271
From an e-mail you sent me:

$ git clone git://github.com:/CentOS-PaaS-SIG/linchpin.git
$ cd linchpin
$ mkvirtualenv venv #or some name you like
$ workon venv # or the name you chose above
$ pip install . # yes, that is a dot! :)

So, you're saying that's not correct?

[2017-06-06 19:45] herlo commented on #271
Yes, that way is correct. In the previous comment, you didn't do this, you
said install 1.0.0, or at least that's how I read it.

The code was merged this morning, and it works just fine with what's there.
I'm not sure why you are having issues if you've updated (or created a new
virtualenv and installed there again). Maybe try again with a clean
environment?

On Jun 6, 2017 1:33 PM, "danalanerh"

[2017-06-06 20:35] #269 closed

[2017-06-07 13:15] danalanerh commented on #271
I was able to get this to pass the V4 schema check. In my existing vagrant VM, I created a new venv (2nd time) and pulled down the repo and did the pip install . Now I'm past the schema check. So, something set up in the vagrant VM is needed for the virtual env to work properly. Anyway, I'm past this. Thanks!

[2017-06-07 15:13] herlo commented on #271
@danalanerh here's an example topology and blanked out clouds.yaml for your reference.

topology
[code]

clouds.yaml
[code]

Hope this helps you in your ventures.

[2017-06-07 15:32] danalanerh commented on #271
Sorry to be a PITA but one last question. I'm putting clouds.yaml in my current folder, the folder I'm running the linchpin up command from and I'm getting the following;

[code]
According to the following page that should work:
https://docs.openstack.org/developer/python-openstackclient/configuration.html

The stack trace appears to be saying that I'm missing required options, but I'm not seeing

[2017-06-07 16:00] herlo commented on #271
@danalanerh It looks like there's actually a bug in the auth_driver. I've been digging down on it this morning.

Would you mind taking this latest issue, and filing a new bug about the auth_driver failing? I'd like to get a proper fix in place and track it separately. Thanks!

[2017-06-07 16:00] #271 closed

[2017-06-07 16:01] herlo commented on #271
I should also mention, that PR #273 ran into this issue also, and became a bit larger than initially planned. It will be the PR that should fix this problem.

[2017-06-07 16:32] danalanerh commented on #271
Will do. I'll file a bug right now.

On Wed, Jun 7, 2017 at 12:01 PM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-07 16:39] danalanerh opened #274 "Authorization failing with linchpin 1.0.0"
Getting the following error when invoking linchpin with clouds.yaml living in the current folder;

linchpin -v up (I also tried linchpin -v --creds-path clouds.yaml up)
.
.
.
TASK [openstack : set cred profile] ********************************************
ok: [localhost]

TASK [openstack : Get creds from auth driver] **********************************
fatal: [localhost]: FAILED! => {"changed": fal

[2017-06-07 16:39] danalanerh commented on #271
https://github.com/CentOS-PaaS-SIG/linchpin/issues/274

On Wed, Jun 7, 2017 at 12:32 PM, Dana Lane <dlane@redhat.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-07 17:19] herlo commented on #274
@danalanerh where does your clouds.yaml file live on the filesystem?

[2017-06-07 18:20] danalanerh commented on #274
I tried it 3 different locations with clouds.yaml. It currently lives in all 3 of the following location. I also tried it with and without the --creds-path pointing at the file in all 3 locations, 1 at a time.

1) Current folder, the folder I'm running the linchpin up command
2) /etc/openstack/cloud.yaml
3) and ~/.config/openstack/clouds.yaml

[2017-06-07 22:01] samvarankashyap opened #275 "Inventory generation fails as resource outputs are not generated"
Inventory generation fails
[code]

[2017-06-07 22:06] samvarankashyap commented on #275
topology , layout and Pinfile
[http://pastebin.centos.org/100971/](http://pastebin.centos.org/100971/)

[2017-06-09 11:46] danalanerh opened #276 "linchpin 1.0.0 unable to provision beaker resource"
Starting with a fresh install, new virtualenv and fresh install of linchpin directly from the latest repo.

Running the linchpin -v up command results in the following;
[code]

My PinFile:
[code]

My topology file: (Structure copied directly from the examples folder on github)
[code]

[2017-06-09 13:06] #274 closed

[2017-06-09 13:06] #275 closed

[2017-06-09 14:08] seandst commented on #276
"hostrequire" is gone in 1.0, replaced with "hostrequires" and more flexible compatibility with the beaker API:
http://linchpin.readthedocs.io/en/develop/topologies_beaker.html#requiring-specific-hosts

Is there an outdated example that needs to be updated?

[2017-06-09 14:14] danalanerh commented on #276
I see where I missed the s in the example. Still getting the same failure though;

Exceprted from the log:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named bkr.client.task_watcher

Is there something else that needs to get installed other than the standard linchpin?

[2017-06-09 14:16] danalanerh commented on #276
Also, is there a list of tags available in the hostrequires field?

[2017-06-09 14:35] seandst commented on #276
Yeah, you'll need `beaker-client`, which should pull in the rest of its dependencies when installed. I believe that's the name of fedora package, as well as the pip package, but I'm not  100% sure.

I haven't found a list of tags available with the hostrequires field, but would definitely love one.

The new syntax, using "arch" as an example, would look like
[code]

I haven't yet found a list of t

[2017-06-09 15:00] danalanerh commented on #276
Had to install beaker-client and python-krbv. New error:
[code]

[2017-06-09 15:31] p3ck commented on #276
I see that it's failing to verify the certificate.  You can use the following command line tool to verify that you have the correct certs installed to verify the host you are connecting to.

openssl s_client -connect FQDN:443

replace FQDN with the fully qualified domain name of the beaker system.  If the key is self signed or signed by a non-public cert you will need to import it to your system.

[2017-06-12 19:22] danalanerh commented on #276
I'm now able to provision beaker instances. I'm not able to provision from a specific pool or use the hostrequires field with hostname, but I'll file a separate issue for that.

[2017-06-12 19:25] danalanerh opened #278 "(5) Linchpin won't provision from the specified job_group (pool)"
When specifying the job_group (Pool) with the systems my group owns, this field appears to be ignored and I get systems from the general open pool instead.

topology file:
[code]

This works and I get 3 beaker systems, but they are NOT part of the job_group (Pool) CS&S.
=====================
I also tried to specify specific systems using the hostrequires field and they fail with a no systems match

[2017-06-12 19:53] robled opened #279 "Allow auth driver cred_path variable to be overridden via a topology file"
As of linch-pin 1.0.0, credentials for a provider like OpenStack must be stored in **~/.config/openstack** or if not, then the CLI option **--creds-path** must be specified to override this path.  For the CI use case, storing credentials in **~/.config/openstack** is not ideal for an environment like Jenkins where many users are sharing the system, and each job really should be able to have its ow

[2017-06-12 20:02] seandst commented on #278
This is two separate issues, job_group and hostrequires are unrelated.

It does not appear to be ignored. In the examples you sent, the job group is definitely set to "CS&S", and the beaker UI shows the job to be associated with the CS&S group. Why beaker doesn't choose to use systems from the pool related to that group is a good question, but as far as I can tell unrelated to linchpin.

Here's an

[2017-06-12 20:04] herlo commented on #279
Personally, I don't want to put more in the topology to accommodate this feature. I put the ~/.config/openstack in the openstack driver purposely to accomplish two things. One, test the waters of where the credentials should land. And two, have a sane default for now.

To that end, I get that having configuration files to handle this seems like a good place to go. As mentioned in discussions on #l

[2017-06-12 20:06] robled commented on #279
As long as we can store the customized **linchpin.conf** in the linchpin workspace and have it be read automatically then this will work fine for me.

[2017-06-12 20:41] herlo commented on #279
That's always been an option. :)

[2017-06-12 21:20] #279 closed

[2017-06-14 15:03] #276 closed

[2017-06-14 15:05] herlo commented on #250
@danalanerh Two things here. Libvirt can already create everything you need, include an inventory file. But I think what you are after is an oVirt/RHEV driver that will provision using that API. Correct me if I'm wrong.

[2017-06-14 15:10] herlo opened #282 "(5) Upgrade to Ansible 2.3"
Testing needs to occur to make sure no major hiccups occur.

[2017-06-14 15:12] herlo opened #283 "Python 3 compatibility"
Rework anything that doesn't meet the Python 3.6 requirements to be compatible. The code needs to continue to be 2.7+ compatible as well.

See https://docs.python.org/3/howto/pyporting.html

[2017-06-14 15:39] herlo opened #284 "(8) Create unique identifier for provisioned resources"
See #150
See #144

The concept here is that based upon the target data, topology and optional layout, we create a unique value that can be tracked for a specific provisioning action. This can be looked up properly and consistently.

[2017-06-14 15:40] #144 closed

[2017-06-14 15:58] herlo commented on #282
Move requirements.txt to >= instead of == for ansible

[2017-06-15 13:49] danalanerh opened #285 "Linchpin and Jenkins both using variable $WORKSPACE causing issue"
jenkins has a defined variable $WORKSPACE that points to the workspace of the job being executed. This is causing linchpin to look in THAT folder for the PinFile instead of the current folder linchpin is being executed from. Wth both jenkins and linchpin using $WORKSPACE, there is a conflict. Can we have a way of overriding this variable for linchpin without blowing away the jenkins variable?

[2017-06-15 14:26] herlo commented on #285
pass -w WORKSPACE on the command line works just fine.

[2017-06-15 14:26] #285 closed

[2017-06-15 14:52] danalanerh commented on #285
As in linchpin -w path/to/linchpin/workspace ?

[2017-06-15 15:08] herlo commented on #285
Exactly. That should diverge the environmental workspace and the linchpin workspace.

[2017-06-15 15:14] danalanerh commented on #285
Okay, I can work with that

On Thu, Jun 15, 2017 at 11:08 AM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-15 15:41] robled commented on #279
Thanks for getting this included in v1.0.1.  I'm testing it now and this is the configuration I'm using to allow the credentials to be read via workspace/credentials:

`default_credentials_path = {{ lookup('env', 'PWD') }}/credentials`

[2017-06-15 16:08] robled opened #286 "Allow locally-modified linchpin.conf to override only the values defined in that file."
If a user would like to modify a setting in the default linchpin.conf, rather than making a copy of the entire file and modifying a single setting, a more ideal scenario would be to just define the single setting you want to change in your local linchpin.conf, and then have the rest of the settings fall back to the default linchpin.conf provided by the package.  As it stands right now I seem to ne

[2017-06-15 17:05] danalanerh commented on #279
This is interesting and I'm all for the idea of using an environment
variable to point to the credentials. Makes automation easier. :)

On Thu, Jun 15, 2017 at 11:41 AM, robled <notifications@github.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-15 17:48] robled opened #287 "Support variable expansion in layout files"
I've got a var in my layout file that I would like for linchpin to expand *before* it creates the output topology:

`ansible_private_key_file: "{{ workspace }}/keystore/mykey"`

In my case I'm keeping my SSH key in the linchpin workspace, and for my follow-up Ansible playbooks I would like to have this var expanded to the correct path so that those playbooks can find the correct SSH key.

[2017-06-15 17:49] herlo commented on #279
This can already be done. Rather than doing that, why not set $CREDS_PATH env variable? If you do that, it'll know where to look automatically from the cli onward.

[2017-06-15 17:51] herlo commented on #279
Plus, $PWD is probably not the directory you think it's going to be. It'll be somewhere in the executing path, something like /path/to/python/lib/site-packages/linchpin. I doubt that's really where you want to put your credentials.

[2017-06-15 18:00] robled commented on #279
The **$PWD** setting I posted about works for me, in that I'm using linchpin like vagrant where I `cd` to the workspace directory and just run `linchpin up`.  Keeping the required CLI arguments very trim is my goal, in that it helps in CI workflows where a bunch of Jenkins jobs don't need to get updated for CLI changes and rather we can just keep all the topology/workspace/etc stuff in a single se

[2017-06-15 18:08] herlo commented on #287
If something is set as an extra var in linchpin.conf, it should be expanded. The only value that is built-in is lp_path, which evaluates to the linchpin library path. If you set that value in the [evars] section, it should be interpolated properly.

[2017-06-15 18:10] herlo commented on #286
I thought this was the way it worked. I'll doublecheck this and if not, we can add this to the 1.1 spec.

[2017-06-15 18:13] herlo commented on #279
If it works for you, great. I was thinking it wouldn't because Ansible changes the directory from where it's running. This may be a bonus side effect of running from the API with the `linchpin` cli.

[2017-06-15 19:55] greg-hellings commented on #287
Per my advice, David is going to skip putting variables into the layouts
file and use proper Ansible methodology of including a group_vars folder
alongside his inventory files. This will get picked up by subsequent
Ansible runs against the generated inventory and can directly leverage
values like {{ inventory_dir }} to give the relative path to the file.

[2017-06-15 19:58] herlo commented on #287
Does that mean that this issue can be closed?

[2017-06-15 20:01] robled commented on #287
I'm fine with closing this since @greg-hellings found a solution that removes my need for this.

[2017-06-15 20:03] #287 closed

[2017-06-19 14:33] danalanerh commented on #250
I'm sorry, I think I misunderstood. Looks like linchpin can currently
provision using libvirt. The sample topology files don't seem to apply
anymore. Is there an updated sample topology file I can use to test this
and see if it will meet our needs?

On Wed, May 31, 2017 at 8:40 AM, Dana Lane <dlane@redhat.com> wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-19 14:53] herlo commented on #250
@danalanerh the 'linchpin init' currently gives you a linchpin topology and layout file you can use out of the box. I'm planning to change that in the future, but it should work for you.

[2017-06-19 15:00] seandst commented on #278
After asking some beaker devs about this, I'd like to share what I've learned. The behavior of automatically picking a host from a system pool based on the job group is no longer the default in beaker. In our instance, my test group still behaves this way, but newer groups will not. The solution is to explicitly declare a host requirement naming the system pool to be used. In a linchpin topology f

[2017-06-19 15:13] danalanerh commented on #278
I'll try this first thing and let you know.

On Mon, Jun 19, 2017 at 11:00 AM, Sean Myers <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-19 15:20] danalanerh commented on #278
New topology file:
[code]

This results in a failure:  Recipe ID 3965458 does not match any systems

[2017-06-19 15:42] seandst commented on #278
Since it's an internal URL, I replied via IRC with a link and some thoughts. I can email those if you'd prefer.

[2017-06-19 16:41] seandst commented on #278
Alright, we're making progress, and this hostrequires pool syntax seems to be doing the trick. We also noticed the beaker has no keyvalue data stored for some (maybe all?) systems in the CS&S system pool, which was causing those matches to fail.

I think I've got enough info here to fix up the docs, so I'll get started on that this afternoon.

[2017-06-19 17:29] danalanerh commented on #278
Removing the keyvalue data and using hostrequires with a tag of pool works as expected. I think I can close this issue as this functionality works now.

[2017-06-19 18:16] seandst commented on #278
^ is still true. I'm doing a little more testing, but the docs definitely need to be fixed. I've also learned some things about beaker that might result in changes to the provisioner to make it a little more flexible.

[2017-06-20 13:55] danalanerh commented on #250
Is there an example on using libvirt to provision on a remote RHEL system?
Is this possible?

On Mon, Jun 19, 2017 at 10:53 AM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-20 15:09] seandst commented on #250
I think it's probably possible, since you can use the `LIBVIRT_DEFAULT_URI` environment variable, for example, to cause libvirt calls to connect to a different hypervisor than the local one by default. This causes problems with the default (nat) network config, since the provisioned machines may not then be available via SSH to the machine running linchpin.

I'm just thinking out loud a little her

[2017-06-20 15:11] seandst commented on #250
Since this is effectively two RFEs, one for libvirt/RHEL support, and the other for RHEV, and since it appears the libvirt/RHEL requirement appears to be met, can we make this issue only track adding RHEV support to linchpin?

[2017-06-20 15:11] herlo commented on #250
The uri option is available in the schema as well. In fact, the `linchpin init` version has that in the topology.

[code]

[2017-06-20 15:12] seandst commented on #250
Nice, I should've checked first.

[2017-06-20 15:13] herlo commented on #250
Also, to your point about the after effect of being available to the host from which linchpin provisions. That would seem a problem best solved by the user. It's not something linchpin can control or really should have to control. At least this is currently my take.

[2017-06-20 15:13] #278 closed

[2017-06-20 15:17] herlo commented on #250
@seandst I'm working on the RoadMap later today and will be checking to make sure (or creating more) issues are in place to get us to 1.1 in a reasonable timeline. The RHEV/oVirt task was targeted for 1.2 (currently planned for around October 1).

[2017-06-20 15:20] seandst commented on #250
I completely agree.

[2017-06-20 20:23] danalanerh opened #289 "Partial completion of beaker provision results in no inventory file"
Provisioning multiple machines, all but one pass with one failure and there is no inventory file created for the ones that passed. For us, this means we either have to build the inventory file by hand or redo the provisioning and hope it passes.

topology file:
[code]

One of these fails, 7 pass, but no inventory file for those that pass.

[2017-06-22 17:22] herlo commented on #198
![](https://github.trello.services/images/mini-trello-icon.png) [New Providers](https://trello.com/c/Y2AFZuCw/1-new-providers)

[2017-06-22 17:24] herlo commented on #162
![](https://github.trello.services/images/mini-trello-icon.png) [New Providers](https://trello.com/c/Y2AFZuCw/1-new-providers)

[2017-06-22 17:27] herlo commented on #133
![](https://github.trello.services/images/mini-trello-icon.png) [Clean Python Package](https://trello.com/c/QExbZtAn/2-clean-python-package)

[2017-06-22 17:29] herlo commented on #202
![](https://github.trello.services/images/mini-trello-icon.png) [Context Manager](https://trello.com/c/DMjTag2G/3-context-manager)

[2017-06-22 17:29] herlo commented on #181
![](https://github.trello.services/images/mini-trello-icon.png) [Context Manager](https://trello.com/c/DMjTag2G/3-context-manager)

[2017-06-22 17:30] herlo commented on #146
![](https://github.trello.services/images/mini-trello-icon.png) [Context Manager](https://trello.com/c/DMjTag2G/3-context-manager)

[2017-06-22 17:31] herlo commented on #230
![](https://github.trello.services/images/mini-trello-icon.png) [Improved documentation](https://trello.com/c/C7OBVZFe/8-improved-documentation)

[2017-06-22 17:32] herlo commented on #119
![](https://github.trello.services/images/mini-trello-icon.png) [Customizable workspace](https://trello.com/c/y63MNLRB/7-customizable-workspace)

[2017-06-22 17:33] herlo commented on #229
![](https://github.trello.services/images/mini-trello-icon.png) [Credentials Management / Authentication Driver](https://trello.com/c/2z88W2CT/6-credentials-management-authentication-driver)

[2017-06-22 17:33] herlo commented on #76
![](https://github.trello.services/images/mini-trello-icon.png) [Credentials Management / Authentication Driver](https://trello.com/c/2z88W2CT/6-credentials-management-authentication-driver)

[2017-06-22 17:34] herlo commented on #239
![](https://github.trello.services/images/mini-trello-icon.png) [Basic Unit Tests](https://trello.com/c/WCG8WGsg/4-basic-unit-tests)

[2017-06-22 17:34] herlo commented on #209
![](https://github.trello.services/images/mini-trello-icon.png) [Basic Unit Tests](https://trello.com/c/WCG8WGsg/4-basic-unit-tests)

[2017-06-22 17:35] herlo commented on #96
![](https://github.trello.services/images/mini-trello-icon.png) [Hooks](https://trello.com/c/J8FiE3B5/5-hooks)

[2017-06-22 17:38] herlo commented on #282
![](https://github.trello.services/images/mini-trello-icon.png) [Ansible 2.3 upgrade](https://trello.com/c/NiEFKGUE/17-ansible-23-upgrade)

[2017-06-22 17:39] herlo commented on #283
![](https://github.trello.services/images/mini-trello-icon.png) [Python 3 conversion](https://trello.com/c/yldI3FMK/18-python-3-conversion)

[2017-06-22 17:40] herlo commented on #204
![](https://github.trello.services/images/mini-trello-icon.png) [Reduce Dependencies / Multiple Packages](https://trello.com/c/e9Yr6e1R/16-reduce-dependencies-multiple-packages)

[2017-06-22 17:41] herlo commented on #170
![](https://github.trello.services/images/mini-trello-icon.png) [Reduce Dependencies / Multiple Packages](https://trello.com/c/e9Yr6e1R/16-reduce-dependencies-multiple-packages)

[2017-06-22 17:43] herlo commented on #258
![](https://github.trello.services/images/mini-trello-icon.png) [State Logging](https://trello.com/c/3UEdxKgm/14-state-logging)

[2017-06-22 17:49] herlo commented on #111
![](https://github.trello.services/images/mini-trello-icon.png) [Cloud-Init Functionality](https://trello.com/c/duaJgitw/13-cloud-init-functionality)

[2017-06-22 17:49] herlo commented on #148
![](https://github.trello.services/images/mini-trello-icon.png) [Cloud-Init Functionality](https://trello.com/c/duaJgitw/13-cloud-init-functionality)

[2017-06-22 17:51] herlo commented on #247
![](https://github.trello.services/images/mini-trello-icon.png) [Integration Testing](https://trello.com/c/oJxGZBCc/10-integration-testing)

[2017-06-22 17:53] herlo commented on #257
![](https://github.trello.services/images/mini-trello-icon.png) [More Unit Tests](https://trello.com/c/GXDfYoIE/9-more-unit-tests)

[2017-06-22 20:07] herlo commented on #289
Because beaker is unique, it may not work this way, but generally running the provisioning again is idempotent. This is the intent here, where if something fails, you run it again, and LinchPin checks to see if the resources have been provisioned. If the resources were successful, LinchPin skips forward to the next one, and continues on until it finds there is a resource that wasn't provisioned. A

[2017-06-22 20:18] danalanerh commented on #289
I think beaker is a special case. If we using linchpin to install an OS on
8 systems and 6 pass/2 fail, redoing the install on all 8 doesn't really
make sense. If I can use the inventory_gen role to get an inventory file of
what DID work, that's probably good enough for the short term. I'd like to
see a flag or option that says give me an inventory file for what DID work
if there are failures.

Th

[2017-06-22 20:18] greg-hellings commented on #289
Re-running the provisioning with Beaker will result in additional resources
being provisioned. When I was putting together Beaker support, I was unable
to find any way to identify that a particular Beaker resource had been or
should have been provisioned by the system the way that OpenStack and
libvirt can have unique instance names given to a particular system. In
Beaker, the system names are alr

[2017-06-22 20:20] agharibi opened #292 "Extension of linchpin.conf, support for named workspaces, and linchpin fetch"
**Tasks to accomplish**
1. Override/Extend `linchpin.conf` from existing paths
2. Add support for named workspaces
3. Create `linchpin fetch` command
# Override/Extend linchpin.conf from existing paths
---

Currently, LinchpinCliContext search four paths in order (`$PWD/`,` ~/.config/linchpin/`, `/etc/`,  `/linchpin/library/path/`) to find a `linchpin.conf`. While this is sufficient for a first-fo

[2017-06-22 20:21] herlo commented on #289
Yeah, In that case, consider taking the resources directory and running the inventory_gen role against it. @danalanerh there is not likely to be any documentation on how to use this bit. It's an ansible role, however, so you could look up how to put a site.yml-like (read: playbook) in front of it, and pass it the proper resources and generate an inventory.

The other question which needs to be ans

[2017-06-22 20:23] herlo commented on #292
![](https://github.trello.services/images/mini-trello-icon.png) [LinchPin fetch 'workspace' data from remote](https://trello.com/c/MVhzX69m/27-linchpin-fetch-workspace-data-from-remote)

[2017-06-22 20:24] herlo commented on #286
![](https://github.trello.services/images/mini-trello-icon.png) [LinchPin fetch 'workspace' data from remote](https://trello.com/c/MVhzX69m/27-linchpin-fetch-workspace-data-from-remote)

[2017-06-22 20:25] herlo commented on #243
![](https://github.trello.services/images/mini-trello-icon.png) [Reworking Schema](https://trello.com/c/pBfMFeHx/20-reworking-schema)

[2017-06-22 20:25] herlo commented on #235
![](https://github.trello.services/images/mini-trello-icon.png) [Reworking Schema](https://trello.com/c/pBfMFeHx/20-reworking-schema)

[2017-06-22 20:34] danalanerh commented on #289
It looks to me like there was no resources output file generated. I'll try
this again with a clean folder, to be sure.

On Thu, Jun 22, 2017 at 4:21 PM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-06-22 20:35] herlo commented on #292
@robled @greg-hellings @samvarankashyap @arilivigni Do you have any opinions, thoughts, or otherwise on these new features. @agharibi is going to be working these into v1.1 over the next few weeks.

[2017-06-23 16:52] danalanerh commented on #289
I can confirm. No inventory file and no output file in resources.

[2017-06-23 18:42] samvarankashyap commented on #289
@herlo : There might be much simpler way if we change the way the outputs are being created . Considering the failure we can bypass the above mentioned issue and achieve idempotency by following steps:

0. Ignore the failures in provisioning
1. Ignore the errors of the failures and record output only when the there is a success ( this can be done in the beaker role )
2. Once the outputs are record

[2017-06-23 18:52] samvarankashyap commented on #289
@herlo The above comment applies for non-idempotent provisioning systems like aws_*,  and duffy  resources too.

[2017-06-23 19:11] danalanerh opened #293 "Attempting to use the preup and postdestroy hooks with type shell return an error"
PinFile:
[code]
The output I get from both the preup and postdestroy is:
[code]

I'm following the example list here:
https://github.com/samvarankashyap/linchtest/blob/master/PinFile

[2017-06-26 14:40] herlo commented on #293
This means your shell script is not working. Please debug it using bash -x. This is not a linchpin error.

[2017-06-26 14:40] #293 closed

[2017-06-26 14:44] herlo commented on #292
This could potentially resolve #286, which I think would be pretty helpful.

[2017-06-26 14:51] herlo commented on #292
With `linchpin init`, I'm trying to simplify concept of naming a workspace.

If a user were to type `linchpin -w /path/to/workspace init -n bob`, would that imply that the user is wanting the namespace 'bob=/path/to/workspace'?

Or would it be better to do something like `linchpin -w bob=/path/to/workspace init` and then if an `=` exists in the -w/--workspace option, linchpin would simply name the

[2017-06-26 14:53] herlo commented on #292
Additionally, what about an already existing named workspace. For instance, if workspace `bob` already pointed to `/path/to/workspace` and the following happened:

`linchpin --workspace bob=/this/new/workspace init`

What would be the result? I'm guessing a prompt stating that the namespace `bob` already exists, querying whether to replace the value? Just some food for thought here.

[2017-06-26 15:03] agharibi commented on #292
@herlo With ```linchpin init```, I don't think the way I have it set up in the documentation would be that confusing. Right now, it seems pretty straight forward and it makes the arguments easier to arrange. But I do see your point and I like having the '=' sign there too, so I am willing to do either one. Is there one format you prefer over the other?
Also, if a workspace already exists, an error

[2017-06-26 15:28] herlo commented on #292
@agharibi when you say documentation, do you mean this issue?

First off, the way Click works (you should check it out), the `-w/--workspace` option would always come after the `linchpin` bit, but before the `init`. To have an additional `-n/--name` option might be valuable here. My concern is that if a workspace isn't explicitly placed on the command line (or in the environment), and verified, it

[2017-06-26 15:54] seandst commented on #292
In order to make it easier to discuss the individual tasks, could this be split up into three distinct tickets?

[2017-06-26 16:01] herlo commented on #292
@seandst the features are actually all related each other. The expansion of the config file, the workspace naming and fetching all relate to how the data will be landing into workspaces and managed. I think once we have some input, we might split it out, but the concepts are all related and difficult to split up without at least a description of the 'why' here.

[2017-06-26 17:01] robled commented on #292
I would like to see **linchpin.conf** found automatically in the root of the linchpin workspace via the **-w** option and have the options stored there take precedence over other options defined in other linchpin.conf files.

[2017-06-26 17:12] greg-hellings commented on #292
I would really like to see a PinFile option to name the inventory output file. That's the most pressing new feature (besides the user data option I already PR'd) to make my work behave well.

[2017-06-26 17:48] herlo commented on #292
@greg-hellings that is a separate feature and not relevant to this discussion

[2017-06-26 17:51] herlo commented on #292
@robled, I think this is a fair point to consider. I have $PWD, but that night not be the same as the workspace. What you are saying, is if `-w` is specified use that instead as if it were the working directory? I think this is doable.

[2017-06-26 17:58] robled commented on #292
Indeed, **$PWD** could be different from the linchpin workspace.  In Jenkins, you typically run things from root of the Jenkins workspace, but specify some configuration data down the tree.  Consider this:

[code]

In this case I would want **linchpin.conf** stored at **./cinch-example/linchpin.conf** to be found and prioritized automatically via the -w option.

[2017-06-26 18:31] herlo commented on #292
So, I think we need to consider two items here.

First, the concept of building the linchpin configs from multiple configuration files, in order, allowing for extending and overriding. If we were to do the order `linchpin/library/path/` ,` /etc`, `~/.config/linchpin`, then `$WORKSPACE`(because $PWD is the workspace if nothing is set), we could then allow for the global stuff to be set by the confi

[2017-06-27 15:13] samvarankashyap commented on #289
@herlo @danalanerh :
One more solution to the issue using the rescue and logical blocks inside the beaker playbooks can also solve the above problem
example
[code]

[2017-06-27 16:39] robled opened #294 "Beaker destroy operation cannot find output file"
During the provisioning/up process, linchpin creates an output file at **workspace/resources/cinch-test.output**, but the destroy process is looking for the same file path, except with a **.yaml** file extension:

[code]

[2017-06-27 19:19] agharibi opened #295 "(5) Linchpin.conf: Override and Extend"
Currently, LinchpinCliContext search four paths in order (`$PWD/`,` ~/.config/linchpin/linchpin.conf`, `/etc/`,  `/linchpin/library/path/`) to find a `linchpin.conf`. While this is sufficient for a first-found configuration, only one configuration file is loaded. It would be better if the order were reversed, and each additional configuration file would be extend and/or override the existing confi

[2017-06-27 19:57] agharibi opened #296 "(3) [SPIKE] Linchpin fetch"
### `linchpin fetch <type> git://<url> file://<path>`
*Types include: workspace, layout, topology, hooks, credentials, PinFile, etc*
Linchpin fetch will be able to pull a workspace, layout, topology, etc from a remote repository and will put it in a locally specified location. When using this command, both a remote protocol and local path must be specified for it to work. For example:

    #Copies

[2017-06-27 19:57] herlo commented on #294
I thought we fixed this bug. I'll look into it ASAP.

[2017-06-27 20:21] agharibi opened #297 "Named Workspaces"
### Modify the configuration file
The current configuration file only supports a single workspace. To fix this, a new configuration file needs to be created that can support the function of multiple workspaces. Here's what a sample section would look like:

        [workspaces]
        <name_of_workspace1> = <file://path/to/workspace>
        <name_of_workspace2> = <git://path_to_workspace.git>

T

[2017-06-27 20:22] agharibi commented on #292
This issue is being split into three issues: #295, #296, #297.

[2017-06-27 20:22] #292 closed

[2017-06-28 15:15] herlo commented on #286
See #295 as the spec for this. Closing and moving discussion there. Thanks

[2017-06-28 15:15] #286 closed

[2017-06-28 15:17] herlo commented on #295
One note here on this specification, $PWD and $WORKSPACE only differ by whether the -w argument is passed. If it is passed, linchpin.conf can be found in the $WORKSPACE, and $PWD will be ignored.

[2017-06-29 11:24] danalanerh commented on #289
The retry is a good idea, but in the case of beaker, I'd still really like
to have an option of providing an inventory file for the successful pieces
as well. Being able to continue complete configuration of those servers
automatically, without having to restart everything would be very useful.

On Tue, Jun 27, 2017 at 11:13 AM, samvaran kashyap rallabandi <
notifications@github.com> wrote:

--
Da

[2017-06-29 15:34] robled opened #299 "Search workspace/credentials for creds, or allow workspace/credentials to be defined in workspace/linchpin.conf"
In CI, it's common to store the full stack of things needed to make provisioning happen in source control, including credentials (properly secured, of course).  As such, looking for credentials outside of the linchpin workspace is less than desirable for CI, as when starting a build you would commonly check out *everything* needed to provision for that build from source control, and paths like **$

[2017-07-06 13:36] danalanerh commented on #293
I'm following the exact example provided by SK. Excerpted from his example:

'''
postdown:
   - name: do_something
     type: shell
     actions:
       - echo " this is post down operation Hello hai how r u ?"
 '''

If this doesn't work, then your examples are incorrect.

[2017-07-09 16:31] arilivigni opened #302 "Can't install linchpin from source on a CentOS7 system"
[code]

[2017-07-09 17:12] arilivigni commented on #302
It works if you run ./install.sh since the order in requirements is kept consistent.
I know if I install the pip module it would just work but was curious of installing from source which is still inconsistent AFAIK.

[2017-07-09 17:24] arilivigni opened #303 "Installing linchpin on a CentOS7 system via pip fails"

[2017-07-09 17:25] arilivigni commented on #303
cat pip.log
------------------------------------------------------------
/home/sig-paas/ari_sandbox/pip-lp/bin/pip run on Sun Jul  9 17:22:01 2017
Downloading/unpacking linchpin

  Getting page https://pypi.python.org/simple/linchpin/
  URLs to search for versions for linchpin:
  * https://pypi.python.org/simple/linchpin/
  Analyzing links from page https://pypi.python.org/simple/linchpin/
    Fou

[2017-07-11 18:06] danalanerh commented on #250
I'm linchpin in a vagrant VM. I did the linchpin init and I'm trying to run
the RHEL provision example. I'm getting the following error:

TASK [libvirt : define network]
************************************************
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg":
"authentication unavailable: no polkit agent available to authenticate
action 'org.libvirt.unix.manage'"}
to

[2017-07-12 13:31] vi-patel opened #304 "Maintain a list of versions on dockerhub"
Instead of just having a latest tag, can a list of significant releases also be maintained as tags on dockerhub.

Just for the reason of if I know my tests with a specific version, I can keep using that tagged container, and move up to later releases when ready, instead of possibly running into issues if i keep trying to use the latest tag.

[2017-07-12 15:06] herlo commented on #250
This is an authentication issue wrt libvirt. There are multiple ways to solve it. Among them is the policy kit example here: https://major.io/2015/04/11/run-virsh-and-access-libvirt-as-a-regular-user/. You could also set the uri in the topology to use qemu. There might be extra prep to do, like this example here: https://wiki.libvirt.org/page/SSHSetup. The choice is really yours, which is why it's

[2017-07-12 15:06] #294 closed

[2017-07-12 15:08] danalanerh commented on #250
Thanks, that's a pointer in the right direction. :)

On Wed, Jul 12, 2017 at 11:06 AM, Clint Savage <notifications@github.com>
wrote:

--
Dana Lane
Principal Quality Engineer
Red Hat, Westford, MA

[2017-07-12 18:00] rywillia opened #305 "Decrease the size of linchpin image on docker hub"
The available linchpin image on docker hub [1] is over 1 GB in size. It would be great if the size of this image could be reduced. Having a large image takes longer for docker to pull the image locally. It took me almost 25 minutes to pull the image.

Maybe you can use this dockerfile [2] as a base? The size of this image is less than 600 MB.

[1] https://hub.docker.com/r/samvaran/linchpin/
[2] ht

[2017-07-12 20:33] rywillia opened #306 "(3) CLI does not exit with non zero when playbook execution fails"
I am running Linchpin version 1.0.1 and the exit code when my Ansible playbook fails is 0. I would expect this code to be 1 or another integer value. Having this would be great for automation being able to determine if my command executed successfully or not.

[code]
I noticed there was a similar issue to this #159. This bug may still exist for certain use cases in the latest release?

[2017-07-13 14:57] rywillia commented on #305
Yesterday I built a new image based on my Dockerfile above and was successfully able to run linchpin for OpenStack and OpenShift. I just wanted to give this information since the size of the image decreased by almost 1 GB. Please feel free to test that file to ensure other providers work as usual.

[2017-07-14 15:23] rywillia opened #307 "Beaker-client not available after linchpin is installed"
I am trying to use linchpin to provision resources in beaker. I have installed linchpin by pip [1] and beaker-client package is not installed. In order for me to provision I need to manually install beaker-client.

Is this a known step that needs to be performed after linchpin is installed to use beaker? Do you plan to install beaker-client with linchpin?

[1] https://pypi.python.org/pypi/linchpin

[2017-07-17 13:22] samvarankashyap commented on #305
@rywillia I have significantly reduced the image size by pinning down the dependencies for source installation. Feel free to check it out . Thanks .

[2017-07-17 13:38] rywillia commented on #305
@samvarankashyap That is great! I will pull the image and test it out. Just was curious as to why you need to install from source rather than by pip (pypi server)?

[2017-07-17 13:41] samvarankashyap commented on #305
@rywillia We wanted to test the build from the latest commit by triggering the automated builds. At some point of time it would be a jenkins job. However, If you would like to have a build from the pypi server feel free to create one.

[2017-07-17 13:48] rywillia commented on #305
@samvarankashyap Thank you for the detailed explanation. I think this issue can be closed now that the size has decreased by quite a good amount.

[2017-07-17 14:19] #305 closed

[2017-07-19 15:20] tvieira opened #310 "Documentation for the latest release shows permission denied"
Hi

The documentation for the latest release shows "Permission denied". I can access the develop documentation, but since the link in the README file points to http://linchpin.readthedocs.io/en/latest/intro_installation.html, I thought it is worth looking at this.

[2017-07-20 14:14] vi-patel opened #314 "OpenStack Provisioning Using Count of 2 Fails"
I have a topology file that works fine for a single machine, when modifying the count to 2, it fails.
I get the following error:

Target 'target': TASK: openstack : provisioning os_server resources with provided auth failed with error '(400) Client Error for url: http://<ip_address:port>/v2/bf4de4c330ee47d6937af31fd5c71a18/servers Bad network format: missing 'uuid''

*Tested in linchpin 1.0.1 and

[2017-07-20 14:18] vi-patel opened #315 "(5) Update documentation of topology examples"
The example topologies are out of date, can they be updated:

http://linchpin.readthedocs.io/en/latest/topologies.html
https://github.com/CentOS-PaaS-SIG/linchpin/tree/develop/linchpin/examples/topologies

[2017-07-20 14:27] vi-patel opened #316 "Can the output in resources be simplified"
Can the output for the provisioners created in the resources directory be simplified, maybe only have one level and some consistent keys across different the different provisioners to simplify retrieving output from automation tools.  They seem to have complex output with multiple levels and specific output for each provisioner.  This makes it difficult for automation to switch between different p

[2017-07-20 14:33] rywillia opened #317 "Example OpenStack topology does not reflect updated credential changes"
The available OpenStack topology on the documentation [1] fails when trying to provision an individual resource. Here is my console output I am getting:

[code]

My topology file is the following:

[code]
Previously before 1.0 was released, I had to set the credentials file at the following path:

[code]
It seems that this way of using credentials is deprecated in the latest release? I tried to pl

[2017-07-20 19:46] herlo commented on #316
@vi-patel I'm not exactly sure of your goal with the resources outputs. However, they are structured with the data returned from each provider. I do have a plan to simplify that data with a distiller class, it just hasn't yet been implemented. The idea was to take the resources outputs as they exist and pare them down to something that could be used to generate an inventory, or groupings in whatev

[2017-07-20 19:49] herlo commented on #314
Can you try this directly with the ansible module? I wonder if that's where the issue is happening. @samvarankashyap can look further as well, if needed.

[2017-07-20 19:50] herlo commented on #315
I'm sure some of the topologies are out of date here. Can you specify which you have run into that are not accurate? We're working on better documentation for this, but could use some help in this area.

Thanks

@herlo

[2017-07-21 12:31] vi-patel commented on #316
We were planning to provision machines using linchpin, than we have objects for host machine in our framework.  So we were planning to use the data from the resources output, to create that object.

[2017-07-21 12:33] vi-patel commented on #315
I was specifically working on OpenStack, and I don't think any of those were valid anymore.

[2017-07-21 15:19] #310 closed

[2017-07-21 15:28] herlo commented on #317
Yes! The goal is to document the new credentials process. It's a pretty clear process, but given the manpower we have, it may take some time. Thanks for filing this though, so we have something to help track the progress.

[2017-07-21 15:31] herlo commented on #316
If you have a look at the output_writer playbook in 'linchpin/provision/roles', that is where the bulk of the work is done to gather the data and output the resources to the file. In the future, we're working on a mechanism to filter the data to the right places. We don't have a ton of manpower at the moment, however, so it may take a bit of time to complete. If you have resources to help with the

[2017-07-21 15:33] herlo commented on #315
I think between this issue and #317, it's clear these need to be updated. It's probably time to pare the examples down to a few that work and get updated each release.  @samvarankashyap what do you think?

[2017-07-21 15:50] herlo commented on #307
Yes, this is a known step. Since beaker isn't among the core providers, this detail has yet to be documented (wow, we have a lot of documenting to do). Essentially, if you do a ```pip install linchpin[beaker]```, it will install the beaker-client libraries. If you need the kerberos libs (beaker now supports oAuth2, btw), you'd also want to run ```pip install linchpin[krbV]```.

Hope this helps, an

[2017-07-21 15:50] #307 closed

[2017-07-21 15:52] herlo commented on #306
It indeed looks like this bug still exists. I do have exit codes in place for most situations. Can you provide me with your workspace data (don't include credentials if they are in the workspace) along with the command and full output of what has happened? I'd like to replicate this problem.

[2017-07-21 16:04] herlo commented on #304
@samvarankashyap, what say you?

[2017-07-21 16:07] herlo commented on #303
shade is the worst. @samvarankashyap any reason you can see why this is failing?

[2017-07-21 16:13] herlo commented on #302
This has not been an issue on my Fedora machines for some time. It's clearly an issue with older deps. We've been fighting the pinning vs not pinning argument for some time. I think it may be time to separate things out into individual subpackages within linchpin.

@samvarankashyap do you have any thoughts on this? It's similar in form to #303.

[2017-07-21 16:20] herlo commented on #299
I had assumed we had fixed this with #236. Essentially, you can pass the --creds-path option (or optionally, $CREDS_PATH env var) and point it into the workspace if you desire. Please give me more evidence why this option doesn't work? Maybe this is just an old ticket and can be closed?

[2017-07-21 16:23] herlo commented on #295
Fixed by #301

[2017-07-21 16:23] #295 closed

[2017-07-21 16:25] herlo commented on #296
These have been broken into three separate issues. Closing ticket now.

[2017-07-21 16:25] #296 closed

[2017-07-21 16:31] herlo commented on #316
#284 is the ticket for the plan described above.

[2017-07-24 17:19] herlo commented on #303
It appears the reason for this is that setuptools is too old on the CentOS 7 system. I ran into a similar situation with Debian on travis-ci. I fixed it by performing the following:

[code]
After doing this, the installation worked just fine without the install.sh. I am not certain the pip upgrade is necessary, but it didn't hurt anything.

[2017-07-24 17:19] #303 closed

[2017-07-24 17:20] herlo commented on #302
It appears the reason for this is that setuptools is too old on the CentOS 7 system. I ran into a similar situation with Debian on travis-ci. I fixed it by performing the following:

[code]

After doing this, the installation worked just fine without the install.sh. I am not certain the pip upgrade is necessary, but it didn't hurt anything.

[2017-07-24 17:20] #302 closed

[2017-07-24 17:42] greg-hellings commented on #303
Sometimes it's necessary to start with a virtualenv that has no setuptools
yet, then use the ensure-pip script available online. There are times when
the RHEL/CentOS system can be in a strange state that requires those extra
steps. The Cinch installer uses that method on RHEL/Cent 7 systems.

[2017-07-24 23:31] rywillia commented on #306
I am able to reproduce this problem in various situations.

1. Perform a linchpin init and immediately run linchpin -v up (using the example topology, layout, PinFile).
[code]

2. An openstack topology file missing **fip_pool** key fails waiting to attach a floating IP.
[code]
My workspace files are attached. It looks to be a problem between the provider provision YAML and returning that exit code

[2017-07-24 23:58] rywillia opened #321 "Linchpin to handle provisioning if the resource already exists"
I was asked to share my linchpin files (PinFile, credentials, layout, topology) with someone else to re-create the exact same environment of the resources that I have created. They go to run linchpin up with my same environment and the result is success (inventory file created). If you compare the files, the machine is the same (IP addresses match). This would be a problem if we are both modifying

[2017-07-25 18:40] vi-patel opened #322 "Data Passthrough"
Can you add a key that can be used for data pass through.

For example, if I added a key called unique_key into the topology file of a machine, after the machine is provisioned, can this key be added to the output of that machine in the resources output?

[2017-07-25 19:43] samvarankashyap commented on #322
@vi-patel Outputs are generated by the respective cloud provider , I am not sure there is a way to change this . However, incase of amazon instances if you user provides resource_group_vars they are automatically added as tags for aws ec2 instances
[code]

[2017-07-25 19:49] vi-patel commented on #322
I believe the only way the data passthrough would be useful is if it were available in a consistent way for every provider.

[2017-07-25 19:50] greg-hellings commented on #322
What data are you interested in passing through?

[2017-07-25 19:53] vi-patel commented on #322
I wanted to pass through a unique key id for each machine I provisioned. (Say I wanted to provision 5 machines w/ one linchpin call, i would have 5 host objects, each with a unique identifier, and I use linchpin to provision the 5 resources, but then my issue is trying to map the output of each machine from linchpin's output to the original 5 host objects, if I was able to pass a the unique key I

[2017-07-25 19:59] samvarankashyap commented on #322
@vi-patel : couldn't you map resource_name in linchpin topology with the cloud_provider name key value inside output ?

[2017-07-25 20:11] vi-patel commented on #322
@samvarankashyap not all cases.  For example Beaker, the output really doesn't map to a resource name.  I was thinking about this for a while, and it seems the best available option to me is first match what provider I'm using, then if there are multiple resources try to map multiple keys based on that provider, but it gets complicated fast, and impossible checking for uniqueness if there were 2 m

[2017-07-25 20:13] tvieira commented on #322
The context for this request/issue is that we trace all machines life cycle. We save its metadata in a database when the request is made and we update the database as the provisioning process progress. In this case, @vi-patel is trying to gather the information from each host after it has been provisioned and set the status of each instance in the database - the unique reference would help us matc

[2017-07-26 00:20] rywillia commented on #322
@samvarankashyap Could you please explain how **resource_group_vars** works? When you say tag, is this a tag associated with the instance created like metadata for an OpenStack instance? I was searching through linchpin source code and this does not seem to apply to all providers. We are primarily focusing on OpenStack and Beaker. I just tried setting this resource_group_vars for an OpenStack reso

[2017-07-26 13:23] samvarankashyap commented on #322
@rywillia
Amazon provides feature support for users to set key value pairs to the resources provisioned.
For openstack its not implemented yet in linchpin though meta is supported by ansible modules.
Am not sure whether output returned by os_server module has the instance meta_data set .
Please feel free to raise a issue to support meta data for os_server .

[2017-07-26 13:53] samvarankashyap opened #323 "Regression in latest source code: linchpin init doesn't not work"
Installed the source on centos machine:

[code]

looks like linchpin doesn't get its default workspace if not mentioned.

[2017-07-26 15:34] herlo commented on #233
Closed by #320

[2017-07-26 15:34] #233 closed

[2017-07-26 15:41] herlo commented on #282
Discussed moving to >=2.3 for everything. @samvarankashyap mentioned possible issues with openshift in v2.2.1, so we want to move forward at least to 2.2.2, but hopefully 2.3.x will be better.

[2017-07-26 15:44] herlo commented on #148
os_server was completed by #291

[2017-07-26 15:44] #148 closed

[2017-07-26 15:51] herlo commented on #321
I think the concepts in #284 may address this request. Essentially, the unique identifier would be per user and thus check to see if the user had already provisioned the data.

[2017-07-26 21:50] herlo commented on #323
closed by #325

[2017-07-26 21:50] #323 closed

[2017-07-26 21:51] herlo commented on #317
Duplicate of #315 methinks.

[2017-07-26 21:51] #317 closed

[2017-07-27 18:19] herlo opened #326 "Break out os_hot_stack into proper ansible module"
It seems we bundle some libraries in linchpin that should really be bundled in another package. In this case, Ansible modules, should go into Ansible. This issue is to track getting os_hot_stack moved over.

[2017-07-27 18:22] herlo opened #327 "RFE: Break out bkr_info/bkr_server into proper ansible module"
It seems we bundle some libraries in linchpin that should really be bundled in another package. In this case, Ansible modules, should go into Ansible. This issue is to track getting bkr_info and bkr_server moved over.

[2017-07-27 18:23] herlo opened #328 "Break out gce2 into proper ansible module"
It seems we bundle some libraries in linchpin that should really be bundled in another package. In this case, Ansible modules, should go into Ansible. This issue is to track getting gce2 moved over.

[2017-07-27 18:25] herlo opened #329 "Break out os_server2 into proper ansible module"
It seems we bundle some libraries in linchpin that should really be bundled in another package. In this case, Ansible modules, should go into Ansible. This issue is to track getting os_server2 moved over.

[2017-07-27 18:26] herlo opened #330 "Break out openshift into proper ansible module"
It seems we bundle some libraries in linchpin that should really be bundled in another package. In this case, Ansible modules, should go into Ansible. This issue is to track getting openshift moved over.

[2017-07-28 19:39] greg-hellings opened #332 "Generate inventory names according to topology names, when possible"
Taking, as an example, OpenStack. When I spin up a host in my topology and name it "foo" and ask for two of them, my generated inventory looks something like this:
[code]

It would be much nicer if these were to be generated according to such a pattern:
[code]

This would allow referencing hostvars from a specific one of the hosts without jumping through some convoluted hoop of needing to grab the

[2017-07-31 15:19] herlo commented on #332
Greg, what I think you want already exists. Maybe I'm missing something though.

For instance, if I have the following layout for a single node topology:

[code]
It produces the following from my libvirt topology:

[code]

The only thing that has to happen here is to have the vars section at the top of the layout explain what variables need to be interpolated. Currently, __IP__ is the only one ava

[2017-08-01 20:04] greg-hellings commented on #332
No, this isn't what I'm looking for. Notice that the host is still named "192.168.71.165" in the inventory. I want that name to be based on its topology (not layout) name. For instance, with the following topology for openstack:

[code]

This will generate a host in OpenStack named "foo_bar1". I want that same name to be in the topology instead of the IP address as the default name. That way the i

[2017-08-01 20:06] greg-hellings opened #335 "Creating two OpenStack hosts fails"
I'm trying to spin up two OpenStack hosts from the same topology which looks as follows:

[code]

The only difference between this and a topology that works for me is ``count: 2`` instead of ``count: 1``.

[2017-08-01 20:09] herlo commented on #335
Can you provide output to show the error message? I can't really troubleshoot this without it. Thanks!

[2017-08-01 20:14] herlo commented on #332
That is not how it currently works. If you want it to do that, you'll have to write a postup hook to generate the hostname based upon the topology data. The context provided in the hooks section would provide this data so you could generate your own inventory. In that case, don't provide a layout, just write a hook that does what you want.

One note on this is that we can likely add a new interpol

[2017-08-01 20:15] greg-hellings commented on #335
Error message: ``TASK [openstack : provisioning os_server resources with provided auth] *********
fatal: [localhost]: FAILED! => {"changed": false, "extra_data": null, "failed": true, "msg": "(400) Client Error for url: https://ci-rhos.centralci.eng.rdu2.redhat.com:13774/v2.1/servers Bad network format: missing 'uuid'"}``

I'm working on debugging what's going on here, myself, as this is a blocker

[2017-08-01 20:27] greg-hellings commented on #332
I get that it doesn't work that way. I'm asking that it work that way. As it currently works, there is no reasonable way to reference hostvars from one system to another. My current use case is:

* Allocate two hosts
* Assign one host to be the server system
* Assign one host to be the client system
* Configure the server (this requires no data about the client)
* Configure the client to connect t

[2017-08-01 20:27] herlo commented on #335
This error seems unrelated to linchpin itself. It seems related directly to the openstack server. Maybe there's something we need to add regarding the uuid in the schema?

Can you try this directly with the os_server module here and see if the issue persists?

http://docs.ansible.com/ansible/latest/os_server_module.html

[2017-08-01 20:50] herlo commented on #332
Ok. I think I get what you are saying. The predictability of which machine is which is actually deterministic. It might not have the names as you mentioned, but the way it works is that the first group specified in the `host_groups` section of the layout should always be the first host from the resources. The second would be the second host, and so on.

What you are asking for means that if a user

[2017-08-01 21:37] herlo commented on #314
Also, this seems similar to #335. I wonder what is going on here.

[2017-08-02 19:46] greg-hellings commented on #332
You've pretty well hit on the crux of what I'm asking for in this RFE.

So Ansible's dirty little secret is that the name in the inventory does not
have to be resolvable as either an IP address or a hostname. When
attempting to contact a remote host, Ansible will first attempt to connect
to the machine defined by the "ansible_host" variable, which is required to
be a resolvable address or undefine

[2017-08-02 20:31] greg-hellings commented on #335
So this behavior is intermittent. Running again and again, I get around an 80% failure rate with this error message. I've tried both in OpenStack versions 7 and 10. I'll try with the module, directly, next.

[2017-08-02 20:33] greg-hellings commented on #335
It also bears noting that linchpin does not use the os_server module, but instead uses the os_server2 module that it ships with its internal library.

[2017-08-03 00:48] greg-hellings commented on #335
OK, so a little more scouting brings the following salient points to light:
* This does not appear to afffect os_server, in my testing
* os_server is not in use by linchpin, anyway. It also does not support the ``count`` option, so it's not feasible to test this error on there
* linchpin uses os_server2.py from its own repository (linchpin/provision/library/os_server2.py) which introduces the ``co

[2017-08-07 14:26] robnester-rh opened #337 "'linchpin up' fails when provisioning basic libvirt instance"
Following the guide at http://linchpin.readthedocs.io/en/v1.0.2/getting_started.html (also with 'latest' and 'develop' tags), I receive the following error when performing `linchpin up`:

[code]
I have confirmed that the default image storage location directory (/var/lib/libvirt/images) exists:
[code]
and that the CentOS image is being downloaded to the linchpin subdirectory there:
[code]

[2017-08-07 15:04] herlo commented on #337
Running `linchpin -v up` will help as we discussed this morning on bjns. However, the conversation was clear that the getting started guide needs an update to use the dummy module. I'll put this into a ticket with an eventual goal of a choose your own adventure (Libvirt, AWS, GCE, openstack) option after running through the dummy provision.

[2017-08-07 15:13] herlo commented on #335
Similar to #314, are these duplicates @samvarankashyap?

[2017-08-07 16:00] samvarankashyap commented on #314
@vi-patel Please check #338 it resolves the above issue .
Thanks

[2017-08-07 16:20] samvarankashyap commented on #328
@herlo gce2 is module is copied down from ansible 2.3
If ansible 2.3 is installed we can change the playbooks to use gce module to run instead of gce2

[2017-08-07 19:01] samvarankashyap commented on #335
@herlo yes
#314 #338 are duplicates

[2017-08-07 19:18] herlo commented on #335
Duplicate of #314, closing this one and using that one to track the status of the fix.

[2017-08-07 19:18] #335 closed

[2017-08-08 16:09] samvarankashyap opened #339 "Feature request: linchpin hooks : failhooks , nohooks, runhooks flags while linchpin up"
Currently linchpin runs hooks by default inside the Pinfile
For example if the user would like to do following things there isnt any option:

- Fail all hooks when one hook fails ( --failhooks)
- Donot run hooks over provisioned instances ( --nohooks)
- Runhooks over provisioned instances . Do not reprovision instances ( --runhooks)
- Run a specific hook by their names ( --runhooks name1, name2 )

[2017-08-08 17:40] herlo commented on #328
@samvarankashyap and @herlo discussed this and agreed 2.3.1+ is a better direction. Core providers should in all cases support ansible 2.3.1+. Tests need to be written to accommodate each provider.

[2017-08-09 16:25] herlo commented on #216
Ansible is moving the os_server module toward python-openstackclient. In further discussions, we've decided to start separating out each of the providers into their own packages. This will help alleviate dependencies, and allow users freedom of choice on which providers to use. Closing this ticket.

[2017-08-09 16:25] #216 closed

[2017-08-09 16:26] herlo commented on #282
Closed by #336

[2017-08-09 16:26] #282 closed

[2017-08-09 16:37] herlo commented on #339
Reference #241 for another conversation around this...

[2017-08-10 15:29] herlo opened #340 "Missing symlink causes error with linchpin fetch"
As unintended consequences go. I discovered this issue when testing out linchpin fetch. In one of my workspaces, I had been recently tinkering with credentials. In this case, the idea that a google cloud credential file could exist elsewhere and be linked. I might see this happen elsewhere with shared hooks or the like.

[code]
The above is the path that was linked. The /etc/gcloud/config.json fil

[2017-08-10 17:11] agharibi commented on #340
@herlo I was able to replicate the error but it didn't give me an IOError 2. I fixed my issue but would you mind showing me the workspace that you were trying to fetch?

[2017-08-10 17:28] herlo commented on #340
@agharibi The source workspace looks like this:

[code]
One of the noticeable things here is that I was trying to just fetch the layouts, but credentials is where the error occurred. I get why. Skipping broken links should be simple enough. Probably just a pass on the raised error would be good enough to fix this issue. We can't be expected to copy files that don't exist.

[2017-08-11 15:45] #314 closed

[2017-08-14 06:08] mrniranjan opened #341 "Beaker Provisionging: Support provisioning different distro in single topology file"
In the current beaker provisioning i see that you could provision single distro , i would like if the lichpin could support provisioning different distros (RHEL6.5, RHEL6.7) in a single topology,

Example:
[code]
May be also if possible to support multiple archs,  We have certain beakerlib tests where in a single test suite requires multiple hosts (RHEL7 as Server and RHEL6 as client, Or RHEL7.3 a

[2017-08-14 14:44] herlo commented on #341
@mrniranjan Could you put them in different resource groups? Maybe like this?

[code]
Not sure if it will work as I'm not the beaker expert here. @greg-hellings ?

[2017-08-14 20:09] agharibi commented on #340
Closed by #342

[2017-08-14 20:09] #340 closed

[2017-08-15 05:26] mrniranjan commented on #341
Thanks the above worked.

[2017-08-15 05:26] #341 closed

[2017-08-15 14:36] agharibi commented on #306
I submitted PR #344 to patch this bug. I'd appreciate some feedback if someone has the time to review it.

[2017-08-15 14:55] samvarankashyap commented on #92
#333 fixes the issue

[2017-08-15 14:55] #92 closed

[2017-08-24 13:54] herlo commented on #306
Fixed by #344

[2017-08-24 13:54] #306 closed

[2017-08-26 10:32] mrniranjan commented on #284
I would also like to have this feature

[2017-08-30 18:09] greg-hellings opened #347 "Provide mechanism for greater verbosity"
Currently the "verbose" option is a flag. Ansible (following the lead of ssh) provides for a count of up to 4 levels of verbosity by increasing the number of times the flag is present (e.g. greater verbosity can be had by passing "-v", "-vv", "-vvv", and "-vvvv").

Improve linchpin to permit passing multiple -v options, which would be passed through to the underlying Ansible calls to increase its

[2017-08-31 15:46] samvarankashyap commented on #329
ref https://github.com/ansible/ansible/pull/20874#issuecomment-326336742

[2017-08-31 17:34] herlo commented on #347
There is a grand problem with the API for this feature. I agree that we should have further verbosity. The challenge is that with the API, it's a bug we have yet to sort out. I think maybe that 2.3 has resolved this or something as the issues I had seen previously have disappeared from the ansible issues on Github. To that end, I've been working on a better bit of tooling for more verbosity in Lin

[2017-08-31 18:07] #328 closed

[2017-09-05 16:47] herlo commented on #337
I believe this was fixed with a conversation via IRC. Please reopen if this is not the case.

[2017-09-05 16:47] #337 closed

[2017-09-06 15:44] herlo commented on #315
@samvarankashyap and @herlo discussed this today. The plan is to put in a simple and complex example for each of the core (ec2, openstack, gcloud, libvirt) providers. Additionally, there will be some examples of combining these providers in a single topology. The rest of the examples will be moving to a contributor repository and noted that they may not be up-to-date.

[2017-09-06 15:45] herlo commented on #111
@samvarankashyap is planning on discussing this with a libguestfs expert in Brno in the next week or so. Hopefully, this can make authentication easier.

[2017-09-06 16:19] herlo commented on #235
The POC is complete and works well enough.
Before we close this issue we need to create issues for each of the core providers (openstack, ec2, gcloud, libvirt) for small playbooks and schemas

[2017-09-06 16:53] #258 closed

[2017-09-06 16:54] #257 closed

[2017-09-06 16:58] herlo commented on #240
Dependency hell has made this a challenge. We'll revisit when we have a better dependency structure. Thanks @greg-hellings for the work done so far.

[2017-09-06 17:01] greg-hellings commented on #240
I'm literally only waiting for the final release of linchpin that can handle ansible >= 2.3.2.0, which is already implemented in the develop branch.

The moment that's done, I can resubmit my review request for RPMs to Fedora.

[2017-09-06 17:02] herlo commented on #240
Oh, I thought there was more to this. I'll see about getting that done this week.

[2017-09-06 17:03] herlo commented on #240
@greg-hellings, we targeted >= 2.3.1, I assume that would work?

[2017-09-06 17:04] greg-hellings commented on #240
Yes, it's the >= that is the important part for packaging, not specifically the version.

[2017-09-06 17:05] #110 closed

[2017-09-07 02:27] mrniranjan opened #349 "Error fetching network list: __init__() got an unexpected keyword argument 'global_request_id"
When trying to provision on openstack, linchpin fails with error:

`
            "",
            "TASK [openstack : provisioning os_server resources with provided auth] *********",
            "fatal: [localhost]: FAILED! => {\"changed\": false, \"extra_data\": null, \"failed\": true, \"msg\": \"Error fetching network list: __init__() got an unexpected keyword argument 'global_request_id'\"}",

[2017-09-07 07:24] mrniranjan commented on #349
This issue occurs because of keystoneauth1 (3.2.0), if i downgrade to keystoneauth1 (3.1.0), it works

[2017-09-07 15:24] herlo commented on #349
/me assigns this to @samvarankashyap

[2017-09-07 19:54] mrniranjan commented on #349
similarly on Fedora26, i had to degrade shade version to 1.19.0 , i think on the latest version of shade(1.23.0), it gives the below error:

AttributeError: 'ShadeAdapter' object has no attribute 'get_api_major_version'

[2017-09-08 03:13] mrniranjan opened #350 "Set hostnames after provisioning"
Currently in our internal openstack deployment or beaker, The ipaddress assigned to instances are added in DNS, So is there a way in post hookup , we could do a reverse lookup of the ip addresses and set the hostnames on the systems.

Or if we want some custom hostnames to be set and update /etc/hosts too, is there a way to achieve this through hooks.

[2017-09-08 19:05] herlo commented on #350
I suspect you could easily write a bit of code, then add it as a postup hook that would modify /etc/hosts or do reverse lookups for you.

[2017-09-08 19:05] #350 closed

[2017-09-12 11:05] gsr-shanks commented on #349
+1

I am hitting similar issues. Provisioning works after downgrading the packages to the version mentioned above in this issue. Please have this resolved.

[2017-09-13 15:47] herlo commented on #349
I believe this has been resolved by PR #351. Please reopen if this is not the case.

[2017-09-13 15:47] #349 closed

[2017-09-13 15:55] herlo opened #352 "Create cerberus schema validation for openstack module"
Per #235, each core provider needs to validate against its own schema. One for the openstack provider, which includes all sub-components must be created. This can be done similarly to the example provided by the dummy module, which was completed as a proof of concept. See the following files for examples:

* https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.5/linchpin/provision/dummy.yml
*

[2017-09-13 15:56] herlo opened #353 "Create cerberus schema validation for gce (gcloud) module"
Per #235, each core provider needs to validate against its own schema. One for the google compute engine (gce, gcloud) provider, which includes all sub-components must be created. This can be done similarly to the example provided by the dummy module, which was completed as a proof of concept. See the following files for examples:

* https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.5/linc

[2017-09-13 15:57] herlo opened #354 "Create cerberus schema validation for libvirt module"
Per #235, each core provider needs to validate against its own schema. One for the libvirt provider, which includes all sub-components must be created. This can be done similarly to the example provided by the dummy module, which was completed as a proof of concept. See the following files for examples:

https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.5/linchpin/provision/dummy.yml
https

[2017-09-13 16:01] herlo opened #355 "Create cerberus schema validation for amazon web services (aws/ec2) module"
Per #235, each core provider needs to validate against its own schema. One for the amazon web services (aws/ec2) provider, which includes all sub-components must be created. This can be done similarly to the example provided by the dummy module, which was completed as a proof of concept. See the following files for examples:

https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.5/linchpin/pro

[2017-09-13 16:02] #235 closed

[2017-09-13 17:52] arilivigni commented on #284
This feature IMHO already needs to be in linchpin to be useful.  If I am running this on multiple systems against one tenant or set of tenants this very easily could have collisions.  This is where some command line or other running execution option is essential.

[2017-09-13 19:19] #321 closed

[2017-09-13 19:41] herlo commented on #284
@arilivigni at this point, we do have a feature that should land in 1.1 which allows us to track the individual provisioning components. However, this doesn't yet provide management of the unique identifiers on a job by job basis. It just puts the identifiers in place.

While I don't disagree that this would be an awesome feature, I don't think LinchPin was originally designed to do things this wa

[2017-09-14 15:14] herlo commented on #289
Not specific to beaker, but more of a generic approach. I have made some progress toward having provisioning continue when any number of other provisions fail. In other words, if on or two nodes fail to provision along the way, the whole topology will still be attempted. Errors will be reported and such in a results structure.

However, to do this, much work is required and not the original intent

[2017-09-14 15:17] #299 closed

[2017-09-14 15:19] herlo commented on #304
For LinchPin 2.0 (likely, but possibly earlier), we're going to be building a few docker containers for running linchpin. With the Fedora Modularity and Factory 2.0 initiatives in full swing, we're likely to build the containers and storing them as part of the new Fedora tools.

[2017-09-14 15:22] herlo commented on #332
Consider creating a custom hook for this work. We'd be happy to help you understand how hooks work to get this bit working.

[2017-09-14 15:22] #332 closed

[2017-09-14 15:26] herlo commented on #316
I think the work we've done around the runDB may address this issue. I've reached out to @tvieira to meet about it in the near future. Hopefully this will be resolved by that work.

[2017-09-14 17:24] jaypoulz opened #356 "LinchPin 1.0.3 gives invalid syntax when provisioning beaker system (regression from 1.0.2)"
### Overview
I upgraded to LinchPin 1.0.3 from the 1.0.2 release available via pip. Since upgrading, I have not been able to provision systems from beaker due to a "syntax error". To confirm that this was indeed a regression, I reinstalled 1.0.2 on my system and the provisioning worked as expected. Digging further, installing LinchPin from source did not fix the issue. The error remains 'Unexpecte

[2017-09-15 06:05] mrniranjan commented on #332
@herlo Could you have a small write up on using hooks using simple example (like setting hostnames post provisioning)?

[2017-09-15 06:09] mrniranjan opened #357 "Use single beaker job when defining multiple resource groups in single topology"
Currently when we provision multiple resources using resource group  Example:
`
topology_name: beaker_topo
resource_groups:
- resource_group_name: beaker_1
  res_group_type: beaker
  job_group: idm
  whiteboard: linchpin provisioning smartcard1 on ['x86_64']
  recipesets:
  - distro: RHEL-7.4
    arch: x86_64
    variant: server
    keyvalue:
    - MEMORY>1000
    - DISKSPACE>20000
    hostrequire

[2017-09-15 15:50] #356 closed

[2017-09-15 21:24] herlo commented on #332
### Pinfile
[code]
### Topology
[code]

### Layout
[code]

### Hook
[code]

Some things to note. Hooks has a `context: True` flag. This takes the outputs from our system and uses the inventory which was generated as the component to use to determine the group or some such.

From that, you can see that the layout shows group `example`. A corresponding `hosts: example` lives in the `hooks/ansible/pi

[2017-09-16 13:08] cevich opened #359 "Docs: virtualenvwrapper orphan dependency"
It's listed as required for installation here http://linchpin.readthedocs.io/en/develop/installation.html#installing-linchpin but there's no other reference to it as a dependency.  Also, there's no mention w/n I can just use a regular ``virtualenv`` or not.  This is troubling since could block someone at the very first step!

[2017-09-16 13:27] cevich opened #360 "docs: Wheres the docs and tests?"
Installation mentions:

[code]

However there are no details on where the docs are located, nor how to run the tests.  There should be a 'hacking' section or at least include how to utilize virtualenv-installed ``linchpin[docs]``.  It'd be nice if the tests could be run from there as well, but at a minimum running them should be documented somewhere obvious.

[2017-09-16 20:22] cevich opened #361 "Support passthrough of cloud-init / cloud-config YAML"
This is required in some important cases, where partitioning or services must be disabled or configured prior to startup.  Otherwise, some mechanism of passing this in via image/volume attachment would be acceptable as well.

[2017-09-16 20:25] greg-hellings commented on #361
I believe this is (or will be in 1.1) supported for open stack. I had
needed it, also, and sent in a PR for it. I don't know if that hit the
1.0.3 branch or not.

On Sep 16, 2017 3:22 PM, "Chris Evich" <notifications@github.com> wrote:

This is required in some important cases, where partitioning or services
must be disabled or configured prior to startup. Otherwise, some mechanism
of passing this

[2017-09-16 20:34] cevich commented on #361
Excellent, glad to hear it.

[2017-09-16 21:41] samvarankashyap commented on #361
@cevich I am confident that cloud_init feature is included in 1.0.3

[2017-09-18 03:20] cevich commented on #361
Is it documented (I couldn't find it)?

[2017-09-18 10:33] bhavikbhavsar opened #364 "with version 1.0.3 TASK [libvirt : set image_src for uncompressed files] fails"
This was working fine with 1.0.2

Steps to reproduce:
1. pip2 install linchpin
2. utilized the same example.topology.yml and example-layout.yml
3. linchpin -v up

TASK [libvirt : set image_src for uncompressed files] ****************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"failed": true

[2017-09-18 15:04] samvarankashyap commented on #361
@cevich I am afraid  it's not .
As its just a userdata attribute to topology resource attribute.
We will be working on documentation more.
Please feel free to contribute  to documentation if you find some time :+1:
ref : #291

[2017-09-18 20:31] cevich commented on #361
One does not truly know something, until one can teach it.  Unfortunately, my n00b colors shine so brightly, the best I can manage ATM is spelling linchpin correctly ☹️

If I'm reading #291 correctly then (copying from the example), it would go something like:

[code]
?

Or does it take a file path as input?

[2017-09-18 22:24] greg-hellings commented on #361
It does take a string. I haven't revisited it since it was released, but I
needed it to handle Fedora based images (since those ship without
/usr/bin/python in a usable state, thus requiring a way to pre-inject an
install command before Ansible can be used). However, from memory, that
appears to be correct.

[2017-09-19 15:44] herlo commented on #364
Are you using a virtualenv? Did you symlink the libselinux-python libraries?

[code]
If so, I'm happy to look into this further.

[2017-09-19 15:47] herlo commented on #359
Technically, virtualenvwrapper is not required to run linchpin. However, the docs should state that to make the installation work in the way they are described, that it should be installed. I'll mark this one to update that in the docs.

Thanks!

[2017-09-19 15:53] herlo commented on #360
As part of the setup.py, docs and tests sections exist.

[code]
And not that you'd know we're running travis-ci tests, but this gives the basics of what we do right now.

[code]

We made an attempt at what you refer to as the 'hacking' section in @ https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/CONTRIBUTING.rst. It doesn't cover testing or generating docs, however. I'll leave this ticket

[2017-09-19 16:09] herlo commented on #364
Ok, it looks like ansible 2.3 changed the internal structure of the returned stat object slightly. Instead of `mime_type` it's now `mimetype`. I've updated the code for Ansible 2.3.1+ going forward. Watch for a Pull Request later today.

[2017-09-19 20:26] #364 closed

[2017-09-20 00:12] cevich commented on #360
Ya, looked at ``.travis.yml`` but didn't consider looking at setup.  In ``CONTRIBUTING``, maybe after the 'making a change" section (or part of it) would be a good spot.  For example:

Testing:

If you'd like to test your commit before pushing:

1.  make sure you have all the ``extras_require`` packages installed, as listed in ``setup.py``.
2.  From the repository-root, follow the ``install`` and

[2017-09-20 13:50] lukas-bednar opened #367 "(2) linchpin is failing with ansible 2.4"
when running cinchpin it fails on import error
[code]
ansible version
[code]
when downgrading to ansible-2.3.2.0 it goes OK

[code]

[2017-09-20 15:07] herlo commented on #367
I also discovered this yesterday. The Ansible 2.4 code changes how they manage inventories, which breaks linchpin. For now, please use Ansible 2.3.x and we'll address this bug ASAP.

[2017-09-20 15:43] #361 closed

[2017-09-20 15:52] herlo commented on #322
We are tracking the unique id issue in #284. Please comment there for further discussion.

[2017-09-20 15:52] #322 closed

[2017-09-20 16:18] herlo commented on #284
This is what we've come up with for addressing this issue.

Idempotency is on a provider-by-provider basis:
* aws doesn't support idempotent provisioning
* openstack, gce, and libvirt support idempotent provisioning

Unique transactions will be the default, with specific providers offering `--idempotent` flag.

Uses runDB to track by runID with combination of macid, pinfile, topology, optional lay

[2017-09-20 19:41] samvarankashyap commented on #367
@lukas-bednar  #369 fixes this issue ,
Please let us know if PR #369  does not.

[2017-09-20 20:34] #367 closed

[2017-09-21 15:59] gsr-shanks opened #370 "ImportError post linchpin upgrade to 1.0.3"
Post linchpin upgrade I see the following:

[code]

[code]

[code]

[2017-09-21 16:02] gsr-shanks commented on #370
Import works with ansible 2.3.1.0

[code]

[2017-09-21 18:28] herlo commented on #370
This has been fixed in #369. If you would rather not use ansible 2.3.x, please update your code to this point in the git tree at a minimum.

[2017-09-21 18:28] #370 closed

[2017-09-21 19:19] #359 closed

[2017-09-22 08:04] gsr-shanks commented on #370
When is this expected to land in pip ? Any ETA ?

[2017-09-22 15:09] herlo commented on #370
It's already there. https://pypi.python.org/pypi/linchpin

You may need to perform an upgrade if you already have 1.0.2 installed.

On Fri, Sep 22, 2017 at 2:04 AM, ѕнanĸѕ <notifications@github.com> wrote:

[2017-09-22 15:29] greg-hellings commented on #370
@herlo Per the subject heading, the bug affects 1.0.3, which is still the latest version on PyPI. I believe @gsr-shanks was wondering when a 1.0.4 will be cut to include the fix for this (also relevant to Cinch, as Beaker is broken in 1.0.3 and awaiting a fix).

[2017-09-22 15:43] #360 closed

[2017-09-22 15:46] herlo commented on #370
Ah good point. Let me look into it and see if I can cut something today.

[2017-09-25 21:22] herlo commented on #370
1.0.4 was cut on Friday, and is up on PyPI.

[2017-09-26 07:30] gsr-shanks commented on #370
Thank you

[2017-10-05 16:40] jaypoulz opened #375 "Linchpin should support passing arguments directly to the underlying ansible playbooks"
Today I spoke to @arilivigni and Jeff Burke about the virtues of linchpin as a tool. We agreed that one of the features that could greatly enhance the configurability and power of linchpin would be to the CLI an option to pass extra-args to the underlying ansible-playbooks.

I believe this should be assessed as a potential future component of linchpin, since this would leverage the value of using

[2017-10-05 16:43] jaypoulz commented on #155
As mentioned in #375, I discussed with @arilivigni and Jeff Burke that this issue speaks to the more general feature of being able to pass arguments to the ansible playbooks directly.  While this could be a direct flag in the CLI, more value could be exposed by allowing pass through of extra-args.

[2017-10-05 17:22] herlo commented on #155
Become is a specific feature in ansible. It's used to elevate permissions from a standard user to the root user, for instance. I don't think this is exactly what you are looking for. Though I do agree that passing in arguments through an --extra_vars might be a good way to go about things.

[2017-10-05 17:23] herlo commented on #375
Issue #155 is a different concept altogether. Become is a specific feature in ansible. It's used to elevate permissions from a standard user to the root user, for instance. I don't think that is exactly what you are looking for in this situation.

I do agree that passing in arguments through an --extra_vars might be a good way to go about things. Let's flesh this out a bit more and come back with

[2017-10-05 17:24] arilivigni commented on #375
@herlo I think after you finish the work for uniqueness of instances this should be the next top priority since it is something everyone can leverage and it makes linch-pin more flexible.

[2017-10-13 05:09] cmoulliard opened #376 "RFE: Extend linchpin to support digitalocean Api"
Can linchpin be extended to support [digitalocean](https://developers.digitalocean.com/documentation/v2/#droplets) ?

From "srallaba"
linchpin is highly dependent on ansible modules. Since the digital ocean ansible module is already posted on ansible2.4 its very easy to implement as a part of ansible

[2017-10-13 07:57] cmoulliard opened #377 "linchpin up fails on mac - No module named yaml"
Here is the project that I'm using on macos + instructions followed to install it, create file and start it

https://github.com/cmoulliard/provision_vm_linchpin

Ansible version installed : 2.4.0
Linchpin : 1.0.4

[code]

Error reported when linchpin up

[code]

The pyyaml package is well installed

[code]

[2017-10-13 15:44] herlo commented on #377
Could this be an SELinux issue maybe? We've sometimes seen when a file cannot be read or written that selinux is preventing it in some way. One thing that doesn't get installed by pypi because it's not packaged that way is the libselinux-python packages. They also have to be symlinked into your virtualenv.

Have a look at https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/scripts/install_lib

[2017-10-14 06:04] greg-hellings commented on #377
If OP is on Mac, then it's not an SELinux issue.

[2017-10-16 13:43] cmoulliard opened #378 "Are the steps to provision single-host part of openstack topology"
Hi,

I'm a bit confused as I'm not sure if the steps to provision a single-host are part of openstack topology or not. If this is not the case, then the doc is not up to date as we have the impression to provision openstack single-host

![screenshot 2017-10-16 15 40 29](https://user-images.githubusercontent.com/463790/31615042-8fc38814-b288-11e7-9c9b-9c32cd986d87.png)

Charles

[2017-10-16 15:21] herlo commented on #377
@greg-hellings Yeah. We spend a good amount of time on it on Friday in IRC. I failed to update here. Thanks!

[2017-10-16 16:19] herlo commented on #378
I'm not sure why it's laid out like that. It does appear though that section is showing an openstack example provision. We are planning a documentation update for 1.5 (later this year, early next) so watch for the changes to show up at that time.

[2017-10-17 12:50] cmoulliard opened #379 "Multiple ansible hooks defined within the PinFile not executed"
The following [pinfile](https://gist.github.com/cmoulliard/3f55ce132d2bdefb806088d6dbd8f02e#file-gistfile1-txt-L407-L425)

[code]

when executed doesn't show any error

[code]

but the result will be in my case that the git clone command is not executed and yum packages not installed

The hooks are working as I can execute them individually using the command `ansible-playbook -vvv -i inventories/o

[2017-10-17 15:55] samvarankashyap commented on #379
@cmoulliard : Could you please try out the following pinfile
https://pastebin.mozilla.org/9070321

[2017-10-17 18:59] cmoulliard commented on #379
Excepted the extra_vars, I don't see indentation mismatch

I have recreated the pinfile :  https://gist.github.com/cmoulliard/b5eea6905dd8d8cca2cefa5a28d2d38a

and the yaml syntax looks correct :
![screenshot 2017-10-17 18 06 33](https://user-images.githubusercontent.com/463790/31683738-0dfe50d8-b37e-11e7-8b7c-9cede3aed9de.png)

But the problem is still there

[2017-10-18 07:00] cmoulliard commented on #377
Is there a trick to similate what ansible is doing here to get more trace and check why python classpath doesn't work propertly here ?

[code]

[2017-10-18 14:38] herlo commented on #377
You can run your topology and/or layout files against ansible directly. I do this by going to the linchpin/provision directory and running something like this:

[code]
However, when we were working through this issue on IRC, I tried this and didn't run into any errors. I do wonder if it does anything on the mac, though.

[2017-10-18 16:01] herlo commented on #284
Currently, the dummy and os_server modules are working (no async support yet). I need to take the time to make gcloud, aws_ec2, and libvirt work. I expect to have something working by Friday and can demonstrate it early next week.

[2017-10-18 19:38] samvarankashyap commented on #111
Ready with libvirt install scripts
Need to work on the docs
Waiting for rundb integration to happen.

[2017-10-19 10:49] cmoulliard commented on #378
@herlo What is the idea suggested behind steps to provision a "single-host" ? Is it a VM created by openstack ? Is it a VM created using SSH ... ?

[2017-10-19 10:50] cmoulliard commented on #377
@herlo Do you have an example about site.xml ? Which info does it contain ?

[2017-10-19 14:55] cmoulliard commented on #377
Site.xml is part of the linch-pin project ;-)

Can we pass as -e param the credentials required by openstack ?

[code]

[2017-10-19 15:29] cmoulliard commented on #377
This command is working

[code]

[2017-10-19 15:45] herlo commented on #377
@cmoulliard this implies only that the topology didn't validate against v3 of the schema we use. Further down, there's another validation for schema_v4. If that one fails (which is what you reported above), then there's trouble. The json module is still the issue here. We troubleshot it the other day, but still can't seem to figure out what's happening as I've not been able to reproduce it here.

[2017-10-19 16:09] cmoulliard commented on #377
I don't have any issue when I start/launch linchpin without virtualenv

[2017-10-23 17:08] danalanerh opened #380 "Need to be able to pass reservetime to the reservation task during a beaker provision"
By default, the reserve time for a linchpin beaker task is 24 hours. There is a task parameter reservetime: that you can attach to the reserve task that will set the watchdog timer to be the time (in seconds) that you list instead of the default 24 hours.

[2017-10-26 04:27] greg-hellings commented on #357
By the construction of Linchpin, this will necessarily execute two calls to Beaker. Can you test putting both of those items into the same recipesets array and try it? That *should* give you one job. If it doesn't, I can look into modifying Linchpin to support that functionality. However, when you have two different resource groups defined in your topology that is going to require two different jo

[2017-10-27 15:24] mrniranjan commented on #357
Can you give an example or array here.

[2017-11-07 07:18] greg-hellings opened #384 "Provisioning an OpenStack server with multiple networks fails"
Provisioning a server with multiple NICs is supported by the upstream os_server module. However, it fails in Linchpin.

Sample topology that fails:
[code]
Those arguments do work when passed to os_server (network arguments need to be adjusted to be ``net-name: QE`` instead of a string for the upstream module). Error message received is:

[code]

I experimented with specifying the fip_pool as well.

[2017-11-07 17:42] herlo commented on #284
This has been resolved by #382, closing issue.

[2017-11-07 17:42] #284 closed

[2017-11-07 21:09] beerparty opened #386 "Duplicate topology in documentation"
In the LinchPin documentation under Example Topologies (https://linchpin.readthedocs.io/en/develop/topologies.html), the item "Beaker Topologies" is listed twice with identical information for both entries.

[2017-11-07 23:04] herlo commented on #386
@beerparty thanks! I'll update this soon as I'm planning a review of the documentation very soon now(tm).

[2017-11-08 14:38] beerparty commented on #386
I have additional corrections/suggestions for the documentation. What is the preferred method to submit them to you?

[2017-11-08 16:01] herlo commented on #240
@greg-hellings I think we updated the ansible >= 2.3.1 setting. Is there anything else waiting on this? Please note, there is one new dep, tinydb, but it's already packaged and shouldn't be any additional work for you.

Thanks!

[2017-11-08 16:12] samvarankashyap commented on #386
@beerparty All the docs are included in docs folder of current repository .
Feel free to create Pull requests to correct glitches in the documentation.

[2017-11-08 16:31] herlo commented on #375
After talking with @jaypoulz @arilivigni, there are two essential parts for this feature. Each will be described in its own comment below.

[2017-11-08 16:32] herlo commented on #375
The first is to allow dynamic PinFile, topology, and layout files. Essentially, the idea would be that a user could pass in a script in place of these items. The result of the script would be a json output, probably to STDOUT, that linchpin could ingest.

Probably something like:

[code]

[2017-11-08 16:42] herlo commented on #375
The second component would be to take the existing topologies, and allow for templating them in some way. The idea being that it would introduce a looping component and variable replacement similar to what Ansible does.

A simple use case for this might be to have three nodes in the same resource_group, but each of them be a different architecture. The architectures could either be passed in as an

[2017-11-13 19:18] p3ck opened #387 "libvirt backend fails"
Hello,

Using the pinfile and topology from: https://github.com/herlo/lp_test_workspace

libvirt fails with the following:

`docker exec -it lp_centos7 /root/linchpin-test.sh
/workdir/Dockerfiles/lp_test_workspace ~
[DEPRECATION WARNING]: The use of 'include' for tasks has been deprecated. Use
'import_tasks' for static inclusions or 'include_tasks' for dynamic inclusions. This
 feature will be rem

[2017-11-13 20:16] herlo commented on #387
@p3ck what is the linchpin command you are using? It should be something like:

`linchpin up <target>`

It looks like you might be trying to run all of the targets in the PinFile?

Also, the issue with libvirt specifically is being address in PR #383, which we're almost done vetting.

[2017-11-13 20:26] p3ck commented on #387
Hi Clint,
I modified my command to only issue one target at a time.  Thanks for the suggestion.
But I don't see my particular issue referenced in PR #383

I can try running my workflow against that PR though...

[2017-11-13 20:36] herlo commented on #387
@p3ck I saw the dummy component and then it called libvirt, so I wasn't sure what was going on. Let me know if it continues with the updates from PR #383.

If it continues to fail, would you paste the linchpin command you are running? Additionally, the PinFile and topology would be super helpful.

[2017-11-14 13:08] p3ck commented on #387
What makes you think pr383 will fix my issue?

btw - I'm simply running linchpin up libvirt with the pinfile and topology from your repo here: https://github.com/herlo/lp_test_workspace

[2017-11-14 14:01] p3ck opened #388 "failure to initialize on centos6"
using pinfile and topology from https://github.com/herlo/lp_test_workspace

[code]

[2017-11-14 14:13] p3ck opened #389 "don't assume $HOME/.config/ exists"
a fresh install and new user will not have a .config directory if they never ran any other software that would create it.  linchpin should not assume it exists and create the directory if needed.

[2017-11-14 15:55] robled commented on #389
For CI workflows, this file (and all others needed to execute linchpin successfully) should also be optionally stored/read from the linchpin workspace, as writing to `~/.config` is not compatible with CI jobs that should be self-contained.

[2017-11-14 16:35] herlo commented on #389
@p3ck I've fixed this in my latest work. I have yet to merge it. I'll try to update this ticket when I push a new PR. Thanks

[2017-11-14 16:37] herlo commented on #389
@robled in terms of why this exists, the runDB component cannot live in the workspace. If it does, provisioning multiple systems of the same type will not be centrally tracked. The runDB feature provides a central location for storing the database. The $HOME/.config/linchpin path is where this is stored by default, thus it must be created to accommodate this location.

If you desire to switch it,

[2017-11-14 16:40] herlo commented on #389
@robled you'll find this setting on line 10 of the current linchpin.conf file in the develop branch. The value is: `default_config_path = ~/.config/linchpin`. If you want to specifically change the rundb connection string, it's on line 21, which reads `rundb_conn = %(default_config_path)s/rundb-::mac::.json`. These values can be changed to whatever you'd like. Keep in mind, the `::mac::` component

[2017-11-14 16:45] herlo commented on #388
@p3ck is this using anything special? Are you using a virtualenv? How did you install? I'm looking to duplicate this, but have been installing/running this on CentOS without issue for some time.

[2017-11-14 16:49] herlo commented on #387
@p3ck specifically, PR #383 rewrites a large portion of the libvirt playbooks. @samvarankashyap has updated the cp_img_src tasks specifically to address the local vs remote copy which is needed for some scenarios. In my testing of PR #383, I ran across this issue as well, and I believe it to be fixed. However, my tests are mostly on my Fedora system.

I'll spin up a CentOS box and test this soon.

[2017-11-14 16:53] herlo commented on #316
I think this issue may be resolved by #382. The upcoming `linchpin journal` tooling should provide useful output functionality to gather data from a particular provisioning run. I'll update this ticket when it is completed.

[2017-11-15 15:23] p3ck commented on #388
@herlo just to follow up here I believe you said some code was introduced that doesn't work under python2.6 which is what centos6 is.

Now that you have the Dockerfiles I used do you need anything else from me?

[2017-11-15 15:26] p3ck commented on #387
as discussed in irc the issue is still present with the latest PR #383

[2017-11-15 15:47] herlo commented on #388
@p3ck I figured out this specific issue, but there are further issues with centos 6 that I have identified. I just merged #390 so I can use it in the mainline code for testing.

I'm going to leave this ticket open and address these as I can. I suspect linchpin only works on certain platforms as I couldn't get it to work on centos 6 or fedora 25. I'll work through your setup and give feedback as I

[2017-11-15 15:51] herlo commented on #388
@p3ck, actually. I wonder if you could file a bug for the latest errors on each distro from your testing. I'm wanting to identify those issues and think that would be supper helpful.

[2017-11-15 15:53] herlo commented on #111
Fixed by #383

[2017-11-15 15:53] #111 closed

[2017-11-15 16:03] arilivigni commented on #388
@herlo fedora 25 should 100% be supported.  I am not as concerned about CentOS6.

[2017-11-15 16:23] herlo opened #393 "LinchPin Journal - reporting on provisioning tasks"
Tracking task for providing data back to users on provisioning runs and their results.

[2017-11-15 16:24] herlo commented on #388
@arilivigni I agree, but it is currently failing as well. @p3ck chose the four distros to test, so I went with what he had.

[2017-11-15 16:27] p3ck commented on #388
@herlo what distros do you currently test against when you make a release?

Currently the issues I have hit are as follows:
#387 - fails on centos7, Fedora25 and Fedora26.
#388 - this issue which fails on Centos6.  I imagine if this is fixed it will also fail on #387.

I have not had an issue installing linchpin on Fedora25 using the Docker images.  I don't have anything more to report until these

[2017-11-15 16:30] herlo commented on #388
@p3ck the distro I test against is F26 in a virtualenv. I test it on centos7 as I can as well. Fedora 25 should be tested, but isn't. I think CentOS 6 is a useful test, but as pointed out above is less important.

@arilivigni what do you think of F27? I've not yet upgraded, but figure it's going to need to be in the pipe soon. Yes?