[2017-11-15 17:28] jaypoulz opened #394 "Error / Timeout in beaker provision should cancel the job"
### Problem Description
The way beaker provisioning currently works presents a problem when the provisioning fails because of timeout when waiting for the resource. The problem is that the submitted beaker job is not canceled, and there is not sufficient information passed to the caller to cancel it manually.

### Why this is a Problem
- In a test environment where linchpin is called to provision

[2017-11-16 15:09] p3ck opened #397 "Duffy allocation fails"
using latest version from git I get the following failure when trying to bring up a duffy node.

 linchpin up duffy
[DEPRECATION WARNING]: The use of 'include' for tasks has been deprecated. Use
'import_tasks' for static inclusions or 'include_tasks' for dynamic inclusions. This
feature will be removed in a future release. Deprecation warnings can be disabled by
setting deprecation_warnings=False

[2017-11-16 15:41] herlo commented on #393
PR #396 fixes this issue

[2017-11-16 15:41] #393 closed

[2017-11-16 16:12] herlo commented on #384
I am not able to replicate this issue. I just provisioned two nodes, one of which has two networks listed. The result was successful.

[code]

[code]

[2017-11-16 19:03] jpryor-rh opened #399 "RFE: Print URL of Beaker job so user gets more info about the job"
As per what @robled said in #180:
_Another nice thing to do would be to print the URL to the Beaker job so that it's easy for a user to get more info about the job without having to manually look up the job ID in the Beaker web interface._

Indeed, it would be an nice feature to have since right now I have to manually toggle over to the beaker webui to figure out what job & machine it landed on.

[2017-11-16 19:08] jpryor-rh commented on #283
Looks to me that beaker-client is not Python 3 compatible as I found out a few days ago on Fedora 26 with Python3:
[code]

Beaker devs are aware of it and it is tracked in bugzilla at https://bugzilla.redhat.com/show_bug.cgi?id=1455424

[2017-11-16 19:11] herlo commented on #283
Correct. Beaker is not Python3 ready. The conversation has been brought up multiple times. One of the considerations to combat this is to have the rest of LinchPin be Python3 ready, and then have provider modules (like beaker) as add-on components. This is more of a long term plan, however.

[2017-11-17 20:35] #397 closed

[2017-11-17 20:57] greg-hellings commented on #384
Please try again without the "fip_pool" argument. That modifies the behavior of the module assigning a floating IP away from the default (which is auto_ip: true, implied when no floating IP arguments are passed as in the case of my topology).

[2017-11-17 21:33] herlo commented on #384
I'm still not having this issue as you describe. Here's my topology:

[code]

The resulting servers has multiple IPs as expected:

[code]

Openstack is a beast when it comes to the configuration options in every corner. I'm guessing you are running into some other issue. I know that floading_ip, floating_ip_pool, and auto_ip in ansible are mutually exclusive flags that can be passed. This makes pr

[2017-11-17 22:07] herlo commented on #389
Fixed by #398

[2017-11-17 22:07] herlo commented on #388
Fixed by #398

[2017-11-17 22:07] #388 closed

[2017-11-17 22:13] herlo opened #402 "Dynamic inputs to linchpin"
Dynamic PinFile, topology, and layout files. Essentially, the idea would be that a user could pass in a script in place of these items. The result of the script would be a json output, probably to STDOUT, that linchpin could ingest.

Probably something like:

[code]

[2017-11-17 22:14] herlo opened #403 "Topology templating"
Take the existing topologies, and allow for templating them in some way. The idea being that it would introduce a looping component and variable replacement similar to what Ansible does.

A simple use case for this might be to have three nodes in the same `resource_definitions`, but each of them be a different architecture. The architectures could either be passed in as an external variable (`{{ a

[2017-11-17 22:18] herlo commented on #375
Opening two issues for the features listed above. These will better describe and track the changes for each issue.

#402 - [Dynamic Inputs to LinchPin](https://github.com/CentOS-PaaS-SIG/linchpin/issues/375#issuecomment-342873894)
#403 - [Topology Templating](https://github.com/CentOS-PaaS-SIG/linchpin/issues/375#issuecomment-342877095l)

[2017-11-20 16:54] p3ck opened #405 "fails on centos6"
Using python2.6 on Centos6 still fails with the following error.  This is using the latest develop branch commit f144ae91294c3604ee61c861b52310491ae862e1

[code]

[2017-11-20 19:04] herlo commented on #405
@p3ck can you check the version of PyCrypto installed? I'm wondering if it is even installed or what here?

`pip freeze | grep -i pycrypto` should help.

[2017-11-20 20:01] p3ck commented on #405
pycrypto==2.6.1

[2017-11-21 19:41] jaypoulz opened #411 "1.2.0 failure in Centos7"
Here's the run log from my Jenkins job:
[code]

Looks like the new rundb stuff has a bug when checking for configuration that may not exist.

[2017-11-21 20:17] herlo commented on #411
I know exactly what is wrong. PR forthcoming. In the meantime, the workaround is just to create the directory structure.

[2017-11-21 21:48] #411 closed

[2017-11-22 14:46] p3ck commented on #387
with the latest dependencies installed this isn't a problem anymore.  But I still wonder if we could improve the error reporting to state which dependencies are causing it to fail.

[2017-11-22 14:46] #387 closed

[2017-11-30 16:25] herlo commented on #375
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] EPIC Dynamic Input and Templating](https://trello.com/c/nNfNmA05/253-linchpin-dev-epic-dynamic-input-and-templating)

[2017-11-30 16:26] herlo commented on #403
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] EPIC Dynamic Input and Templating](https://trello.com/c/nNfNmA05/253-linchpin-dev-epic-dynamic-input-and-templating)

[2017-11-30 18:32] greg-hellings commented on #240
@herlo The following dependency is currently waiting on review before I can get back to linchpin packaging. https://bugzilla.redhat.com/show_bug.cgi?id=1495293

[2017-11-30 19:06] greg-hellings commented on #357
Please delete the lines from `resource_group_name: beaker_0` through the second line that reads `recipesets:`. That should combine the two sets of recipes into a single job. At least, that's my understanding. Please let me know if that works for you or if that's not what you're looking for.

[2017-12-01 04:29] herlo opened #415 "Extending linchpin.conf doesn't seem to work properly."
While working on some new code, I tried to override the [lp] section in the linchpin.conf and was unable to override the external_providers_path. Need to dig into this and fix the bug.

[2017-12-01 06:34] mrniranjan opened #416 "Provisioning using libvirt fails"
Provisioning using libvirt is failing with below error:

[code]

Topology File:

[code]
Layouts file:

[code]
Versions:
linchpin (1.2.0)
libvirt-python (3.9.0)

[2017-12-01 07:46] mrniranjan commented on #416
when i downgrade to linchpin(1.0.4), it moves ahead and i see vm created but the playbook fails with below error:

[code]

[2017-12-01 15:21] herlo commented on #416
@mrniranjan for your first issue. The detail is in  'The error was: libvirtError: internal error: Unable to parse URI' - Check that in your system. You can validate that by running:

`virsh -c qemu:///system list --all`

I don't know for sure, but it seems like maybe the inconsistency in quotes in the topology may also matter.

[2017-12-01 15:23] herlo commented on #416
@mrniranjan with the second issue, that is usually due to having more items (count) in your layout file than in your topology. In this case, it seems you have it correct, however. Let's try to solve the first issue and address this when we get that resolved.

[2017-12-01 17:11] mrniranjan commented on #416
@herlo i tried again on a different system and i could reproduce the issue , so probably we can close this

[2017-12-01 18:41] #416 closed

[2017-12-05 23:03] jaypoulz opened #419 "Detect Missing Extras When Possible"
# User Story
Currently, installing linchpin for using beaker (and potentially ovirt), is less than intuitive.

For providers like OpenStack, you simply install the program like so:
[code]
Following the docs, you might copy-paste a dummy topology file and start provisioning from there.

Now, say you wanted to change that to beaker. Now that the topology layouts are the same, it's even easier to fal

[2017-12-07 15:09] herlo commented on #352
Closed with completion of #418

[2017-12-07 15:09] #352 closed

[2017-12-07 15:10] herlo commented on #353
Closed with completion of #418

[2017-12-07 15:10] #353 closed

[2017-12-07 15:10] herlo commented on #354
Closed with completion of #418

[2017-12-07 15:10] #354 closed

[2017-12-07 15:10] herlo commented on #355
Closed with completion of #418

[2017-12-07 15:10] #355 closed

[2017-12-07 15:11] herlo commented on #316
Closed with completion of #418

[2017-12-07 15:11] #316 closed

[2017-12-07 19:23] p3ck opened #420 "linchpin journal without target fails"
running linchpin journal without a target will fail even though the help says it should work.

Version: 1.2.0

[2017-12-07 19:24] p3ck opened #421 "RFE: allow inventory file name be specified in layout file"
A nice feature would be to specify the name of the inventory file in the layout file.

[2017-12-09 21:53] herlo commented on #415
Fixed by #418

[2017-12-09 21:53] #415 closed

[2017-12-09 22:42] herlo commented on #403
Per conversations with @jaypoulz recently. Passing in variables is a useful thing. He's mostly interested in `count` and `arch` fields.

Run linchpin would be something like:

`linchpin -vp PinFile.template --data 'arches=x86_64,s390x,ppc64le' up bkr-multiarch`

The file `PinFile.template` would contain YAML like so:

[code]

Would render to the following data, and passed to be acted upon:

[code]

[2017-12-09 23:12] herlo commented on #403
The flexibility of Jinja2 here allows for other options as well. Instead of wrapping the `recipesets` section as described above, a loop could be placed around all `resource definitions`, here's a libvirt example:

Additional options for the command line would be something like this:

`linchpin -vp PinFile.template --data /path/to/datafile.yml up libvirt-mi`

The content of /path/to/datafile.yml w

[2017-12-11 15:48] jaypoulz commented on #180
Just to be clear here - either the beaker job URL *or* just the id would be useful information for a user waiting for a beaker job to complete. Even if we're using the beaker client to pull down the job status while the provisioning is happening, this information exposed early is useful for planning & certain workflows. Hope to see this addressed soon. :+1:

[2017-12-11 21:21] jaypoulz opened #424 "Beaker timeout should be configurable via the topology"
# Overview
Currently, the bkr_info.py file specifies that it will check for provisioning updates once every minute for 60 minutes, and if the server isn't provisioned in that amount of time, than the provision has failed.

The amount of time you wait for the timeout should be a parameter you can pass along in the topology file.

[2017-12-11 23:02] #357 closed

[2017-12-12 15:16] herlo commented on #402
Fixed by #422

[2017-12-12 15:16] #402 closed

[2017-12-12 15:17] herlo commented on #289
Fixed by #422

[2017-12-12 15:17] #289 closed

[2017-12-12 15:46] herlo commented on #158
@p3ck has created this with the Dockerfile tests.

[2017-12-12 15:46] #158 closed

[2017-12-12 16:04] herlo opened #426 "Optional flag for generated PinFile to be output to a file"
Per discussions with @jaypoulz, it was brought up that generating templates was a great feature. One thing it could possibly use is output of the templated PinFile, with topology, including the optional layout and hooks data included.

The concept here might be to take the uhash value and write out a `pinfiles/Pinfile-<uhash>.generated` file. If the `--output-pinfile` flag is passed. An optional v

[2017-12-13 14:50] herlo opened #427 "linchpin_constants"
Make a simple method called linchpin_constants in the API and load the constant values here. Emulate the the Ansible constants.py concept.

[2017-12-13 15:45] jaypoulz commented on #411
Duplicates #389

[2017-12-13 15:55] herlo commented on #411
@jaypoulz are you using v1.2.1 which was just released yesterday? Would you be willing to update? I think this issue is fixed there.

[2017-12-13 21:14] herlo opened #428 "Processing Jinja2 from a separate topology or layout file fails"
Per @jaypoulz, LinchPin should allow for processing topology and layout files using Jinja2 in addition to a single PinFile.

Essentially, inputs might look like this:

[code]

Generating PinFile data from this would look like so:

[code]

[2017-12-14 16:53] robled opened #430 "RunDB / Optional uHash tracking issue"
[code]

During integration tests with cinch, the rundb feature is incompatible with the existing downstream example topologies that have been created for linchpin 1.0.4.  This command  - ```linchpin -v --creds-path ./credentials up```, when run in conjunction with the downstream example topologies (these will be provided offline), creates the following directory path which is not self-contained an

[2017-12-14 19:07] herlo commented on #430
This value is however set here: https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/linchpin.conf#L21, and could be updated to use the workspace, `/tmp` or another location quite easily. Something like:

`rundb_conn = {{ workspace }}/rundb.json`

In talking with others, it became clear that issue is not about the RunDB itself, but more about consistency across workspaces. Since it's

[2017-12-14 20:07] herlo commented on #430
tagging @robled as requested.

[2017-12-14 20:26] robled commented on #430
Changing the way the CLI is called would not be backwards-compatible.  We need to come up with a solution that would allow this [existing JJB template](https://github.com/RedHatQE/cinch/blob/master/jjb/ci-jslave-project-sample.yaml#L17) to work without changing the template as written for linchpin 1.0.4 and still be idempotent.

It sounds like this would require a change to our existing layout fil

[2017-12-14 20:40] herlo commented on #430
On Thu, Dec 14, 2017 at 1:26 PM, robled <notifications@github.com> wrote:

As I said above:

'What needs to happen here is a flag needs to be set to enable the uHash.
It is currently the default, but that is not backward compatible. I'll file
a separate issue to get this in place in the near future.'

Setting a flag called use_uHash = False in the linchpin.conf will
accomplish this once the work h

[2017-12-14 20:46] herlo commented on #430
@robled tagging here again

[2017-12-14 20:53] robled commented on #430
Sounds good - based on my understanding (sans implementation details) it looks like at some point in the future we can run another integration test with the following expectations:

* ~`/.config/linchpin` will not be created
* existing invocations of the linchpin CLI will be unaffected, and existing behaviors, including idempotency, will be preserved
* the existing linchpin workspaces we've create

[2017-12-14 21:10] seandst commented on #424
I've been looking into this for a little bit now. Passing the information from the topology to where it can be useful to the provisioning request monitoring is tricky, but I think I see a way to get it done reliably. The provisioning check step has a few other tunables possibly worth exposing in addition to just the timeout, such as the frequency of checks and number of retries. I'll see about exp

[2017-12-14 21:10] seandst commented on #424
@herlo where should I target development for this, and other beaker changes? Should it go here on develop, over in https://github.com/CentOS-PaaS-SIG/linchpin-providers-external, or somewhere else?

[2017-12-14 22:01] herlo commented on #424
@seandst It would seem that the best place for now is in the develop branch. Please make sure the schema_v4 supports the change. It should be optional, and the default should be set in the playbook. Does this seem reasonable?

The linchpin-providers-external repository needs to be removed, as it's no longer in use and was only supporting v1.5+ anyway. I'll get it removed so it doesn't cause confus

[2017-12-14 22:25] seandst commented on #424
That's my plan.

In detail, the plan is roughly to...

- add support for a maximum timeout value that is effectively null by default, indicating the existing frequency/retry count mechanism should be used
- allow changing the retry count and retry frequency
- allow the maximum number of retries to be null if a timeout is set, so users can specify that checks should be retried until the timeout is

[2017-12-15 01:59] jaypoulz commented on #389
@herlo Running the the release1.5 candidate branch, I get the following:
[code]

I assumed this was because the 1.5 branch did not have all the patches released in 1.2, so I checked out the tag released in that branch, and merged in the release1.5 branch from there so I could ensure that I had all commits. Despite having all of the commits, this still failed.

Could you take another look into this

[2017-12-15 03:03] herlo commented on #389
@jaypoulz It looks like something happened in a commit after Nov 21 which reverted that change. I did have to do some rebasing recently. I think I can fix this by rebasing the appropriate commit. I'll let you know once I have this working again.

[2017-12-15 16:24] herlo commented on #389
closed by #432

[2017-12-15 16:24] #389 closed

[2017-12-15 23:58] seandst commented on #394
I'm looking into at least spitting the URL to the job in the ansible output so it's a little easier to get to beaker from the linchpin call. This should fix #180 and #399, and work to address this. I also think it might be possible to just fulfill this request as-asked, which is to fire off a job cancel request if provisioning times out. I'm keeping this in mind while hacking on #424

[2017-12-16 00:03] herlo commented on #394
@seandst #180 has already been fixed here: https://github.com/herlo/linchpin/commit/c3b9163f994111b37db634ce85b60cb3b83c64fe I think it's in the release1.5 branch, but could easily be cherry-picked into the develop branch (for 1.2.x). or the release1.0 branch.

[2017-12-16 17:21] herlo opened #433 "Adjust the location of the RunDB into the workspace by default"
Per @robled, the `rundb_conn` value points to `~/.config/linchpin/rundb-<macaddress>.json in https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/linchpin.conf#L21. Issue #430 describes the rationale. This could cause incompatibilities when running the same target on the same system in multiple locations.

The value will be updated to use the workspace location by default.

[2017-12-16 17:34] herlo opened #434 "Allow the uHash value to be optional on resources and inventory output files"
Per #430, @robled requested to make the uHash be an optional value for both resources and inventories.

Additionally, an update to make the uHash optional would also remove it from inventory filenames.

NOTE: The uHash value will continue to show up in the database and reporting, but could be safely ignored with these changes.

[2017-12-16 17:43] #428 closed

[2017-12-16 17:45] #426 closed

[2017-12-16 17:48] #180 closed

[2017-12-16 17:50] herlo commented on #403
Closed by #425

[2017-12-16 17:50] #403 closed

[2017-12-21 19:29] herlo commented on #386
Fixed by #436

[2017-12-21 19:29] #386 closed

[2017-12-21 19:30] herlo commented on #378
Fixed by #436

[2017-12-21 19:30] #378 closed

[2017-12-21 19:30] herlo commented on #315
Closed by #436

[2017-12-21 19:30] #315 closed

[2017-12-22 20:23] herlo commented on #375
Closed by #422

[2017-12-22 20:23] #375 closed

[2017-12-22 20:24] herlo commented on #250
I believe this issue to be resolved by the oVirt module and libvirt module. If this is incorrect, please reopen this issue. Thanks

[2017-12-22 20:24] #250 closed

[2017-12-24 16:30] herlo commented on #243
release of linchpin v1.5.0rc1 no longer uses schema_v3

[2017-12-24 16:30] #243 closed

[2018-01-09 17:48] greg-hellings opened #441 "Fresh pip install misses jsonschema dependency"
Since December, jsonschema appears to have disappeared from the list of transitive dependencies which Linchpin directly relies upon.

Reproducer:
$ virtualenv testenv
$ . testenv/bin/activate
$ pip install linchpin==1.2.1
$ linchpin up

This will fail during the schema verification step with missing jsonschema.

WORKAROUND:
$ pip install jsonschema==2.6.0

This brings in the dependency and appears

[2018-01-09 17:51] herlo commented on #441
I've verified this bug and will address it when we target the other features for 1.2.2+. Thanks!

[2018-01-09 22:11] #441 closed

[2018-01-10 18:50] #405 closed

[2018-01-11 06:21] arilivigni commented on #430
@herlo Since there was agreement 27 days ago is there a fix for this in 1.5rc or 1.5.  This is currently blocking the compatibility with cinch and preventing them from moving to this version.  The main objective was not to have a 1.2.X maintenance branch but to allow backward compatibility in 1.5 for cinch and other that depend on the layouts, topology, etc.

What is the current ETA of 1.5 and thi

[2018-01-11 16:08] herlo commented on #434
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] make uHash optional v1.2.x, v1.5.x](https://trello.com/c/Tq09z1KS/271-linchpin-dev-make-uhash-optional-v12x-v15x)

[2018-01-11 16:21] herlo opened #447 "Allow teardown (destroy) based upon data in rundb"
Per discussions with @jaypoulz  and @scoheb, teardowns using dynamic data require the user to remember the data being passed. To that end, a switch to read the stored data from the RunDB on teardown could be useful.

[2018-01-11 16:22] herlo commented on #447
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] Provide a flag for doing teardown based upon data in topology or rundb](https://trello.com/c/NTizqbhq/273-linchpin-dev-provide-a-flag-for-doing-teardown-based-upon-data-in-topology-or-rundb)

[2018-01-11 18:18] jaypoulz commented on #447
To expand on this, there should be enough information stored in the output and inventory files for the teardown step to work by just specifying the target. It doesn't make sense that you have to pass in template data to teardown, and it makes even less sense that you can pass in template data different than what you passed in to create the environment and teardown will run correctly as long it it

[2018-01-11 18:32] jaypoulz commented on #434
Another enhancement on the flip side of this issue, that may warrant its own issue:
It would be nice if the output of a linchpin run included a way to get the named of the inventory file quickly.

One way to do this would be to print it out at the end of a run. Other ways might be to make it the output of a new command such as `linchpin latest` or even storying the value in an environment variable

[2018-01-11 18:33] herlo commented on #447
@jaypoulz agreed. This should be the default, as discussed today in the planning meeting. There is still a desire to use the static topology data from PinFile structure, thus others will need a way to disable this feature easily.

[2018-01-11 18:47] herlo commented on #434
@jaypoulz I think this is a good idea, would you mind putting this in as its own issue? I'm happy to work on this feature as I did discuss this with @scoheb as well.

[2018-01-11 19:05] jaypoulz opened #448 "Feature Request: variables to grab latest generated runId and inventory path"
# Overview
This is a feature request to make it easy to grab the latest generated inventory and look up its info in the runDB. It's great to have all of the inventories generated be unique (to prevent thrashing), but currently, you'd have to parse either the run output or the linchpin journal history to be able to quickly grab the last generated inventory file. By giving us environment variables f

[2018-01-11 19:12] herlo commented on #448
Thanks @jaypoulz for this issue, this comment expands your feature request a little. While using the context in a LinchPin hook is useful, it should also be exported to an environment variable as described above. There may be more than what is listed above, and will be detailed when this feature is investigated.

[2018-01-15 22:40] herlo commented on #155
Going to target this feature for 1.5.1 or 1.5.2

[2018-01-15 22:42] herlo commented on #347
Going to try to identify this and get it to work in 1.5.1 or 1.5.2.

[2018-01-16 15:55] herlo opened #451 "Add detail about libvirt and image copying rights to Provider doc"
Because libvirt usually uses the local system to provision instances, the source image must be copied into a location that libvirt can use. Usually, this requires root privileges, defaulting to using sudo. The system can be setup to use groups.

One option is to adjust the variables to put the image in a location the user can access for both read and write.

[2018-01-16 17:42] herlo opened #452 "Getting Started Updates"
@flowerncsu provided some useful suggestions for the LinchPin Getting Started documentation

* Make sure to show the symlink trick for virtualenv
Some systems use python3 with `mkvirtualenv` by default. Passing the `-p $(which python2)` could possibly help in this situation.

[2018-01-16 19:40] jaypoulz opened #454 "Allow external file paths for hooks"
# Overview
As we discussed in our meeting today, linchpin can potentially supported cinch as a hook by using a symbolic like to point to the cinch playbooks and manually adding the role path to the ansible call.

This is pretty clunky from a user's point of view, and is really only for users with a deep understand of how linchpin is used.

## Short Term Improvement
One way to alleviate some of the

[2018-01-18 22:37] #347 closed

[2018-01-18 23:36] herlo commented on #247
Fixed by #455

[2018-01-18 23:36] #247 closed

[2018-01-23 14:12] samvarankashyap opened #457 "Bug: libvirt topology validation fail"
### Branch: linchpin develop branch

### error
23:46:13 Inserting img_src
23:46:13 ++ find /workDir/workspace -name untested-atomic.qcow2
23:46:13 ++ tail -n 1
23:46:13 + img_src=/workDir/workspace/ci-stage-pipeline-f27/untested-atomic.qcow2
23:46:13 + sed -i 's|        image_src\:.*|        image_src\: "file\:\/\//workDir/workspace/ci-stage-pipeline-f27/untested-atomic.qcow2"|' /root/linchpin_wor

[2018-01-23 15:30] samvarankashyap commented on #457
[code]

[2018-01-23 15:41] samvarankashyap commented on #457
surprisingly the following topology works
[code]

[2018-01-23 15:42] herlo commented on #457
@samvarankashyap let me give this a try...

[2018-01-23 15:48] herlo commented on #457
@samvarankashyap the difference is in copy_ssh_keys. Clearly you are using this and it's not found in the role.

[2018-01-23 15:48] #457 closed

[2018-01-23 15:50] herlo commented on #457
I should clarify that while `copy_ssh_keys` may have been in an older version of LinchPin, this version doesn't support it because it doesn't appear to be used anywhere in the libvirt role.

[2018-01-24 15:31] #433 closed

[2018-01-24 15:31] #434 closed

[2018-01-24 15:41] herlo commented on #430
Both issues #433 and #434 have now been fixed with this issue. When v1.5.1 is released, this issue will be closed.

[2018-01-24 20:43] robled opened #459 ""resources/file.output" no longer available in linchpin workspace"
While testing the recent work done for #430, I was able to successfully provision an instance in OpenStack using linchpin in Jenkins as of [this commit](https://github.com/CentOS-PaaS-SIG/linchpin/commit/b11d18b412b1a94c43b915765e7df1f6d2de0106) with our existing linchpin workspaces.  However, the Jenkins teardown step fails, because the resources directory and corresponding output file that we us

[2018-01-24 21:26] herlo commented on #459
Hi @robled can you point me to the code in your cinch project where the resource is used? We could fixup a solution that should work for this situation. It should be fairly trivial.

[2018-01-24 21:37] herlo commented on #459
@robled nevermind, I found what I was looking for, thanks.

[2018-01-25 15:42] herlo commented on #427
This will also require adjusting the linchpin.conf to become a commented out file in a 'conf' directory. It can then be used in the appropriate places to 'override' each individual setting.

[2018-01-25 15:45] herlo commented on #427
The linchpin.constants file loads from the linchpin library and used for configuration constants. This is loaded from the LinchPinContext class. The implemented load_config method has been moved to the LinchpinCliContext class.

[2018-01-25 18:17] jethbu commented on #394
Usage:  rhts-abort -t [JOB|RECIPESET|RECIPE]
https://github.com/beaker-project/rhts/blob/master/bin/rhts-abort

[2018-01-30 18:19] #427 closed

[2018-01-31 15:05] #459 closed

[2018-01-31 18:25] jpryor-rh opened #463 "RFE: support for beaker LIKE % operator"
From https://beaker-project.org/docs/whats-new/release-21.html#beaker-21-1

This is from a working beaker job's XML:
[code]
for example it will choose an available host from hostnames node01 through node22.

[2018-02-01 16:15] herlo commented on #448
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] Add environment variable outputs for easy access outside LinchPin](https://trello.com/c/48GaTnmB/276-linchpin-dev-add-environment-variable-outputs-for-easy-access-outside-linchpin)

[2018-02-01 16:17] herlo commented on #421
![](https://github.trello.services/images/mini-trello-icon.png) [[linchpin-dev] Allow inventory file name be specified in layout file](https://trello.com/c/XI98XVuA/277-linchpin-dev-allow-inventory-file-name-be-specified-in-layout-file)

[2018-02-01 19:16] #451 closed

[2018-02-01 19:16] #452 closed

[2018-02-05 18:17] herlo commented on #155
In #464, it was discovered that Libvirt was limiting the managing of users' rights with regard to where to store images, sudo rights, etc. Adjusting [the become parameters](https://github.com/CentOS-PaaS-SIG/linchpin/pull/464/commits/333abb10276c49bd7ccd567f5c8614b7fe49d555) seems to have addressed this in a way via extra_vars (evars) to make the image location more flexible.

[2018-02-06 15:53] jaypoulz commented on #394
I've been working on some logic to accommodate canceling a job in my Jenkins environment, and in doing so I've discovered a related workflow that should be patched with this issue.

Here is a paste bin log of my test failure, starting at the beaker provision step.
http://pastebin.centos.org/535306/

## Problem Workflow
1. The job is running, and linchpin is provisioning from beaker and has reached

[2018-02-06 17:13] herlo commented on #394
@jaypoulz Thanks for the comments. To start, the teardown (destroy) doesn't require an inventory file. You probably mean that the teardown doesn't record anything to either the RunDB or resources file.

The trick here is that the 'linchpin destroy' action must know the job id in beaker to destroy it. When 'linchpin up' fails to provision beaker resources, this data is likely not recorded anywhere.

[2018-02-06 17:31] jaypoulz commented on #394
@herlo Thanks for the update. I've fixed my comment accordingly since I don't know the true cause of the teardown failure since it does not require an inventory file, and that is what I would have assumed would cause the issue.

[2018-02-07 18:24] herlo commented on #430
Fixed by PR #465 #462 #458

[2018-02-07 18:24] #430 closed

[2018-02-07 20:35] seandst commented on #463
This should already be supported. In the topology, the hostrequires section should look like:
[code]

Note that beaker is sensitive to the case of the operator. `like` should work, `LIKE` will not.

[2018-02-12 21:07] jaypoulz opened #471 "LinchPin should store beaker_job_id in the RunDB at runtime"
# Overview
This issue is a follow-up case for when a beaker topology linchpin up could result in wasted beaker resources. After a discussion with @herlo, we've determined that we can fix this by stored the beaker_job_id in RunDB as soon as it becomes available.

## Problem Workflow
1. The Jenkins job is running, and linchpin is provisioning from beaker and has reached the step where it submits the

[2018-02-12 21:33] herlo commented on #471
Thanks @jaypoulz. Per our discussion, it should be pretty simple to add this into the RunDB from the beaker provider immediately after the beaker_job_id value is obtained.

[2018-02-13 12:50] #394 closed

[2018-02-13 12:50] #399 closed

[2018-02-13 12:50] #424 closed

[2018-02-13 15:24] herlo commented on #471
To be clear, this actually already happens during the gather_facts role, which occurs after the beaker provisioning role occurs. The problem here is that because an interrupt occurs, LinchPin (and ansible) do not trap this interrupt. However, simply adding the beaker_job_id to the RunDB record should allow for teardown to be successful whether or not the job was interrupted.

[2018-02-14 23:13] herlo commented on #420
![](https://github.trello.services/images/mini-trello-icon.png) [(2) [linchpin-dev] linchpin journal should print all targets by default](https://trello.com/c/7k5CWQxg/286-2-linchpin-dev-linchpin-journal-should-print-all-targets-by-default)

[2018-02-15 17:15] #420 closed

[2018-02-15 19:35] danalanerh opened #478 "provision with linchpin 1.5.1.1 creates more beaker jobs than recipe requested"
Using the following pinfile/topology and layout causes more beaker jobs than recipie sets, including multiple for each host. The 1st 3 complete and reserve the host, but them new jobs are queued up for the same hosts, resulting in the job stalling waiting for hosts to be free, then timing out and failing; Eventually the 2nd set of jobs times out and results in a failed run with no inventory file.

[2018-02-15 20:00] herlo commented on #478
Hi @danalanerh,

Is there something wrong with combining the recipesets? I'm not sure it solves the problem specifically, but doing this may ease your pain a little. LinchPin reads the items from top down, so the layouts should still be applied the same way.

[code]

[2018-02-15 20:02] danalanerh commented on #478
It's a good question. In this case, I need them separate in the inventory file and originally I couldn't get them to be separate with a single recipe set. If there's a better way to do it, I'm open.

[2018-02-15 20:08] herlo commented on #478
@danalanerh can you provide me with an example inventory file you need? I'm certain we can help get this where you want it. LinchPin v1.5+ provides some nice new features that may benefit you with regard to inventory generation and resource creation.

[2018-02-15 20:27] danalanerh commented on #478
This is the resulting inventory file. Even though the recipes are the same, need to have 2 different host groups in this case.

[HCI_pod3_730 .inventory.txt](https://github.com/CentOS-PaaS-SIG/linchpin/files/1729235/HCI_pod3_730.inventory.txt)

[2018-02-15 21:03] herlo commented on #478
When you say '2 different host groups in this case', to which groups are you referring? It doesn't matter how you allocate the resources. It only matters the order in which they are allocated lines up with how the inventory is generated.

For example, if you had this inventory layout:

[code]

And a topology like so:

[code]
When those two nodes were provisioned in LinchPin, let's say they come ou

[2018-02-15 23:45] seandst commented on #478
I tested with the topology posted and am seeing the odd behavior where 9 nodes are ultimately provisioned. I did testing with multiple resource defs and didn't see this behavior, so I'm not sure exactly what's going on. While that's definitely confusing, I second the recommendation to spawn all nodes in a single recipesets list. I plan to test that out tomorrow if nobody beats me to it.

[2018-02-16 02:02] #463 closed

[2018-02-19 22:53] seandst commented on #478
Using the topology from [https://github.com/CentOS-PaaS-SIG/linchpin/issues/478#issuecomment-366044432](this comment), this is the (redacted) inventory generated:

[code]
That's pretty much exactly what I expected to see.

I think there is an edge-casey bug here where too many nodes are spawned when using multiple resource groups, so I'll find some time to dig into what's going on there. In the me

[2018-02-20 18:52] seandst commented on #380
I've been looking into how to do this, and it's not entirely clear to me how to tell the python client to do this. I'm going to keep digging, but if you have an example of doing this with beaker's python API, I'm definitely interested.

[2018-02-20 18:54] seandst commented on #471
This makes perfect sense to me, so I'll try to get this on my next sprint.

[2018-02-21 13:57] scoheb opened #479 "Openstack provider should be able to create and attach volumes to a VM"
We have a use case where we need to run a test with a VM that has a large volume.
We would like to be able to specify this need in the openstack topology.

parameters to define:

1. Volume size
2. Volume name

[2018-02-22 03:43] greg-hellings commented on #479
%subject says "Openshift" but the mention of "VM" and %body indicate OpenStack. I presume OpenStack is correct?

[2018-02-26 15:28] #421 closed

[2018-02-26 22:03] #380 closed

[2018-02-26 22:12] seandst commented on #380
With the schema fix committed in https://github.com/CentOS-PaaS-SIG/linchpin/pull/483#issue-171488879, you can now add a "RESERVETIME" taskparam.

[2018-02-27 18:36] robled opened #484 "Provisioning and teardown failures for EC2 instances in an AWS VPC"
With linchpin 1.5.1.1, schema validation fails for AWS topologies that reside within a VPC.

[code]

Topology:

[code]

Failure:

[code]

For schema validation to pass, the following must be added to **linchpin/provision/roles/aws/files/schema.json**

`vpc_subnet_id": { "type": "string", "required": false }`

Moving on to teardown, the following failure occurs:

[code]

To resolve this, we must fi

[2018-03-01 18:35] #484 closed

[2018-03-01 20:51] herlo opened #486 "SPIKE: Create LinchPin External Context"
# Purpose

As part of the request in https://github.com/CentOS-PaaS-SIG/linchpin/issues/448, I've done some preliminary research, interviews, and brainstorming sessions.

It's become obvious that linchpin needs to provide additional components to make environmental variables available. Additionally, it seems there's a common need for a context to provide data to external resources, be it environme

[2018-03-05 20:19] herlo opened #487 "Document what is required for each provider topology"
Each provider topology has a list of the variables and whether they are required or not in the files/schema.json file within the role definition. However, it's not documented what is required and what is not in each case. This issue is filed to update the providers documentation with the fields available and their required or optional status.

[2018-03-05 20:52] flowerncsu opened #488 "Error codes in summary not accurate when only some targets fail"
Found when doing a "destroy" action on two targets; one was an expected failure and the other succeeded, but both were listed as having an exit code of 2. See below excerpts from output and from rundb.

[code]
.rundb excerpt (successful destroy):
[code]
rundb excerpt (failed attempt):
[code]

[2018-03-07 19:49] robled opened #489 "AWS EC2 provider fails to validate schema for 'assign_public_ip'"
The AWS EC2 provider for linchpin supports this option, but the schema does not allow it:

Topology:

[code]

Test results:

[code]

[2018-03-07 20:00] robled opened #490 "AWS EC2 provider inventory generation fails to add instance hostnames or IP addresses"
The AWS EC2 provider for linchpin does not add AWS EC2 hosts to the generated Ansible inventory file.  The Ansible output during a provision operation suggests that the inventory file does not need to be changed, and thus hostnames or IP addresses are not added to it.

Topology:

[code]

Test results:

[code]

[2018-03-08 18:47] herlo commented on #486
Whiteboarding / brainstorming a concept for the data that will go into the RunDB, and used for the external context.

* The ✓ is always included
* The ⏣ indicates the data will be included when the functionality is used (eg. inventory layout)
* The **c** indicates it must be first enabled in the linchpin config before it can be used.

### Inputs

✓ topology_data
✓layout_data
⏣ hooks_data

### Outp

[2018-03-12 15:19] lukas-bednar opened #493 "os_server: failing to load credentials from clouds.yaml"
[code]
I have following topology
[code]
I have following content in `~/.config/openstack/clouds.yml`
[code]
I am running lichpin
[code]
and it is failing on
[code]

[2018-03-12 15:22] lukas-bednar commented on #493
If I update `clouds.yml` to look like following snippet, then it works, but I believe that my original version of `clouds.yml` file is valid as well.
[code]

[2018-03-12 22:38] herlo commented on #493
Hi @lukas-bednar,

Thanks for filing this issue. I'm unaware of the first format you are referencing here. Can you point to documentation for this format so we can update our code to match?

Thanks!

[2018-03-12 22:39] herlo commented on #490
Closed by #491

[2018-03-12 22:39] #490 closed

[2018-03-12 22:40] herlo commented on #489
Closed by #491

[2018-03-12 22:40] #489 closed

[2018-03-13 10:02] lukas-bednar commented on #493
@herlo I checked several [documentation pages](https://docs.openstack.org/os-client-config/latest/user/configuration.html), but I don't see this format. It might be related to some older version of oc-clients.
This issue was originally raised by @dyasny who provided me `clouds.yml` file in this old format, I guess that he can give more info here.

[2018-03-13 11:37] dyasny commented on #493
The latest Openstack documentation speaks of this format, I guess the older version was less elaborate. In any case, I've updated my playbooks to use this format and it also works, so IMO we might as well stick to it.
Just one question - does linchpin get tested against older versions of openstack, like Kilo or Liberty?

[2018-03-13 17:07] #471 closed

[2018-03-13 18:09] p3ck opened #495 "linchpin destroy fails for AWS"
+ linchpin -w . -v destroy aws-ec2-new
[DEPRECATION WARNING]: The use of 'include' for tasks has been deprecated. Use
'import_tasks' for static inclusions or 'include_tasks' for dynamic inclusions. This
feature will be removed in a future release. Deprecation warnings can be disabled by
setting deprecation_warnings=False in ansible.cfg.
[DEPRECATION WARNING]: include is kept for backwards compatib

[2018-03-13 19:28] herlo commented on #486
# Use Cases

This comment is meant to address common use cases/reasons for having a LinchPin External Context (LEP), and how the having the LEP can benefit users.

## Performing Actions on Provisioned Resources

Likely the most common scenario is a user would like to provision some resources, be given context for these resources to use while acting upon them. A simple example might be to configure

[2018-03-13 22:24] p3ck opened #497 "linchpin up AWS target fails when using CREDS_PATH"
+ linchpin -w . -v up aws-ec2-new
[DEPRECATION WARNING]: The use of 'include' for tasks has been deprecated. Use
'import_tasks' for static inclusions or 'include_tasks' for dynamic inclusions. This
feature will be removed in a future release. Deprecation warnings can be disabled by
setting deprecation_warnings=False in ansible.cfg.
[DEPRECATION WARNING]: include is kept for backwards compatibility

[2018-03-15 14:40] herlo opened #499 "LinchPin Context Distiller"
In line with #486 and per conversations with @flowersncsu @robnester-rh, an outputter is needed to capture and provide specified data to external sources. This data will consist of generic components as described in #486 as well as provider specific, and requested information from specific LinchPin transactions.

While RunDB can hold all outputs, the distiller will allow for capturing specified da

[2018-03-15 14:41] robnester-rh commented on #499
To be clear, the ask wasn't limited to AWS, but would be required for any / all providers. The ask for the moment is, at a minimum, aws and beaker.

[2018-03-15 14:44] herlo commented on #499
@robnester-rh indeed, which is why the 'not limited to' state is in that specific line about AWS. I intend to start with AWS as proof of concept for you, but I expect all providers to be able to be distilled and output in some form or fashion.

[2018-03-15 15:59] dyasny commented on #479
Looks like the same problem exists with the libvirt provisioner, should I open a separate issue for that?

[2018-03-15 16:28] herlo commented on #479
@dyasny yes. Please open a separate issue. Thanks

[2018-03-15 16:33] dyasny opened #500 "Add ability to provision additional disks using the libvirt provisioner"
We have a use case where we need to run a test with a VM that has additional volumes (e.g. a demo ceph cluster).
We would like to be able to specify this need in the libvirt topology.

parameters to define:

disk size
disk type (default to virtio_blk but being able to create virtio_scsi can be useful for shared disks that use SCSIv3)
shareable (default to false)

[2018-03-15 16:45] herlo opened #501 "Add views to linchpin journal"
In the process of working on #486, providing outputs based upon a complete linchpin transaction is necessary for reporting and querying data.

Per that SPIKE issue, the ide of a LINCHPIN_ID came about, making it so that a user could gather data from the Linchpin RunDB in a useful manner. The LinchPin Context Distiller and Outputter #499 tooling will take advantage of this LINCHPIN_ID and provide o

[2018-03-15 16:54] herlo commented on #500
@dyasny at one time, I had libvirt_storage available, but never was able to get it included. Here's a topology example for the resource_definitions specifically.

https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.0/linchpin/examples/topologies/libvirt_storage.yml

Here's the xml I had templated at the time.

https://github.com/CentOS-PaaS-SIG/linchpin/blob/release1.0/linchpin/examples/libv

[2018-03-15 17:42] flowerncsu opened #502 "AWS security groups should allow list format"
Currently, the AWS security_group parameter can accept multiple groups, but only if passed as a string composed of comma-separated values. This would more logically be expressed as a yaml list in the topology.

Example of current format:
[code]

Example of requested format:
[code]

[2018-03-15 17:55] flowerncsu opened #503 "Need instance_tags on linchpin AWS instances"
As per the ansible EC2 module documentation (http://docs.ansible.com/ansible/latest/ec2_module.html), instance_tags is an available parameter, but linchpin does not accept that parameter. We need that parameter available.

Example usage:
[code]

[2018-03-15 20:34] scoheb commented on #479
not sure this should be closed....

[2018-03-16 14:35] herlo commented on #479
@scoheb Why not? The feature is in place now. It is now available in the develop tree and will be in the 1.5.2 release.

[2018-03-19 11:40] lukas-bednar commented on #479
I have an use-case where I want to create 3 VMs, and each VM should have 3 disks (vda - system, vdb - docker-storage, vdc - gluster bucket). None of these disk (volumes) exist in openstack provider yet.
In total, it is 3 VMs and 9 disks. That means I need ask for 6 extra volumes, and attach them to relevant VMs.
How can I reference created volume, to VM?
I have following topology file, I put `<<<`

[2018-03-19 14:40] herlo opened #506 "Add needed items to RunDB json and document"
For #486 and #499 there will be a couple items needed to be added to the RunDB. This data also needs to be documented in at least generalities.

[2018-03-20 14:20] #501 closed

[2018-03-21 15:08] p3ck opened #511 "auth_driver leaks secret keys"
The auth_driver leaks secret keys when verbose mode is on.  Adding no_log: true to these tasks should prevent that.

TASK [aws : Get creds from auth driver] ****************************************

changed: [localhost] => {"changed": true, "gid": 0, "group": "root", "mode": "0755", "output": {"default": {"aws_access_key_id": "SECRETID", "aws_secret_access_key": "SECRETKEY"}}, "owner": "root", "pa

[2018-03-22 11:26] lukas-bednar opened #513 "openstack-provider: how to define security group to allow any communication"
Hi,

I am trying to add security group to allow any communication, and I tried several options but I wasn't successful.
Please see piece of topology file and error I am getting.

[code]
and error
[code]
I tried also `"all"`
[code]
and it failed with
[code]

Could you please help me to set such security group ?

[2018-03-22 13:19] p3ck commented on #497
This looks to be because of the version of jinja2 which is installed on Centos 7.  I imagine this would be an issue for centos6 as well but I haven't tested it.

[2018-03-22 15:28] p3ck opened #514 "credentials format not documented well"
The following page mentions credentials but fails to mention that you need to configure credentials in your topology file.
http://linch-pin.readthedocs.io/en/develop/aws.html#credentials-management
The openstack page does explain how to configure these.

It would be good to verify the other drivers are documented correctly as well.

[2018-03-23 15:40] lukas-bednar opened #516 "Linchpin doesn't work with Ansible 2.5"
With new `ansible-2.5.0` release, linchpin is failing on following issue:
[code]

For meantime I would put `ansible<2.5` restriction into `requirements.txt`.

[2018-03-24 04:36] samvarankashyap commented on #513
@lukas-bednar :
According to ansible documentation by providing proto value as "112" should allow any protocol.

Since we are using ansible module to implement linchpin playbooks it should adhere to ansible docs.
refer: [http://docs.ansible.com/ansible/latest/os_security_group_rule_module.html](http://docs.ansible.com/ansible/latest/os_security_group_rule_module.html)

[2018-03-26 08:50] lukas-bednar commented on #513
@samvarankashyap OK, I didn't noticed this option, I will try it. Thank you.

But still I believe that something is wrong with `"msg": "value of protocol must be one of: None,tcp,udp,icmp,112, got: None"}` . The `None` is part of that list, so this error doesn't make sense to me.
What do you think ?

[2018-03-26 14:05] robnester-rh opened #517 "Link to source for bkr_info and bkr_server broken on readTheDocs"
On this page:
http://linchpin.readthedocs.io/en/develop/beaker.html

the links to

- bkr_server.py
- bkr_info.py

are broken. They point to

- https://raw.githubusercontent.com/CentOS-PaaS-SIG/linchpin/develop/linchpin/provisoin/library/bkr_server.py
- https://raw.githubusercontent.com/CentOS-PaaS-SIG/linchpin/develop/linchpin/provisoin/library/bkr_info.py

respectively (note the typo - **provisoi

[2018-03-27 17:31] #447 closed

[2018-03-27 17:41] herlo commented on #516
@lukas-bednar I have put in a fix to the requirements.txt which doesn't allow ansible 2.5.0 for now. I'll leave this issue open and address the updated ansible release as soon as possible.

[2018-03-27 18:02] herlo commented on #506
Hooks need to be added to inputs. A 'vars' section needs to be available as a pre-work for the External Context (#486).

[2018-03-27 23:01] herlo commented on #506
@robnester-rh @flowersncsu, I've completed the first draft of the RunDB documentation. I'm guessing it needs some additional attention. Could you review it and give me feedback in this issue?

http://herlo-linchpin.readthedocs.io/en/context_distiller/advanced/rundb.html

[2018-03-27 23:05] herlo commented on #506
@robnester-rh @flowerncsu, I've completed the first draft of the RunDB documentation. I'm guessing it needs some additional attention. Could you review it and give me feedback in this issue?

http://herlo-linchpin.readthedocs.io/en/context_distiller/advanced/rundb.html

[2018-03-28 18:42] robnester-rh commented on #506
**From a functional point of view:**
The following statement

Makes me wonder, "why not just name the table something that wouldn't conflict, just to remove the potential for conflict?

**From a documentation point of view:**
I'd say that if you've not implemented something, documenting it is of little use (The user vars section, for example, seems superfluous as any user vars are not currently us

[2018-03-28 20:35] herlo commented on #506
@robnester-rh To answer your questions.

I can call the table anything, it's true. But whatever I call the table would not be able to be a target. The data is structured different in the 'linchpin' table. I guess a more obscure table name could work, I just went with what it was called already so as to not do more work.

As far as the documentation POV, I can see your point. I'll comment that sect

[2018-03-29 15:09] herlo commented on #495
As a result of working on #499, this needed to be fixed. Moved up to v1.5.2 release.

[2018-03-29 19:31] herlo commented on #511
AWS ones were cleaned up today in #520. However, a more formal clean up is necessary for all providers.

[2018-04-05 14:55] dyasny opened #522 "add option to toggle auto_ip for openstack deployments"
Provisioning on Openstack will by default assign a floating IP even when fip isn't set in topology. To avoid that auto_ip: false needs to also be send to the os_server module.

Please provide a way to set auto_ip so that it will be possible to provision instances without a floating IP assigned

[2018-04-05 15:19] herlo opened #523 "Document Context Distiller"
Document the work done around issue #499. Essentially, explain how the Context Distiller is used, and what can be filtered.

[2018-04-06 21:43] #506 closed

[2018-04-06 21:47] herlo commented on #499
Fixed by #525. The roles which resources are distilled currently include:

* bkr_server
  * id, url, system
* aws_ec2
  * instances.id, instances.public_ip, instances.private_ip, instances.public_dns_name, instances.private_dns_name, instances.tags:name
* os_server
  * servers.id, servers.interface_ip, servers.name, servers.private_v4, servers.public_v4
* dummy_node (testing only)
  * hosts

[2018-04-06 21:47] #499 closed

[2018-04-09 15:30] p3ck opened #527 "AWS fails on centos7"
TASK [aws : Provisioning AWS_EC2 Resource when not async] ****************************
fatal: [localhost]: FAILED! => {"msg": "template error while templating string: no fil
ter named 'selectattr'. String: {{ res_grp_vars | selectattr('resource_group_name', 'e
qualto', res_grp_name ) | first }}"}

It looks like jinja2 on centos7 is not new enough to include this function.

[2018-04-09 15:43] herlo commented on #503
This also may fix #527 by reworking the instance_tags field (https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/provision/roles/aws/tasks/provision_aws_ec2.yml#L21) into a simple list, using set_fact above this task.

Something like:

[code]

Note: I'm not 100% on the list items above, so that may need to be adjusted.

[2018-04-09 15:48] p3ck opened #528 "Allow for adhoc testing of different targets/drivers"
Currently we have the following targets we test against:
centos6, centos7, fedora26 and fedora27

Of those targets we then test the following drivers:
dummy, duffy, libvirt, aws and beaker

What this issue is about is to allow for finer control over which tests and drivers are executed for which target.

One approach would be to create a test.d directory that would contain an ordered list of tests

[2018-04-09 17:42] arilivigni commented on #479
@herlo can you get @lukas-bednar an answer for his use case.  I know adding volumes got merged but maybe you can help him with the topology he provided.

[2018-04-09 20:31] dyasny opened #529 ""TypeError: 'NoneType' object is not iterable" when referencing a missing -d file"
[code]

The problem is with the fact that the file referenced after -d is missing, and without it everything works, but the traceback isn't useful in understanding the problem.

[2018-04-09 20:46] herlo commented on #479
@lukas-bednar I see your use case, and believe it will work in this way.

I've created a topology that looks like this:

[code]
What you may notice is that I created a single volume, just like you have in your topology. The only real difference is the number of volumes/instances created.

In this case, I create an os_volume named 'volume-a'. Automatically, linchpin appends a count to the end of it

[2018-04-09 21:55] herlo commented on #516
This has been addressed with v1.5.2 for now.  Targeting v1.6.0 to enable ansible 2.5.0+ (it could be sooner, however).

[2018-04-10 09:44] lukas-bednar commented on #479
@herlo Hi, thanks for putting this together.
I believe that in case bellow, the nodes will share these volumes.
[code]
I want something like, where every node will have one extra dedicated disk for docker storage and second dedicated disk for gluster.
Something like this:
[code]
I will probably have to go with this verbose way  to achieve that .

Regarding to attaching volume as a specific device,

[2018-04-10 14:25] herlo commented on #479
@lukas-bednar Ah, I see what you are after. Unfortunately, we currently do not support the os_server_volume module. I can see a solution, using linchpin hooks, that could combine the items together. A hook, is essentially something run before, or after the linchpin run. In this way, you could set up the instances and volumes as desired using the linchpin topology. After provisioning is complete, u

[2018-04-10 19:45] flowerncsu opened #531 "Context distiller puts out no output when one resource fails"
Two pinfiles tested:
[code]
and
[code]
`topology-0` successfully creates an aws instance. `fail_aws` is:
[code]
When using the PinFile which includes `fail_aws`, the `linchpin.distilled` file is not created, regardless of whether there was a previous `linchpin.distilled`. When using the PinFile without `fail_aws`, `linchpin.distilled` is created if there is not one, and overwritten if there is (wh

[2018-04-10 21:06] herlo commented on #531
@flowerncsu After our discussion, I think there's a simple solution that could work for this scenario. One caveat being that I don't know how the beaker solution will be affected because of the tooling created to clean up resources if a topology fails.

The solution would be to modify the linchpin.conf and include a flag called something like 'ignore_return_code = True' (It will be set to false by

[2018-04-11 13:42] flowerncsu commented on #531
It seems like getting info for whatever context exists should really be the default behavior. If there's a flag needed, I would think the flag would be in the opposite direction (ie, a flag to not distill output if there are any failures) but I can't think of a reason someone would want to discard potential output just because there are pieces of it not available.

Also, I'd like to discuss more a

[2018-04-11 14:34] herlo commented on #531
@flowerncsu, In terms of the return_code discussion and whether we should output the data no matter if the other targets fail, I don't disagree with you. I do have some concerns on how and where the line is drawn.

One scenario I considered is, what if there are two or more of the same resources being provisioned and one of the two fails? LinchPin currently fails that job, even if one of the two i

[2018-04-11 15:16] dyasny opened #532 "linchpin/libvirt unable to deal with generic KVM images that have no cloud-init preinstalled"
When using the standard KVM images supplied (for example) at https://access.redhat.com/downloads the images have no cloud-init preinstalled. This means linchpin will provision the VMs but without injecting ssh keys, and the VMs will not be accessible for ansible or the user.

For libvirt based installs the workaround would be to inject the keys using libguest tools, like shown here:
https://github

[2018-04-11 15:25] p3ck commented on #532
I think it should try and use virt-customize and if that fails it can fall back to trying cloud-init.
virt-customize will return non-zero if it doesn't recognize the underlying OS (like atomic for example)

[2018-04-11 18:53] flowerncsu opened #536 ""name" parameter possible for all providers"
In order to be able to correlate topologies with results, we would like to be able to pass a "name" parameter for any provider and see that in the result set. This already works with AWS, but definitely does not work for beaker. I have not tested other providers.

[2018-04-11 19:36] flowerncsu opened #538 "Allow successfully-provisioned resources to stay provisioned even if others of the same type fail"
It's my understanding, based on some of the conversation around https://github.com/CentOS-PaaS-SIG/linchpin/issues/531 , that successfully provisioned resources will be shut down if others of the same type fail. If this does indeed need to be possible, we would like for it to be an option controlled by a config flag. This behavior isn't an obvious assumption, and so probably should not be the defa

[2018-04-11 19:38] flowerncsu commented on #531
It's sufficient for my current needs to simply include context for any successful target, and ignore (or mark as failed) any failed target. However, it may be worth further discussion to see if mixed-state targets (partially passing) might need to be tracked

[2018-04-11 21:31] #487 closed

[2018-04-11 21:31] #514 closed

[2018-04-11 21:31] #523 closed

[2018-04-12 15:09] dyasny commented on #479
Please tag with "kubevirt"

[2018-04-12 20:28] samvarankashyap commented on #516
@herlo Just found! [ansible-ruuner](https://github.com/ansible/ansible-runner) you might want to consider to replace our custom ansible-runner in near future. It might resolve this issue if implemented.

[2018-04-12 20:43] herlo commented on #516
@samvarankashyap that looks interesting. Not sure we want to have another dependency, but we could maybe find something that works with it that's stable. Good suggestion.

[2018-04-13 16:09] dyasny opened #540 "Inventory is not correctly populated after provisioning with libvirt"
Here's what the IPs are:
[code]
And here's the resulting inventory:
[code]

As you can see above, master is 192.168.122.12 ad the assigned master is in fact a node - 192.168.122.10

[2018-04-13 21:49] #529 closed

[2018-04-15 19:30] #503 closed

[2018-04-16 12:37] p3ck commented on #527
this was fixed with #537

[2018-04-16 12:37] #527 closed

[2018-04-16 14:39] herlo commented on #536
Creating a separate issue for the current critical roles, which are: bkr_server, aws_ec2, dummy_node, and os_server. The remaining roles will be tracked here and will be done at a later time.

[2018-04-16 14:41] herlo opened #542 "Ensure 'name' is output into distilled content for bkr_server, aws_ec2, dummy_node, and os_server."
In order to be able to correlate topologies with results, we would like to be able to pass a "name" parameter see that in the result set. This already works with AWS, but definitely does not work for beaker. I have not tested other providers.

This is the referenced ticket from #536 which will track the status.

[2018-04-16 20:02] dyasny opened #543 "Enhance libvirt topology to provide a domain name, for internal name resolution"
Linbvirt is already running it's own dnsmasq, and with some basic changes to the network xml, it can be used for DNS inside the libvirt network.

I'd like to be able to use that feature, but fot that I need to provide a domain name in the libvirt_network resource definition and have it generate an extra line as follows:
[code]
More detail at [1]

[1] https://liquidat.wordpress.com/2017/03/03/howto

[2018-04-17 15:28] herlo opened #544 "When attaching volumes in openstack, use os_server_volume module"
Per discussions with @lukas-bednar around  #479, this ticket has been created. I've taken his example from the previous issue.

I have an use-case where I want to create 3 VMs, and each VM should have 3 disks (vda - system, vdb - docker-storage, vdc - gluster bucket). None of these disk (volumes) exist in openstack provider yet.
In total, it is 3 VMs and 9 disks. That means I need ask for 6 extra

[2018-04-17 15:28] herlo commented on #479
Per discussions with @lukas-bednar, we are closing this ticket and have opened #544 to address the use case appropriately.

[2018-04-17 15:28] #479 closed

[2018-04-20 05:55] joanbe opened #547 "Libvirt: Support provisioning on remote hypervisors"
As a user I would like to use linchpin to deploy virtual machines on a remote hypervisor using the libvirt provider.

**Expected user benefits:**
- Enable testing of complex deployments with multiple machines that would not be possible using the local development machine
- Increased performance and shorter test cycles for end users

**Proposal**
I would like to delegate the following tasks to the

[2018-04-20 18:13] scoheb opened #548 "uhash should allow for more unique values"
When 2 machines attempt to provision 1 VM each using the same topology file and enable_uhash is True at the same time (down the to second), then it is possible for both new VMs to have the same resource name. Attempts to teardown one VM fails due to there being duplicate items. This leads to a leak of VMs in Openstack.

uhash should be based on something other than time as it currently is: https:/

[2018-04-20 18:13] scoheb commented on #548
FYI @beerparty

[2018-04-23 19:32] #531 closed

[2018-04-23 19:32] #542 closed

[2018-04-23 20:49] herlo commented on #522
@dyasny while looking into this issue today, I remembered why this was a bit of a challenge. The ansible role makes floating_ip_pools (fip_pool in the topology) and auto_ip mutually exclusive settings. It doesn't matter what value the 'auto_ip' values is set to, but rather if it's set at all. To that end, what I'm planning to do is create some basic logic to make them mutually exclusive in the top

[2018-04-23 21:09] dyasny commented on #522
Basically, all I want is a way not to attach floating IPs to provisioned VMs. However the topology yaml syntax turns out to be is really irrelevant, I'll just follow the docs, and add the options you create for this

[2018-04-23 21:16] herlo commented on #522
@dyasny Ok, that makes it simpler. I'll make sure to document that you cannot use these two settings together (and any others I find along the way), thanks!

[2018-04-25 15:15] #522 closed

[2018-04-25 20:25] #502 closed

[2018-04-27 18:09] samvarankashyap commented on #548
@scoheb it might solve if we use a combination of both mac address and timestamp

[2018-04-27 22:54] herlo commented on #548
@samvarankashyap actually, I resolved it, I believe, by adding the tx_id, which is unique to *every* invocation of linchpin. In this way, the hash should be unique. Additionally, I added the microsecond to the hash, and made it 6 characters long by default, which can also be changed in linchpin.conf. It's probably good to look at the PR above and see the changes. I hope it helps @scoheb

@herlo

[2018-04-30 13:39] samvarankashyap commented on #540
@dyasny could you please share the topology file and layout file you have used to create the above inventory ?

[2018-04-30 13:45] dyasny commented on #540
[code]

[2018-04-30 14:16] samvarankashyap opened #563 "Linchpin does not work with ansible 2.3.x"
The following error occurs when we run linchpin up with dummy topology
[code]

[2018-04-30 18:05] herlo commented on #448
Per discussions with @jaypoulz, the real goal of this is to get information out of linchpin, including the tx_id, inventory_path, and other bits. This could use the existing context distiller bits, but add an 'all' section with certain fields to extract.

Additionally, the `linchpin journal --view=tx` could have a `--output=json` (or something similar) which would look up all of the runs in a spec

[2018-04-30 20:15] flowerncsu commented on #488
@herlo The behavior is different from before, but still wrong, I think. Same situation as above; one target (beaker) succeeds, the other (aws) fails (my account does not have termination privileges so it will always fail). This time, however, both were displayed with return codes of 0.

Raw output:
[code]

But, according to .rundb, 0_aws actually failed (as expected):
[code]
So the error is still

[2018-05-01 13:38] samvarankashyap commented on #563
fixed by #564

[2018-05-01 13:38] #563 closed

[2018-05-01 13:38] samvarankashyap commented on #516
fixed by #564

[2018-05-01 13:38] #516 closed

[2018-05-02 15:12] herlo opened #567 "Build LinchPin release process"
When a change to the linchpin/version.py happens, then a PR is created on github with only a change to linchpin/version.py The trigger job will run all targets since it's a change to the above file.

Once all the testing passes and the appropriate reviews have been done, the release will be tagged and pushed up to the develop branch. A release can then be initiated by the following comment:

[rele

[2018-05-02 18:02] samvarankashyap commented on #536
Currently i see the following config options on distiller .
[code]
However as mentioned in in #542 it needs testing with all the other providers except aws_ec2 .
Providers needs to be tested :
1. dummy
2. bkr_server
3. os_server
4. libvirt
@herlo @p3ck  @flowerncsu Any other requirements suggested are appreciated.

[2018-05-03 16:40] samvarankashyap commented on #513
@lukas-bednar  How did the above work ? Further , I think None mean you might have to omit the `proto: "None"` line completely

[2018-05-04 14:55] #488 closed

[2018-05-08 14:09] samvarankashyap opened #573 "Distiller does not work with multiple instance counts: os_server"
### Pinfile
[code]

### Topology:
[code]

### Layout:
[code]

### Expected distiller output:
[code]

### Actual distiller output:

[code]
### Description
As we can see the expected distiller output is total 7 instances . But the actual distiller output has only 4 instances distilled . The output mentioned is tested on os_server instances . The other types of providers should be tested too.

[2018-05-08 14:37] samvarankashyap commented on #573
Tested on dummy resource . It works fine.

[2018-05-08 15:44] jaypoulz opened #575 "Beaker provisioning fails if recipesets are not named on 1.5.3"
As discovered this morning:

If you attempt beaker provisioning on 1.5.3 without a name for you recipe set, you end up encountering:

[code]

This is most likely because some funny business happens with bkr_names:
[code]

The irony of the issue is that with pre-1.5.3 versions of linchpin, adding "name" as part of recipesets means the template won't validate.

[2018-05-09 11:09] lukas-bednar opened #576 "Template data doesn't get rendered in topology file"
linchpin version 1.5.3

I have following topology file where I use list of variables: image, executor_name, network, etc
[code]

I want to pass these variables from template-data file as following
[code]
Linchpin fails to find `image` parameter, because `image: "{{ image }}` in topology file was rendered into `image: ""` so it looks like that template-data are not used to render topology file.
[co

[2018-05-09 13:42] samvarankashyap commented on #536
Tested for dummy , os_server .
Found bug with distiller #573
Fixed in #577
Needs testing for libvirt

[2018-05-09 16:06] jaypoulz commented on #576
I encountered this as well. Herlo has already fixed it in the develop branch.

Immediate workaround is to inline the topology in your PinFile.

[2018-05-10 14:56] lukas-bednar opened #579 "Libvirt provider: Can not start VM when having '~' in libvirt_image_path"
Following [documentation](http://linch-pin.readthedocs.io/en/develop/libvirt.html#copying-images) to customize images location, start VM fails.

[code]
It ends with following error
[code]

[2018-05-10 15:28] herlo commented on #576
Let me verify this works in the latest code.

[2018-05-10 15:43] herlo commented on #576
I can indeed verify this has been fixed in the lastest code.

[2018-05-10 16:40] herlo opened #583 "Test cases for inventory layout"
Write some tests around verifying inventory layout. Consider template data, complex structures in host_group:vars, etc.

[2018-05-10 16:40] herlo commented on #583
Inventory Layout Example 1

[code]

[2018-05-10 18:51] dyasny opened #584 "Vars supplied via -d switch aren't present in the generated inventory"
I create a yaml file containing a parameter I need passed to the layout, but it never shows up after provisioning. Details:

Pinfile:
[code]

Topology:
[code]
Layout:
[code]

my_cluster_vars.yml
[code]

command:
[code]

Resulting inventory:
[code]

The offending lines are marked with --->

[2018-05-11 11:45] area55git opened #585 "Logo Proposal for Linchpin"
Hi, I'm a graphic designer and I like to collaborate with open source projects. Do you know that the graphic image of a project is very important? thinking about it I would like to design a logo for your Project Linchpin.

I will be pleased to collaborate with you.

[2018-05-14 22:26] #584 closed

[2018-05-15 14:02] samvarankashyap commented on #583
i have couple of them which you would like to try out :
[code]

[2018-05-15 14:03] samvarankashyap commented on #583
[code]

[2018-05-15 14:05] samvarankashyap commented on #583
@herlo there are very subtle changes in both of the above inventory layouts however the regression occurred when using them ^^^ should be resolved by  PR #581

[2018-05-15 14:26] samvarankashyap commented on #540
@dyasny could you please test #581 PR to see if it fixes this issue or not .

[2018-05-15 15:47] herlo commented on #585
Hi @area55git this sounds great. Do you have any initial designs you'd like to share? I initially looked into this, but didn't really come up with anything more than an idea. A linchpin usually is an important piece, so maybe using a google images search to start would be helpful? Thanks!

[2018-05-15 16:08] herlo commented on #576
I'll be adding a test case as part of #528

[2018-05-15 20:58] herlo commented on #585
https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/README.rst can be a good resource for a summary. The first few lines should suffice. As for colors, something semi-muted, maybe blue and tan or some such come to mind, but there's not definite bias.

[2018-05-17 17:44] #573 closed

[2018-05-21 13:14] alexxa opened #590 "bad link in docs"
raw.githubusercontent.com can display raw source code only, not directories, therefore [this link](https://github.com/CentOS-PaaS-SIG/linchpin/blame/develop/docs/source/includes/pinfile.rst#L168) opens "404: Not Found" page.

[2018-05-21 13:25] alexxa commented on #590
[This line](https://github.com/CentOS-PaaS-SIG/linchpin/blame/develop/docs/source/gs/pinfile.rst#L13) has the same issue. However [this line](https://github.com/CentOS-PaaS-SIG/linchpin/blame/develop/docs/source/includes/topologies.rst#L15) works fine. Fix: s/docs/dirs

[2018-05-21 13:42] alexxa opened #591 "doc pages without Title"
All docs in docs/source/gs have no title, therefore RTD displays those pages as [`Docs >> <no title>`](http://linchpin.readthedocs.io/en/develop/gs/layouts.html), in RTD Search those also displayed as [\<no title\>(from project linchpin)](http://linchpin.readthedocs.io/en/develop/search.html?q=More+detail+about+the+PinFile+can+be+found&check_keywords=yes&area=default). The Firefox and Chrome tabs

[2018-05-21 14:28] herlo commented on #591
@alexxa Thanks for filing this issue! We appreciate the effort.

These docs are intentionally without title as they are to be included in the http://linchpin.readthedocs.io/en/latest/getting_started.html page. Did you find a link on the RTD site that has access to these documents? If not, there is nothing wrong with those documents.

[2018-05-21 14:40] alexxa commented on #591
These pages can be open independently. Open for example http://linchpin.readthedocs.io/en/develop/gs/layouts.html  And see <No Title> in the top right corner.

If one searches something and those pages include the result, in Search list it will be linked with <No Title>. See the first result in this search query here:
http://linchpin.readthedocs.io/en/develop/search.html?q=More+detail+about+the+Pi

[2018-05-21 14:44] herlo commented on #591
This is true, the can be opened this way. The challenge with this is reuse. These documents can (and often are) reused throughout the documentation. Adding titles would constrain the including documents and would not be contextually correct. I suspect it's possible to have a way to remove the docs from a search as you described.

[2018-05-21 14:46] herlo commented on #591
I am curious, however, if you have an idea of how to prevent included documents from being searched? Or something that would help these documents without affecting the including document context?

[2018-05-21 16:55] alexxa commented on #591
@herlo

You include files as:
[code]
I would simply move Title inside of gs/pingfile.rst

[2018-05-21 20:26] #579 closed

[2018-05-21 20:31] #513 closed

[2018-05-22 20:41] area55git commented on #585
Hi @herlo, What did you think of the proposal?

[2018-05-22 20:45] herlo commented on #585
@area55git I like your work, but I asked for opinions from a few others first. I'm thinking the design might need to change some, but don't know how yet. @samvarankashyap, any thoughts on this logo?

[2018-05-23 11:43] alexxa opened #595 "bad IRC link in docs"
The current IRC link in docs opens
* "Unable to connect page" in Firefox
* "The site can't be reached" in Chrome

If you replace
[code]
with
[code]
It will open a [window](https://webchat.freenode.net/?channels=linchpin), where one needs to specify their nick and hit a Connect button.

Also, I would move the whole "See also" section into a separate file and use `include` as it's used in several pl

[2018-05-23 13:58] herlo commented on #595
Hi @alexxa, thank you for this report. We should probably have used something like https://freenode.net/changuide to explain what IRC is, and provided the link you gave as an option for using our IRC channel.

If you have time to provide a Pull Request for this, it would be much appreciated.

[2018-05-23 18:48] samvarankashyap commented on #585
@herlo @area55git : Great work !. It has got a Interesting color gradient. However, the "L" in logo is significant I don't see anything that suggests a "cloud" or just "P" for provisioning tool.  Since, Linchpin is more of a cloud orchestration tool you could as well incorporate cloud symbol into it ( It might be a overkill though ).
please see:
1. https://github.com/cloudimmense ( minus gradient

[2018-05-23 19:11] area55git commented on #585
Hi @samvarankashyap, You like this?

[![LOGO_PROPOSAL_FOR_LINCHPIN_b.jpg](https://s31.postimg.cc/cp27elk63/LOGO_PROPOSAL_FOR_LINCHPIN_b.jpg)](https://postimg.cc/image/wjo90pzdj/)

[2018-05-24 09:59] lukas-bednar commented on #576
I verified that this was fixed in 1.5.4, thank you.

[2018-05-24 10:10] lukas-bednar opened #596 "No IPs are rendered in inventory file if auto_ip:no is set for openstack provider"
linchpin 1.5.4

I have following topology using openstack provider, and I don't want that VM will get floating IPs.
It is enough for my usecase to use internal IPs only. So I am setting `auto_ip: no` to skip FIP assignment.
[code]
and I have following layout where I want to render provisioned VMs with internal IPs
[code]
but unfortunately the generated inventory file is empty
[code]

Could you ple

[2018-05-29 14:13] samvarankashyap commented on #596
@lukas-bednar : When auto-ip is set to no The VM is not ensured to get the Public IP. (http://docs.ansible.com/ansible/latest/modules/os_server_module.html)
Linchpin inventory generation currently solely depends on the Public/Floating IPs not private IPs.
In your case, Would you like to get the private IPs at hostname var ? or the actual hostname of the machine provisioned ?

[2018-05-29 14:18] dyasny commented on #596
The entire point of requesting to support "auto_ip: no" was to make use of internal IPs. If we can't get them, this request is not complete.

There is no differentiation between internal and floating IPs in the layout, all there is is "__IP__".

[2018-05-29 14:35] lukas-bednar commented on #596
@samvarankashyap Yes, I was expecting to get internal IP, but as @dyasny pointed out, there is no differentiation between private / public IP ... and also what if I attach more then one Floating IP, or more network interfaces. This `__IP__` can not really cover it atm .

[2018-05-31 14:42] samvarankashyap commented on #538
As discussed with @flowerncsu . this can be achieved by manipulating topology defining resource definitions making multiple resource groups.
If not the issue can be reopened again.

[2018-05-31 14:42] #538 closed

[2018-06-01 16:37] herlo opened #599 "Drop output_writer ansible role"
Now that gather_outputs and RunDB are working well, it is time to remove the output_writer role. This role is now obsolete.

[2018-06-04 17:42] #543 closed

[2018-06-05 15:47] #528 closed

[2018-06-05 15:47] #576 closed

[2018-06-06 14:43] area55git commented on #585
Hi, @herlo, do you like any of the proposals?

[2018-06-06 14:54] robnester-rh opened #602 "Containerized linchpin not working in Openshift"
I've successfully installed linchpin inside a container running in a pod on openshift, however executing linchpin up, without any scc modifications, results in the following error:

[code]

This appears to be related to the ```default``` user that openshift uses when executing containers and permissions?

[2018-06-06 16:07] herlo commented on #602
@robnester-rh can you repeat this again, but run linchpin with '-vvvv'?

Also, it seems that the error might be elsewhere as the retry file indicates that ansible failed and it's writing out a file for you to use to 'retry' the run later. Is there an error above this point?

[2018-06-06 16:09] robnester-rh commented on #602
here is the full output:

[code]

[2018-06-06 16:54] herlo commented on #591
The problem with moving the title into the file is that sometimes, the files get included more than once, and sometimes, there's more than just a title used before/after including these files. However, I'm creating a Pull Request to remove them from the index.

[2018-06-06 18:16] herlo commented on #585
@area55git Hi, sorry for the slow response.

Personally, the tag line doesn't work for me, but I like the cloud component. I'm leaning toward the blue logo, or a combination of blue and red might be nice. The L in the circle seems unnecessary, but the linchpin logo above was nice. Maybe have the linchpin be inside the circle somehow and not have the 'L', maybe with the cloud instead of a circle? N

[2018-06-06 19:16] area55git commented on #585
Ok, in 2 or 3 days I will present you another proposal, keep working. 👍

[2018-06-06 20:55] #590 closed

[2018-06-06 20:55] #591 closed

[2018-06-06 20:55] #595 closed

[2018-06-07 16:00] area55git commented on #585
Hi @herlo, What do you think of this proposal?

[![LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg](https://s33.postimg.cc/8ivw24vof/LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg)](https://postimg.cc/image/yr70rifrv/)

[2018-06-07 16:03] area55git commented on #585
[![LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg](https://s33.postimg.cc/4p2fske7z/LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg)](https://postimg.cc/image/l02jovqpn/)

[2018-06-07 19:31] samvarankashyap opened #604 "Pipeline does not test the inventory generation for aws"
While testing PR #601 it is observed that the Pinfile which tests linchpin aws provider does not contain layout. Which results in leaving out aws inventory generation.
The workspace can be found at following path :
[code]

[2018-06-08 15:54] herlo opened #605 "Parallelize the CI testing down to distro/provider level"
Currently, LinchPin testing on Jenkins (https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/config/Dockerfiles/Jenkinsfile#L206) only considers the distribution (centos7 is shown in link), but there are several providers that are passed at once.

The problem is that visually, there is no easy way to tell which provider tests are running during the run because all providers are passed to the l

[2018-06-11 14:50] samvarankashyap commented on #532
@dyasny Could you point out a specific image that you are currently using for the run from
[https://access.redhat.com/downloads](https://access.redhat.com/downloads)

[2018-06-13 19:56] herlo commented on #567
Add a few things per @p3ck and previous discussions as well.

- After release is pushed to test.pypi.org, pull the package from pypi in a new container (just one, probably the most recent container) and run the tests again.
- After second round of tests pass, push the package to pypi.org (full release)
- Push git tree with latest tag to master branch

[2018-06-14 09:06] lukas-bednar opened #607 "Layout: add ability to set variable per node in-line"
Hi,

The feature I am looking forward here is that I need to set some variable (`openshift_node_group_name`) to different values (`node-config-nodes` or `node-config-masters`) depending on hostgroup where relevant node belongs to .

Example:
[code]
What I tried to do was
[code]
But this configuration results in following inventory
[code]
Such configuration doesn't fit me because these `[nodes:vars

[2018-06-21 14:00] herlo commented on #585
@area55git Thank you for these updated logos. I think having the linchpin bits for the logo were better choices. I'm also not keen on the tagline 'Ansible based multicloud orchestrator' in the logo/wordmark. I do like the blue colors in the right-hand cloud logo and the font in the logo above it. Let's keep going forward with more adjustments, if that's ok

[2018-06-21 14:01] herlo commented on #583
Fixed by #587

[2018-06-21 14:01] #583 closed

[2018-06-21 14:04] herlo commented on #478
Is there a status update on this one? I see the last update is Feb 19. That's over 4 months ago. I'm closing this ticket now. It can be reopened as needed.

[2018-06-21 14:04] #478 closed

[2018-06-21 14:06] herlo commented on #241
The way hooks has changed immensely in the past year. This doesn't seem relevant at this time. Closing this ticket and will open a new one if something similar is needed/warranted.

[2018-06-21 14:06] #241 closed

[2018-06-21 14:21] area55git commented on #585
[![LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg](https://s33.postimg.cc/4mrxpq01r/LOGO_PROPOSAL_FOR_LINCHPIN_c.jpg)](https://postimg.cc/image/u5ka2qjln/)

[2018-06-21 14:23] area55git commented on #585
what do you think?

[2018-06-21 14:32] herlo commented on #585
@area55git I like the logo colors, but don't want a cloud there. Maybe a true linchpin or something closer to that? Maybe a similar to the top one in this link? https://postimg.cc/image/piges181z/ but without the L, and more internal?  I like the idea of something like this: http://www.mirageinc.com/content/images/thumbs/0001239_716-linchpin-with-10-lanyard.jpeg

What do you think @samvarankashyap

[2018-06-21 14:39] area55git commented on #585
Perfect, I understand, I'm going to present a new proposal

[2018-06-21 18:31] area55git commented on #585
Hi @herlo look at this proposal

[![LOGO_PROPOSAL_FOR_LINCHPIN.jpg](https://s33.postimg.cc/bgb6bb0sv/LOGO_PROPOSAL_FOR_LINCHPIN.jpg)](https://postimg.cc/image/d84567k5n/)

[2018-06-25 09:45] lukas-bednar commented on #607
Could we add `kubevirt` label for it please?

[2018-06-25 17:59] p3ck commented on #607
so I don't get any different behavior from ansible between the two inventories described above.
I ran the following:
`ansible -i inventory -m debug -a "var=hostvars[inventory_hostname]" OSEv3 | grep openshift_node_group_name
and
ansible -i inventory2 -m debug -a "var=hostvars[inventory_hostname]" OSEv3 | grep openshift_node_group_name`

Neither one showed a "openshift_node_group_name": "node-confi

[2018-06-25 19:14] lukas-bednar commented on #607
Hm, maybe I am facing ansible issue (not linchpin issue) :-/ ...

Having inventory like this (which I am able to render with linchpin now)
[code]
And I am getting output like this
[code]

And I would expect in `PLAY [Test our inventory for masters] \ TASK [Print openshift_node_group_name] ` see `node-config-masters` instead of `node-config-nodes` ...
[code]
I will dig deeper, thanks for poke me fo

[2018-06-26 21:03] wainersm opened #611 "bkr topology: allow boolean expressions on hostrequire"
Currently the topology for beaker provision does not allow to pass boolean expressions in hostrequire for selecting the host.

For example, suppose you want to select a host by name like in below Beaker XML:
<or><system><name op='like' value='%gigabyte%'/></system><system><name op='like' value='%thunderx%'/></system><system><name op='like' value='%hawker%'/></system></or>

So I need the ability to

[2018-06-28 04:39] yashkmankad opened #612 "bkr topology: Introduce support for 'family' and 'tag' fields in bkr topology files"
The Beaker (bkr) provider for linchpin currently supports using the 'distro' parameter under recipesets, but does not support 'family' and 'tag'.

Example beaker topology file with 'family' and 'tag' would look like:

[code]

Related documentation about using the family and tag options with the Beaker (bkr) command line tool:
 * https://beaker-project.org/docs/man/bkr-distros-list.html#cmdoption-b

[2018-07-03 08:27] yoguo opened #615 "bkr topology: the 'location' tag seems to be invalid in bkr topology files"
[code]

The ‘location‘ tag seems to be invalid.  The cisco-xxx-xx.rhts.eng.bos.redhat.com (location doesn't contain NAY)has been provisioned.  The location fag is not supported? or the topology file is not correct?Thanks.

linchpin version 1.5.4

[2018-07-03 22:35] spoore1 opened #616 "beaker hostrequires force no longer working"
Should the Beaker provider still support forcing a hostname in hostrequires?  It appears that it no longer works:

This is my topology file:

[code]

This is the failure I see when I run linchpin up:

[code]

If I change my topology to instead use tag-op-value to define the host, it seems to work.  I'd like to be able to go back to using force though if this is a regression.

Thanks,
Scott

[2018-07-04 13:22] abraverm opened #617 "inventory_file relational path can break linchpin"
Setting `inventory_file` with relational path such as `beaker.yml`  will overwrite lincpin file `provision/beaker.yml`.

Linchpin version: 1.5.4
Example:
[code]
Running `linchpin up` will overwrite `~/.virtualenvs/linchpin/lib/python2.7/site-packages/linchpin/provision/beaker.yml` with the result inventory and thus breaking linchpin.

Expected result:
Workspace will be the relational path and `./b

[2018-07-06 17:09] p3ck commented on #616
Hi Scott,

Thanks for the report.  This should be fixed with #614 which has been merged.  Hopefully we can get a 1.5.5 release out soon which will have this fixed.

[2018-07-06 21:33] spoore1 commented on #616
I tested from source and that worked for me.

Thanks!

[2018-07-09 16:40] area55git commented on #585
Hi @herlo

[2018-07-11 10:30] abraverm opened #618 "RFE: `--no-cache` option for fetch"
`fetch` command by default uses cache `~/.cache/linchpin/...`, there is no option to clean cache or not to use it at all. Expected result:
[code]

[2018-07-11 11:50] abraverm opened #619 "RFE: fetch overwrite option"
By default, fetch doesn't overwrite files, option to do so can be helpful for resetting the environment. For example: `linchpin fetch --force FETCH_TYPE REMOTE`

[2018-07-11 16:45] yashkmankad commented on #612
Issue resolved with https://github.com/CentOS-PaaS-SIG/linchpin/pull/614
Closing issue.

Thanks Bill!

[2018-07-11 16:45] #612 closed

[2018-07-16 12:47] p3ck commented on #607
@lukas-bednar - Are you all set?  Can I close this issue?

[2018-07-16 15:00] lukas-bednar commented on #607
Unfortunately I am not. I still don't know how to render something like this:
[code]

[2018-07-16 18:53] samvarankashyap commented on #607
@lukas-bednar : I guess the following layouts might workout for you .
Example layout 1:
[code]

##### As you can see in the above example I have created two separate node label groups to add group specific vars. If you would like to have only one var per node, You should be creating only 1 node per group. In above example I have created master nodelabelgroup1 for master and nodelabelgroup2 for oth

[2018-07-16 19:22] herlo opened #620 "The combined/01_beaker_openstack test fails on certain conditions"
When running the downstream tests, the 01_beaker_openstack test will fail if the beaker provider is run before the openstack provider. In that case, the credentials are not expanded for the openstack provider.

Simple solution, extract all credentials for all providers in one place prior to running any tests.

[2018-07-17 10:22] lukas-bednar commented on #607
@samvarankashyap Thank you, it actually worked!
I am closing this issue.

[2018-07-17 10:22] #607 closed

[2018-07-19 16:16] herlo opened #623 "There should be a way in linchpin.conf to allow absolute path to resources"
While testing the container build for linchpin, I discovered that when writing out data for linchpin.distilled and linchpin.latest files, it always writes to `/path/to/workspace/resources/`. While this is generally useful outside of a container, I'd like to put all of my outputs into one place, not the workspace.

Maybe a setting like `resources_path = /path/to/resources`. Similar to modifying the

[2018-07-20 01:07] p3ck commented on #575
I am not able to reproduce this with 1.5.3  If I go back to 1.5.2 it fails schema.
@jaypoulz Can you try the latest 1.5.4 and see if you still have the same issue?

[2018-07-20 18:35] jaypoulz commented on #575
It brings me no joy in being the bearer of bad news, but yes, this problem is still present in 1.5.4.

Relevant log lines appear to be:
[code]
and
[code]

My PinFile looks like:
---
jenkins-slave:
  topology:
    topology_name: jenkins-slave
    resource_groups:
    - resource_group_name: beaker-slaves
      resource_group_type: beaker
      resource_definitions:
      - role: bkr_server
        j

[2018-07-20 18:42] herlo commented on #575
@samvarankashyap I think something like this might address the issue.

[code]

[2018-07-20 19:52] herlo opened #625 "Add links to specific use cases in docs"
The getting started guide shows how to use linchpin, but doesn't cover basic use cases for each provider, or use case. Gather a few use cases to document from users and document them, along with at least one good use case for each provider in use.

[2018-07-20 19:55] herlo opened #626 "Create separate workspaces for each provider / use case"
Currently, in the source code, the docs/source/examples/workspace provides a plethora of PinFiles, topologies, layouts, and hooks (among other pieces). For a beginner user, this can be confusing. Rework the workspace path into a set of workspaces, preferably one per use case / provider.

Additionally, it would be useful to add a README to the workspaces path, and one for each different example/use

[2018-07-20 19:58] herlo opened #627 "Update testing framework to use linchpin fetch"
In conjunction with #626, it is clear that the test framework should be able to use `linchpin fetch` to pull down each of the workspaces for testing. This not only tests the use cases currently in place in linchpin, but also adds verification that the `linchpin fetch` works.

Ideally, this will also be referenced in the workspace README file.

[2018-07-23 17:09] herlo commented on #616
Closing issue per conversation above.

[2018-07-23 17:09] #616 closed

[2018-07-23 17:10] #567 closed

[2018-07-23 17:11] herlo commented on #532
Fixes #610

[2018-07-23 17:19] herlo commented on #304
This will be addressed by #613

[2018-07-23 20:11] herlo commented on #547
Fixed by #586

[2018-07-23 20:11] #547 closed

[2018-07-23 20:15] herlo commented on #585
@area55git I think the pin itself should be a bit smaller, maybe make it a cotter-type pin (which could be a lower case 'L'). The circle of the linchpin could be a mostly complete circle. I like the tilted linchpin, and would like both a wordmark, logo and image as identifiers of linchpin. I think we're getting there.

Thanks!

[2018-07-23 20:19] herlo commented on #602
@robnester-rh, is this still an issue? I'm working on a new container [here](https://hub.docker.com/r/herlo/linchpin/). The latest tag just points to the latest released (v1.5.4) version. I'm making a few tweaks today and getting this merged, then will move it into the contrainfra docker namespace.

[2018-07-23 20:24] herlo commented on #611
Fixed by #614

[2018-07-23 20:24] #611 closed

[2018-07-24 13:55] robnester-rh commented on #602
By tweaking our container setup, we were able to execute linchpin without being root, which resolved the issue.

I would expect you're doing something similar and not running the container you're creating as root either.

[2018-07-24 14:14] herlo commented on #602
@robnester-rh great, thanks!

[2018-07-25 02:34] yoguo opened #630 "The inventory file just contains part of the output results when reserving machines from beaker"
Hi,

I encountered a problem about linchpin tool（1.5.4）. I'd like to reserve two machines from beaker. The topology file is displayed as follows:

[code]

After executing the 'linchpin -v up', the inventory result file just contains the first host name. In fact, two machines have been reserved according to the beaker url.

[code]

Note:
My PinFile and layout files are shown as follows:

[code]

[2018-07-25 02:59] yoguo commented on #630
Sorry, I tried several times, but I don't know why the above format became like that.

[2018-07-25 16:06] herlo commented on #575
Resolved by #629

[2018-07-25 16:06] #575 closed

[2018-07-25 16:06] #602 closed

[2018-07-25 16:06] #623 closed

[2018-07-25 21:39] herlo commented on #536
fixed by #629

[2018-07-25 21:39] #536 closed

[2018-07-26 13:47] greg-hellings commented on #240
Here's the current package request: https://bugzilla.redhat.com/show_bug.cgi?id=1441843

If someone wants to take it over, feel free.

[2018-07-26 14:39] herlo commented on #240
@greg-hellings Thanks for the work on getting it reviewed. I'm sure it'll eventually get picked up if you don't have time now.

[2018-07-26 18:46] herlo opened #634 "Fixup LinchPin CI to use pods for each distro to prevent race condition"
Currently, there is one pod which contains the Jenkins slave, and the distros which are tested in the linchpin-ci. However, when running tests for libvirt, a race condition exists where one gets the default network and the other two cannot, causing tests to fail.  Creating isolated pods for each distro and the jenkins slave would provide the networking to handle each libvirt provision without issu

[2018-07-26 18:48] #620 closed

[2018-07-27 03:48] yoguo commented on #630
[libguestfs-rhel7.log](https://github.com/CentOS-PaaS-SIG/linchpin/files/2234372/libguestfs-rhel7.log)

[2018-07-31 11:19] yoguo commented on #615
Is there anyone focus on this issue?

[2018-07-31 12:51] 14rcole commented on #500
@dyasny in order to provision storage volumes, we first need to be able to provision storage pools.  Libvirt has the ability to provision both transient and persistent storage pools.  As of right now we've discussed allowing the transient pools to be associated with only one domain and automatically being destroyed when the domain is destroyed, and making no assumptions about which domains are usi

[2018-07-31 13:15] dyasny commented on #500
@14rcole it is simple enough to leave storage pools alone and stick to simply generating a disk XML and attaching it, that's what I did to work around this issue. In short, for me at least, it would have been enough to be able to specify disks with size and type (virtio_blk/virtio_scsi/etc) and have them created and attached at the default storage pool, using the default local location. Really, ov

[2018-07-31 14:37] p3ck commented on #615
location is not a key/value in beaker.  You would have to use the rawxml like this:

                hostrequires:
                  - rawxml: '<system><location op="like" value="%NAY%"/></system>'

Unfortunately this is only possible in the develop version.  Hopefully 1.5.5 can be deployed soon.

[2018-08-01 02:29] yoguo commented on #615
hi p3ck,  thank you very much. I have tested it with develop version. It's ok.

[2018-08-06 17:17] samvarankashyap commented on #511
@14rcole :
I have been testing the above issue against my latest PR and foundout that , on failure of provisioning the instances( by giving incorrect parameters to the provision task ) the it still leaks the passwords and keys.
Please make sure that you add ```no_log: true``` to provision tasks to prevent that from happening
#631

[2018-08-06 17:47] #448 closed

[2018-08-06 17:47] #599 closed

[2018-08-06 19:13] 14rcole commented on #511
@samvarankashyap pushed up a fix: #641

[2018-08-08 09:07] #630 closed

[2018-08-08 14:34] samvarankashyap opened #643 "Promote all in one Pinfiles in linchpin init"
Currently linchpin init uses topology and layout references in the Pinfile generated
However, In order to avoid confusion for beginners.
Its good to have All in One Pinfile rendered in linchpin init.

[2018-08-10 21:13] herlo commented on #643
I have a good idea of how to make this work better. I'm improving linchpin fetch functionality (#644). One of the ideas that has been suggested is to move from a single example workspace, to many example workspaces, which is what this PR does. Additionally, the PR makes it so linchpin can checkout a specific branch, directory, and create a local 'workspaces' structure as opposed to a single worksp

[2018-08-10 21:15] herlo commented on #643
Back in the day, there was a concept around the idea of 'named workspaces'. I think this is still a very viable idea.

This seems to be the direction this is now going so I'll keep doing these little changes as I go along. These changes are also going to be useful for testing going forward in that the test will perform tasks in a simple order.

- `linchpin fetch <workspace>` --name bob
- `linchpin

[2018-08-10 21:25] herlo commented on #619
@abraverm good idea. Like I said in the other PR, I can implement this one soonish.

[2018-08-10 21:25] #615 closed

[2018-08-10 21:28] #511 closed

[2018-08-10 21:29] herlo commented on #454
I'm going to close this one considering that external paths for hooks is doable. I do think we still need a fix for an custom hook that doesn't require writing code into linchpin. I'll create an issue for that separately.

[2018-08-10 21:29] #454 closed

[2018-08-10 21:29] #339 closed

[2018-08-10 21:30] #329 closed

[2018-08-12 17:12] samvarankashyap opened #649 "Replace Auth_driver plain text credential management with ansible-vault"
Currently, linchpin accepts the credential folder as one of input which stores credentials in plain-text format which can be insecure . However , one can easily ansible-vault with single password more securely.
Some parts of auth_driver module needs to be updated using helper package ansible-vault to achieve the same.
refer: [https://pypi.org/project/ansible-vault/1.0.4/](https://pypi.org/project/

[2018-08-14 14:35] abraverm commented on #618
#644 looks good, I will try it later on and give you a proper feedback.

[2018-08-14 20:14] herlo commented on #544
Fixed by #622

[2018-08-14 20:14] #544 closed

[2018-08-14 23:45] yashkmankad opened #651 "bkr topology: Introduce support for 'repos' and 'packages' field in bkr topology file"
The Beaker (bkr) provider for linchpin currently does not support adding additional repositories after provisioning using the 'repos' parameter and later installing packages using the 'package' or 'install' parameter.

Example beaker topology file with 'repos' and 'package/install' would look like:

[code]

Related documentation about using the repos and package/install options with the Beaker (bk

[2018-08-17 14:58] shi2wei3 opened #652 "inventory file won't be generated before the hook task execute"
v1.6.0b1 changed the way to generate inventory file in v1.5.5a16, which used to be a task "inventory_gen".
The result is my postup task won't get the inventory file and lead to failed to find any hosts to run it.

[2018-08-19 09:43] shi2wei3 commented on #652
[code]

Pinfile:
[code]

beaker-topology.yml
[code]

beaker-layout.yml
[code]

Outputs:
[code]

What i expect is my "postup" ansible playbooks would be able to find the inventory hosts which used to work in v1.5.5a16, i don't know why TASK inventory_gen doesn't triggered, is there anything wrong in my configurations?

[2018-08-20 13:55] samvarankashyap commented on #330
@herlo : from ansible 2.5 we have openshift raw module
[https://docs.ansible.com/ansible/2.5/modules/openshift_raw_module.html](https://docs.ansible.com/ansible/2.5/modules/openshift_raw_module.html)
Should we be start supporting that instead ?
@greg-hellings @robled

[2018-08-20 15:29] greg-hellings commented on #330
Unbundling things is a great way to go. You have to make sure you either have your minimum Ansible version bumped up far enough, or you have to detect which version of Ansible is in use and make the appropriate play based on that, if you aren't ready to move up the minimum version, yet. But go for it!

[2018-08-20 16:01] herlo commented on #330
@samvarankashyap I think for now, we shouldn't keep changing the module. But we can put that into the plan for the future when we decide to move the minimum version of ansible to 2.5+.

[2018-08-20 16:02] herlo commented on #330
I think for now, this issue has been satisfied by #622. Closing issue.

[2018-08-20 16:02] #330 closed

[2018-08-23 17:06] #652 closed

[2018-08-27 14:59] jaypoulz opened #659 "LinchPin v1.5.4 breaks when parsing JSON for a hook using ansible-playbook extra vars"
## Overview
I structured my Cinch code for LinchPin 1.5.3 around the ansible post-up hook.
I started seeing strange behavior later on, but I didn't associate this with the 1.5.4 release until much later.
It seems that whatever was parsing the template data has changed in some capacity, and no longer accepts a string of formatted JSON. My own code was more complex, and I suspect that this somehow m

[2018-08-27 20:34] samvarankashyap commented on #659
@jaypoulz  Could you pastebin the error trace too (to make sure the errors are consistent across). Thanks !

[2018-08-27 20:59] samvarankashyap commented on #659
@jaypoulz Found the bug. Fix on the way .

[2018-08-28 14:11] jaypoulz commented on #659
@samvarankashyap do you still need the error trace? Looks like you've got the fix already prepped. :smile:

[2018-08-28 14:34] samvarankashyap commented on #643
Sounds good to me !

[2018-08-28 14:34] #643 closed

[2018-08-29 13:55] 14rcole commented on #596
@lukas-bednar I tried using your topology file to reproduce the issue but I couldn't do so.  Does this still occur for you?

[2018-08-29 14:49] samvarankashyap commented on #596
@14rcole The issue should be persistent . Have you tried the same topology used by @lukas-bednar ?

[2018-08-29 15:38] 14rcole commented on #596
@samvarankashyap yeah, I copied the topology.  The only changes I made were hardcoding the variables (e.g. keypair) and changing the instance type to m1.small because we didn't have enough free resources to create all those w1.large nodes.  I doubt either of those would have affected the output but I could be wrong

[2018-08-29 16:31] #532 closed

[2018-08-29 16:41] herlo commented on #326
@samvarankashyap did this get done when you converted the os_server module?

[2018-08-29 19:16] 14rcole commented on #596
@lukas-bednar update: I figured it out and can now reproduce the issue

[2018-08-29 21:00] herlo commented on #567
Closed by #578

[2018-08-30 03:46] samvarankashyap commented on #326
@herlo : No . I think it should be revisited . Since Ansible 2.2 version has updated os_stack modules that might work for us .

[2018-08-30 05:28] lukas-bednar commented on #596
@14rcole Thanks for looking into that, I will try to reproduce that on Fri, putting on my list.

[2018-08-30 07:37] lukas-bednar commented on #540
@samvarankashyap It looks like that linchpin 1.6.0 introduced this issue again. I see this behav there.

[2018-08-30 13:01] samvarankashyap commented on #155
@herlo : Do we still need this issue open ?

[2018-08-30 14:37] herlo commented on #155
@samvarankashyap agreed. It can be reopened/recreated if necessary.

[2018-08-30 14:37] #155 closed

[2018-08-30 15:11] herlo commented on #617
@abraverm can you verify whether this issue still exists with the 1.6.0 release?

[2018-08-30 16:57] abraverm commented on #617
Sure, would you like to assign the issue to me?

[2018-08-30 19:41] p3ck commented on #540
this still isn't right...

[code]
The above produce the following inventory:
[all]
amd-pence-01.lab.bos.redhat.com hostname=amd-pence-01.lab.bos.redhat.com
hp-ml110g7-01.khw.lab.eng.bos.redhat.com hostname=hp-ml110g7-01.khw.lab.eng.bos.redhat.com

amd = rhel6.4
hp = rhel6.5

Yet the following topology does work correctly:
[code]

[all]
amd-pike-08.klab.eng.bos.redhat.com hostname=amd-pike-08.klab.

[2018-08-31 15:37] abraverm opened #675 "Openshift provider support credentials file"
Openshift currently support inline credentials:

[code]
It should support the auth_drive, and able to process such topology:

[code]

[2018-09-02 01:54] samvarankashyap commented on #585
@area55git I agree with @herlo  we are almost there !

[2018-09-03 12:42] area55git commented on #585
Hi @herlo @samvarankashyap, I'm going to make a new sketch and send it in a few days.

[2018-09-04 16:31] herlo opened #676 "Document linchpin validate command"
Now that the linchpin validate command was released with v1.6.1 (#647), it needs documentation.

[2018-09-04 17:34] herlo opened #677 "linchpin validate fails when using 'type' instead of 'role'"
In the old version of the topology schema 'type' was an allowed value. When running linchpin validate against it, an error occurs.

[code]

The PinFile looks like this:

[code]

Changing `type` to `role` and the PinFile validates.

[2018-09-04 18:58] herlo opened #678 "Add integration tests for linchpin validate"

[2018-09-04 18:58] herlo opened #679 "Add unit tests for linchpin validate"

[2018-09-04 18:59] 14rcole commented on #677
As far as I know, the word "type" is a reserved keyword in cerberus

[2018-09-04 19:00] 14rcole commented on #677
Sorry, didn't mean to close the issue. I'm working on a fix now

[2018-09-04 19:01] herlo commented on #677
I think a simple fix would be to validate *after* converting the topology from the old to the new format. Unless you have a better solution?

[2018-09-04 19:09] 14rcole commented on #677
Right now we attempt to validate under the new format, then convert if that doesn't work.  We can convert everything by default, with one caveat: `linchpin validate` currently tells the user under which schema the topology validates.  We would no longer be able to do that.

We could also just try to catch any KeyErrors in the initial validation attempt and convert the topology just as we would wit

[2018-09-05 13:39] 14rcole commented on #676
The documentation is [here](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/docs/source/advanced/validator.rst).  Should I move it to match the documentation for the other basic linchpin commands?

[2018-09-05 13:51] herlo commented on #676
Ahh, I couldn't see it in the latest documentation. We should probably include it at least [here](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/docs/source/cli.rst)

[2018-09-05 14:02] herlo commented on #676
And if you think it's appropriate, let's add it [here](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/docs/source/advanced_topics.rst)

[2018-09-05 14:26] 14rcole commented on #676
Those are both fine with me

[2018-09-07 13:48] jparrill opened #681 "Resultant inventory are not well generated on Libvirt provider"
Hi there,

There is an error on the Ansible Inventory generation on libvirt provider when you have more than 1 node into a group. With this setup you could replicate the error:

- ocp-libvirt-topology.yml
[code]

- ocp-layout.yml
[code]

- Pinfile
[code]

The resultant invetory is:

[code]

when should be something like:
[code]

Talking with @samvarankashyap through IRC seems a weird bug just only

[2018-09-07 13:51] jparrill commented on #681
UPDATE:

Putting the same name on the "resource_group_name" from topology file, on both resources, in this case, Masters and Nodes, seems to work.

[code]

This is the resultant inv:

[code]

[2018-09-07 13:55] samvarankashyap commented on #681
@jparrill I used the following topology it works fine, i think its problem with the naming somehow .
[code]

[2018-09-07 13:58] #681 closed

[2018-09-07 19:11] abraverm opened #682 "Passing Openstack credentials only with environment variables"
When no authentication file provided and crenetials are set with environment variables, the following error returned when trying to deploy:
[code]

[Documentation] says "LinchPin honors the openstack environment variables such as $OS_USERNAME, $OS_PROJECT_NAME, etc."

[Documentation]: https://linchpin.readthedocs.io/en/v1.5.4/openstack.html

[2018-09-07 19:33] herlo commented on #682
Hi @abraverm,

Can you provide a few bits of detail so we can troubleshoot this better? I'd like the PinFile (complete with topology and/or layout sections. Also, would you mind providing the command you used when you ran into this error?

Thanks!

[2018-09-07 19:41] abraverm commented on #682
[code]
PinFile:
[code]
command (from virtualenv): `linchpin -vvvv up`

[2018-09-07 19:53] abraverm commented on #682
looks like if you create empty credentials file, than the environment variables kick in, clouds.yml
[code]
PinFile:
[code]

[2018-09-10 15:16] herlo opened #684 "Create documentation for hooks"
Hooks should be documented on readthedocs.io as a core component. Likely needed to be added to the getting started guide, and have its own section with detailed use cases.

[2018-09-10 19:15] #659 closed

[2018-09-11 14:04] #682 closed

[2018-09-11 14:28] herlo commented on #677
Fixed by #680

[2018-09-11 14:28] #677 closed

[2018-09-11 14:29] herlo commented on #500
Fixed by #639

[2018-09-11 14:29] #500 closed

[2018-09-11 15:35] #618 closed

[2018-09-11 15:35] #619 closed

[2018-09-12 12:48] #651 closed

[2018-09-12 16:00] herlo commented on #676
@14rcole bumping this so it doesn't get forgotten.

[2018-09-12 17:14] #626 closed

[2018-09-13 20:40] jaypoulz opened #690 "Intermittent failure: gather facts timeout when provisioning beaker"
This is something I've been running into lately. Seems to be present in the 1.6.x releases, but I suspect it's been an issue for longer that that.

I can't reproduce it consistently, but when I do hit it, it produces the following error:

[code]

[2018-09-13 20:46] herlo commented on #690
@jaypoulz are you hitting this within a container? I suspect not.

My best guess for this is the gather facts is taking a long time to get data. There is at least one easy way to mitigate the issue.  In ansible.cfg, modify the following lines to match as below:

[code]

Personally, I'd only do the first of the two edits. However, if the error creeps up again, extending that timeout may help. It wi

[2018-09-14 17:40] jaypoulz commented on #690
I am hitting this within a container. I think it's around a 30-40% hit rate at the moment. I will see what I can do about the ansible.cfg change.

[2018-09-14 18:03] jaypoulz commented on #690
Looks like it may be related to:
https://github.com/ansible/ansible/issues/43884

[2018-09-17 18:23] herlo opened #693 "Move getChangedFile into LinchpinPipelineUtils.groovy"
In the recent updates to the merge and release process, a new function was introduced in  [JenkinsfileGHPRMerge]https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/config/Dockerfiles/JenkinsfileGHPRMerge#L159).

It was recommended in PR #685 to move this into LinchpinPipelineUtils.groovy and refactor the getTargetsToTest method also. This ticket is here to track that work.

[2018-09-18 03:53] jaypoulz commented on #690
I'm going to close this issue since it's one where this underlying issue is with the Ansible 2.6.x series. I've verified that downgrading to 2.5.9 stabilized linchpin for me without further changes to the Ansible config.

[2018-09-18 03:53] #690 closed

[2018-09-18 18:31] abraverm opened #698 "FetchFile missing arguments"
When using fetch for local file it fails on:
`unexpected keyword argument 'root_ws'`

For example: `linchpin fetch --protocal local file://my/path`

[2018-09-18 18:35] abraverm opened #699 "Fetch protocol detection disabled"
Linchpin 1.6.2 fetch defaults to git on Click level, in `shell/__init__.py` line 323:
`@click.option('--protocol', 'fetch_protocol', default='git',`

While older version (1.5.x) detected protocol from URI first, in `cli/__init__.py` line 780- 792:
[code]
I suggest remove `default='git'`

[2018-09-18 18:40] herlo commented on #698
@abraverm was considering removing the 'local' bit from `linchpin fetch`, since essentially, you can just point with `-w` to that location to run `linchpin up`.

Thoughts?

[2018-09-18 18:44] abraverm commented on #698
+1

[2018-09-18 18:47] herlo commented on #698
@abraverm alright. I'll use this task to track the removal of the local component from `linchpin fetch`.

[2018-09-18 18:48] herlo commented on #699
@abraverm the problem with removing this is that git can also have 'http(s)' addresses. You must specify the protocol if it's not git. I could alternatively make a configuration option that lets you set the detault?

[2018-09-18 19:04] abraverm commented on #699
Then lets remove the outdated code, and I would suggest to support shorter option i.e '-p'

[2018-09-18 19:19] herlo commented on #699
@abraverm what code is outdated? If you remove the file bit, I guess it's possible that auto-detection is not necessary. However, if you have a very simple http site, git won't match and there's no problem not passing in `--protocol`.

On the other note `-p` is not available due to the use in the main part of linchpin to support passing in a PinFile which might be named differently. We don't reuse

[2018-09-18 19:37] abraverm commented on #699
the code in cli/__init__.py line 780- 792 is outdated because fetch_protocol always will have value ('git' is default and not None).

How about '-P'  (capital), but considering there are only two options (web\git) maybe chage it to --scm\--not-scm or --git\--not-git

[2018-09-18 19:58] herlo commented on #699
@abraverm actually, what you say about it being outdated is not quite true. If you dig into this [code](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/cli/__init__.py#L780), you can see the regex for git is much more complex than the one for http(s). I do think the big difference though is the `.git` at the end being there.

We could use `--http` as a way to pass the protocol th

[2018-09-18 20:12] abraverm commented on #699
But when you call [fetch from cli](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/shell/__init__.py#L323) it will call [lp_fetch with fetch_protocol='git'](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/shell/__init__.py#L344)  and [regex](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/cli/__init__.py#L780) will never be triggered because it

[2018-09-18 20:38] abraverm commented on #699
:smile:
considerning:
1. file\local will be removed (see #698 )
2. only two other supported options: git vs http
3. '-p' is already used to specify Pinfile

I think the better UX will be git protocol by default ( assuming that's the common case) but allow explicitly with options '--git\--web'. Consequently  the 'auto-detection' should be removed.

[2018-09-18 20:44] herlo commented on #699
@abraverm I can live with this option. :smiley:

[2018-09-24 15:33] greg-hellings opened #701 "Docs do not build in Python 3"
Attempting to "make html" in the docs directory fails. There are import path issues with linchpin in Python 3 that cause sphinx to fail at parsing the library.

[2018-09-25 14:36] #617 closed

[2018-09-25 14:54] samvarankashyap opened #704 "linchpin does not use keystore_path for creating keys"
While creating keys in openstack and aws providers linchpin does not use the keystore path variable which ideally should be
[code]

Further , There should be a way to configure where the keys are stored in general . Which include the linchpin libvirt key which is currently stored in ~/.config/linchpin

[2018-09-25 16:36] herlo commented on #704
@samvarankashyap to add to the comment above. With that keystore_path variable, it could look first in user set locations, but always default to some standard places, like `~/.ssh:<workspace>/keys`.

[2018-09-25 20:40] samvarankashyap opened #705 "linchpin fetch with dest causes regression"
[code]

[2018-09-25 20:44] samvarankashyap commented on #705
I have updated the function
[code]
[code]
ref: https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/cli/__init__.py#L757

it works fine however , it creates a random named folder at the destination which might not be needed .
[code]

[2018-09-25 20:45] samvarankashyap commented on #705
@herlo could you explain why the random numbered folder is generated due to fetch ? is it a feature ?
For a end user just to copy from remote to destination without random numbered folder would be much better .

[2018-09-25 20:47] samvarankashyap opened #706 "Accidental deletes to topology folder causes regression"
[code]

[2018-09-25 20:49] samvarankashyap commented on #706
same with layouts folder too

[2018-09-25 20:53] herlo commented on #705
@samvarankashyap I already ran into this today and have a similar fix. Will have a PR up this afternoon. :smile:

As for the random numbered folder. In the olden days of fetch, everything was thrown into the current directory. The reason this is better is that now, unless you specify --dest (which will put workspaces relative to this location) or --workspace (this will drop the workspace(s) direct

[2018-09-25 21:00] herlo commented on #706
@samvarankashyap I don't understand how this is a regression. Are you implying the error should not occur, or that it should be a pretty error? Please clarify how this is a regression as it would seem that I'd expect linchpin to fail if the topology doesn't exist. For the layout, I'm curious though, as it shouldn't matter at all.

[2018-09-25 21:04] samvarankashyap commented on #706
@herlo Is linchpin not expected to create folders if not exists ?
I thought that would happen .
Checking with allinone pinfiles . Will get you back .

[2018-09-25 21:11] samvarankashyap commented on #706
does not occur when we use allinone pinfiles
sound resonable to have error when folders are not available

[2018-09-25 21:11] #706 closed

[2018-09-25 21:30] jaypoulz opened #707 "Beaker jobs are not cancelled in teardown with --tx-id"
## Overview
It appears as though there is an issue with linchpin teardown not cancelling beaker jobs in the case of beaker resource teardown. At the moment, I've been testing this in 2 different environments, and behavior is slightly different in both, but both fail whenever `--tx-id` is passed.

For context, I've been using the default LinchPin config for 1.6.2, so `use_rundb_for_actions = True`

[2018-09-25 21:34] herlo commented on #707
@jaypoulz hello!

Do you have `use_rundb_for_actions = True` in `linchpin.conf`.  [this link may help](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/docs/source/examples/workspaces/linchpin.conf#L74).

[2018-09-25 22:05] skatlapa opened #708 "Documentation for OpenShift provider(GCP, oVirt too) for topology schema"
Currently, LP doesn't have sufficient documentation for options for openshift_inline. We would need all the required parameters to be documented and the data types defined, just like other providers This is needed for creating openshift provider for H-Dsl.

[2018-09-26 00:17] jaypoulz commented on #707
@herlo Updated issue above.

[2018-09-26 14:16] #705 closed

[2018-09-26 17:41] jaypoulz commented on #707
Interesting development:
By including a linchpin.conf in the workspace with the line @herlo suggested, this now works as expected locally. It could be that my localhost simply did not have its configuration files in the correct directories. I will reevaluate this issue both locally and in production and let you guys know if anything is still wonky now that the configuration should be normalized.

[2018-09-26 19:00] #707 closed

[2018-09-26 21:13] jaypoulz commented on #707
### Note for future souls
For a quick fix to beaker provisioning and teardown using transaction ids, add a linchpin.conf to your workspace that looks like:
[code]

[2018-09-28 14:16] danalanerh opened #712 "After upgrade to linchpin 1.6.2, openstack provisioning giving me a res_def_add_vol error"
The following topology/layout files worked with v1.5.2, same host same venv. Also, with 1.6.2, my beaker provisioning works fine. It's just this openstack provision that's failing;
---------------------------------------------------------
Full output:

(linchpin) [root@pet-dlane-newjenkins-jmaster1 CSS_HCI]# linchpin -vvv -w ./ up
ctx.workspace: /var/lib/jenkins/workspace/demo-rhhi_pipeline-test/C

[2018-09-28 14:27] samvarankashyap commented on #712
@danalanerh : I think i found the cause .
Its jinja version
The version of jinja you are using is 2.7.2 , however , when i see the environment we are using has jinja 2.10
[code]
should solve the issue.

[2018-09-28 14:33] danalanerh commented on #712
I did that and still get the same failure;
New pip freeze output:

(linchpin) [root@pet-dlane-newjenkins-jmaster1 CSS_HCI]# pip freeze
ansible==2.4.6.0
apache-libcloud==2.3.0
appdirs==1.4.3
asn1crypto==0.24.0
Babel==0.9.6
backports.ssl-match-hostname==3.4.0.2
bcrypt==3.1.4
beaker-client==25.5
beaker-common==25.5
boto==2.49.0
camel==0.1.2
Cerberus==1.2
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4

[2018-09-28 15:19] samvarankashyap commented on #712
@danalanerh could you try upgrading ansible to 2.6.4
it might solve the issue with dependencies .

[2018-09-28 15:27] samvarankashyap commented on #712
As discussed with @danalanerh
Upgrading ansible to 2.5 or above solves the problem with provisioning .

[2018-09-28 15:28] danalanerh commented on #712
Yes, ansible 2.5 as well as 2.6.2 are both tested and proven to work. This can be closed.

[2018-09-28 15:28] #712 closed

[2018-09-28 19:40] 14rcole commented on #701
When I resolve the missing imports, I get a python 2/3 related error in one of the modules.  I'm checking if there's a workaround or a fix for that module now

[2018-10-02 15:38] herlo commented on #675
@abraverm we need to add integration tests to this. Let's follow up together to discuss.

[2018-10-02 15:42] herlo commented on #596
@lukas-bednar can you confirm this is fixed and be closed? Thanks!

[2018-10-02 15:46] samvarankashyap opened #714 "Add tutorial to `how to use ssh_keys` in hooks"
One can use ssh_keys for post provisioning tasks but its not intuitive enough about how to use them. There should be a tutorial for the same.
Adding details:
The purpose of the tutorial should be how we create ssh_keys/keypairs and how to reference them inside a ansible hook .
Example workspace:
https://github.com/samvarankashyap/linchpin_hooks_openstack_ws

[2018-10-02 17:10] abraverm commented on #675
:+1:

[2018-10-02 22:00] herlo opened #715 "Inventory Format short option should have two dashes (--if vs -if)"
As a standard for long options is always two dashes (even though it can be done otherwise), the (inventory format (`-if`) [option](https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/shell/__init__.py#L209)  is incorrect. It should be corrected.

[2018-10-03 11:20] lukas-bednar commented on #596
@herlo yes it is fixed, thank you!

[2018-10-03 14:08] herlo commented on #596
Closing per comments above.

[2018-10-03 14:08] #596 closed

[2018-10-03 16:55] #676 closed

[2018-10-04 13:14] yashkmankad opened #717 "teardown_resource_group.yml : linchpin destroy does not end beaker reservation as it always defaults to [ ]."
We are using linchpin to create a beaker recipe that would reserve the system for 24 hours if our CI jobs complete unsuccessfully (FAIL or UNSTABLE). However, if a job completes with a SUCCESS, we use the linchpin destroy command, to end the reservation and return the system to the beaker pool.

However, we have noticed that our beaker recipes continue to hold systems from 24 hours even if  job co

[2018-10-04 13:48] mrniranjan opened #718 "linchpin fails to create working directory"
linchpin version : 1.6.2

[code]
if i do below then it works
[code]

[2018-10-04 14:06] samvarankashyap commented on #718
@14rcole :
adding this if condition to the code at
https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/cli/__init__.py#L209

[code]
solved the issue for me .
Please let me know if there is a better fix . Since you have already started troubleshooting .
I hope am not missing any other usecase by adding above `if`

Adding @herlo to conversation

[2018-10-04 14:31] herlo commented on #717
@yashkmankad thank you for filing this issue. To help us troubleshoot this problem, could you provide the following information.

* A valid PinFile, with a full topology example
* The full output from the linchpin up and destroy command using the `-vvvv` option.
* A copy of your effective `linchpin.conf`, specifically noting
  * generate_resources
  * use_rundb_for_actions

This data will help us

[2018-10-04 14:54] samvarankashyap commented on #718
@14rcole sure :) definitely Will submit a PR soon

[2018-10-04 16:41] 14rcole commented on #678
This is done: https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/config/Dockerfiles/tests.d/general/02_validate

[2018-10-04 16:41] #678 closed

[2018-10-04 16:42] 14rcole commented on #679
This has been completed

[2018-10-04 16:42] #679 closed

[2018-10-04 18:44] #715 closed

[2018-10-04 18:46] p3ck opened #723 "[TESTCASE] - Expand inventory testing"
Inventory testing needs to be expanded to cover multiple providers with multiple resources requested.  We've been bitten by regressions where the ordering of the topology didn't match the order in the layout file.

May need to create a second dummy provider in order to keep these tests from running too long.

Most likely this will need to be an integration test but could also include unit tests.

[2018-10-04 18:48] samvarankashyap commented on #723
@p3ck In addition to that I would suggest the tests to be ran through the nose/unittest framework by making use of linchpin API rather than command line.

[2018-10-05 02:57] #649 closed

[2018-10-05 04:40] mrniranjan commented on #718
@herlo @samvarankashyap does the patch fix the issue ?, I tested the patch and it failed with same error ?

[2018-10-05 04:48] mrniranjan commented on #718
@herlo @samvarankashyap the patch creates the workspace but still throws the error

[code]
i think the pf_w_path should be self.workspace + PinFile ?

[2018-10-05 05:01] samvarankashyap commented on #718
@mrniranjan are you sure you are using the develop branch of linchpin ?
i tried running the same command and I faced no error :
[code]

[2018-10-05 05:01] samvarankashyap commented on #718
@mrniranjan Please try uninstalling linchpin and try again .
Thanks !

[2018-10-05 06:36] mrniranjan opened #724 "linchpin fails to provision in openstack with error "TypeError: up() got an unexpected keyword argument 'ignore_failed_hooks'""
[code]
The above is the traceback i received when i ran
[code]

Below is the topology file

[code]

 example-layout.yml
[code]

PinFile:
[code]

[2018-10-05 06:46] mrniranjan commented on #724
linchpin.conf
[code]

[2018-10-05 13:41] #718 closed

[2018-10-05 13:43] herlo commented on #717
@anascko it doesn't appear as though your attachment came through. If you like, I can recommend https://gist.github.com/ as a good place to link to where the files won't go away after posting. A link can then be provided here.

[2018-10-05 15:03] samvarankashyap commented on #724
@mrniranjan : Could you please try upgrading your click package in the running environment and try it again ?
[code]
let me know if it still exists.
Further could you post the output of the click version you are currently running ?
[code]

[2018-10-05 15:09] samvarankashyap commented on #724
@mrniranjan : Am unable to replicate the error in my environment
could you provide us the output of
[code]

[2018-10-05 15:19] samvarankashyap commented on #724
@mrniranjan @herlo :
I have tested linchpin with multiple versions of click package .
The above error is persistent in all the versions of click < 7.0
I am creating PR to update minimum requirements to >=7.0
Thanks for reporting the error.

[2018-10-05 15:28] herlo opened #726 "Developer Guide"
A developer's guide is needed to help new developers get up to speed. Should cover at least the following:

* Standard workflow
  * How PRs are tested with Jenkins
  * Reviews and conversations in github
  * Merging to develop
* Style Guide
* API / CLI standards
* Requirements for PRs
  * integration tests
  * unit tests
  * PEP8 compliance
* Release process

[2018-10-05 16:55] mrniranjan commented on #724
@samvarankashyap  sorry for delay, i will reproduce the error again, don't have the environment  .

[2018-10-08 20:45] #724 closed

[2018-10-09 12:40] anascko commented on #717
Sorry, I thought that I can download archive
https://gist.github.com/anascko/e8d294b50b8b2f21ee0f2a2613bc8385
http://etherpad.corp.redhat.com/ep/pad/view/ro.fL27XxNJDWJ/latest
http://etherpad.corp.redhat.com/ep/pad/view/ro.mbLwGJ4YuN7/latest

[2018-10-11 17:18] jaypoulz opened #731 "Add ks_append, kernel_options, and kernel_options_post to Beaker schema"
Hi guys,

I've been working with some members of QE, and we've hit a use-case where it would be helpful to pass along additional parameters to a Beaker job. This parameters are supported via the CLI, so it should be possible to pass them along just as one would pass along the `ks_meta` parameters.

The additional parameters we had in mind are:
* `ks_append`
* `kernel_options`
* `kernel_options_pos

[2018-10-12 00:02] yashkmankad commented on #717
@herlo , Sorry for the delay, here are the requested files --

PinFile               : https://gist.github.com/yashkmankad/cd455349733204314a3c208254e96ac0
topology            : https://gist.github.com/yashkmankad/55a3b4ccc91d37d6ac76004bb8546b73
linchpin up         : https://gist.github.com/yashkmankad/3d4f269841256a19030138ebcd880bfb
linchpin destroy : https://gist.github.com/yashkmankad/d362991

[2018-10-12 14:57] #701 closed

[2018-10-16 20:15] samvarankashyap opened #736 "Make hooks support absolute paths"
Currently
Hooks are resolved relative to hooks folder .
We should be able to support absolute paths for playbooks and scripts in all types of hooks

[2018-10-16 22:03] herlo commented on #736
This already works per #454. Closing. Reopen if there's been a regression.

[2018-10-16 22:03] #736 closed

[2018-10-17 11:09] bhavikbhavsar opened #737 "change in instance name for openstack with linchpin 1.6.3"
In linchpin version 1.0.4 that we were using,
the openstack instance name would form based on below tasks in provision_os_server.yml

[code]

This seems to have changed in latest version 1.6.3

[code]
So now when instance is provisioned with latest version 1.6.3

For topo file as below:

[code]
The instance name it assigns is `master1`  which was before `linchpin_768_master1`.

Is there any specif

[2018-10-17 13:00] samvarankashyap commented on #737
@bhavikbhavsar @herlo : By default linchpin generates unique id for resources . However, I believe there is a option in linchpin.conf to disable unique id generation .
@herlo : I was checking the linchpin.conf in examples workspace I could not find the option . Do you know where the option is ?

[2018-10-17 13:07] samvarankashyap commented on #737
@bhavikbhavsar : Got the option .
You can disable the above behaviour by setting in linchpin.conf
[code]

[2018-10-17 15:33] jaypoulz opened #738 "Dummy provisioner should support Pre-provisioned hosts"
# Overview
I have a use case where I own a machine that lives somewhere. Say `my-test-host.redhat.com`.
I want to use linchpin to create an inventory file for this host using my custom layout, without actually provisioning it (as it is already provisioned).

Right now (by leaving uhash enabled), I can get pretty close using the dummy provisioner.
## Sample Output
[code]
I accomplished this by over

[2018-10-17 15:54] herlo commented on #738
@jaypoulz this feels very much like what is discussed [here](https://github.com/CentOS-PaaS-SIG/linchpin/issues/486#issuecomment-371584451). Specifically in the 'vars' (now called cfgs) section, under the 'evars' subsection. We've done some initial work for this with the cfgs in the [PinFile](https://github.com/CentOS-PaaS-SIG/linchpin/pull/703). In this case, however, the code might look somethin

[2018-10-17 16:20] samvarankashyap opened #739 "Error on Provisioning develop branch: Inventory generation error"
- Installed linchpin develop branch
- used linchpin init
- linchpin -vvvv up
[code]

It is something to do with config parser

[2018-10-17 18:33] samvarankashyap commented on #738
@jaypoulz @herlo : How about adding a domain option to dummy provider to override existing domain.? Anythoughts ?

[2018-10-17 18:38] samvarankashyap opened #741 "Typo in linchpin validate"
When I run
[code]
output:
[code]
Though the topology is valid its spits out ERROR

[2018-10-18 05:52] bhavikbhavsar commented on #737
@samvarankashyap I changed the parameter you mentioned here:
/usr/lib/python2.7/site-packages/linchpin/templates/linchpin.conf

Still it assigned master1 as the instance name.

My only requirement is to get a different instance name each time I run `linchpin up`.

[2018-10-18 12:45] samvarankashyap commented on #737
As i mentiomed in previous comments , By default linchpin assigns unique id . Which inturn creates a new instance everytime you provision .
Further,
You should not change it in the templates path as mentioned above . You should be changing linchpin.conf directory where linchpin command runs ie., Your workspace. ( to disable the unique id ).

[2018-10-18 14:13] herlo commented on #737
One clarification, linchpin.conf sets the enable_uhash = False by default. In our workspaces, we set 'enable_uhash = True' because it provides a bunch of functionality.

[2018-10-18 14:17] samvarankashyap commented on #737
I apologize for confusion as said by herlo its false by default

[2018-10-18 18:13] herlo commented on #741
#733 should have fixed this issue. Please rebase against develop (as it's been merged already) and reopen if it persists.

[2018-10-18 18:50] #739 closed

[2018-10-18 21:34] jaypoulz commented on #738
@herlo I don't think overriding the domain at a config level is sufficient, since I could have several resources in the resource_defs with different domains. It would be fine to have that as a default to be overridden, but I think SK's proof of concept is more powerful because domains are specified at the schema level.

I made an additional comment about per topology uhash. See #742 for details.

[2018-10-22 09:32] bhavikbhavsar commented on #737
@samvarankashyap np, I wanted to set `enable_uhash = true` actually, now found the linchpin.conf.

I was using the an older linchpin workspace (created with 1.0.4 version) with latest linchpin version
so it wasn't having the linchpin.conf file.

I created a new workspace with `linchpin init` and changed the `enable_uhash = true` and now able to set unique instance name each time thanks for the hel

[2018-10-22 09:32] #737 closed

[2018-10-22 09:33] bhavikbhavsar commented on #737
@samvarankashyap np, I wanted to set `enable_uhash = true` actually, now found the linchpin.conf.

I was using the an older linchpin workspace (created with 1.0.4 version) with latest linchpin version
so it wasn't having the linchpin.conf file.

I created a new workspace with `linchpin init` and changed the `enable_uhash = true` and now able to set unique instance name each time thanks for the hel

[2018-10-22 14:37] samvarankashyap commented on #741
Re-based error still exists !

[2018-10-22 14:47] 14rcole commented on #741
@samvarankashyap I can't reproduce the error anymore:

[code]

[2018-10-22 16:53] samvarankashyap commented on #741
@ryan could you try it on dummy topology ?

[2018-10-22 17:00] #634 closed

[2018-10-22 17:02] #605 closed

[2018-10-22 17:08] samvarankashyap commented on #741
@14rcole : Fresh installation of linchpin on develop branch :
[code]

[2018-10-22 18:51] p3ck opened #747 "Document Hooks Usage"
What types of hooks are available.
The directory structure is tightly coupled with the naming of the hooks in the PinFile.
What options/args are available, what does context: true mean?
etc..

[2018-10-22 18:52] p3ck opened #748 "Hooks - ansible doesn't support mutliple playbooks"
If supplying a hook and you have multiple playbooks to execute in one directory it will only execute the first one.

Please add a test case to the dummy provider to cover this.

[2018-10-22 18:55] p3ck opened #749 "Hooks - Should be able to specify hooks the same as topology/layouts"
Currently hooks can only be defined in the PinFile.  It would great to be able to have a hooks.yml file which referenced multiple hooks.  This could be referenced in multiple targets instead of duplicating them.

[2018-10-22 19:49] herlo commented on #747
Duplicate of #684 ?

[2018-10-23 13:27] johnbieren opened #751 "Fail to install with ansible 2.7"
On CentOS 7, if you do yum -y install ansible, you get
ansible-2.7.0-1.el7.noarch
which pulls in
--> Processing Dependency: python-jinja2 for package: ansible-2.7.0-1.el7.noarch
---> Package python-jinja2.noarch 0:2.7.2-2.el7 will be installed
Then when you are doing pip install linchpin, you get to

Searching for configparser>=3.5.0
Best match: configparser 3.5.0
    Processing configparser-3.5.0

[2018-10-23 13:49] #751 closed

[2018-10-23 13:57] samvarankashyap commented on #748
@p3ck My bad , The issue was already reported as a part of #379
I think its still open

[2018-10-23 13:57] #748 closed

[2018-10-23 13:58] samvarankashyap commented on #379
@samvarankashyap Need to add a test as mentioned in #748
Update hooks module to execute multiple playbooks

[2018-10-24 17:38] samvarankashyap opened #754 "Add integration test to Openshift provider with new credential format"
As part of #711
We need to add tests to verify the same .

[2018-10-24 17:39] #675 closed

[2018-10-24 20:22] samvarankashyap opened #755 "Rollback changes after a unsuccessful provision"
If Ansible tasks in linchpin are nested in blocks we can always rollback changes of unsuccessful provision using rescue blocks. Where we can implement code to rollback.
Implementing above feature helps us avoiding residual resources after every unsuccessful provision.
It can also be a preview feature for specific provider like openstack. where teardown can happen with help of name of resource prov

[2018-10-25 14:31] samvarankashyap commented on #741
fixed by #750

[2018-10-25 14:31] #741 closed

[2018-10-25 14:32] #747 closed

[2018-10-25 15:31] herlo opened #757 "LinchPin Tutorial - SPIKE"
Create Your Own Adventure Style tutorial

* Introduction (Getting Started)
* Tutorial Landing Page (with a selection of providers, features, etc) for the user to choose.
* Coverage for each Provider and Feature
  * Dummy
  * Openstack
  * AWS
  * Libvirt
  * GCE
  * Beaker
  * Duffy
  * Openshift
  * Ovirt**
  * Rackspace**
  * Inventory Generation
  * Hooks
  * Journal
  * Distiller / External Co

[2018-10-26 18:36] #379 closed

[2018-10-30 19:48] samvarankashyap opened #762 "Linchpin usecase: Openshift on libvirt use case - single node"
As per request we would like to update the existing examples and add a use case in linchpin to install single node openshift install using libvirt

[2018-10-30 19:52] samvarankashyap opened #763 "Linchpin usecase: Openshift single node on aws"
Extending the openshift on openstack single node the current ticket is issue tracker for the Openshift single node on aws

[2018-10-30 19:55] samvarankashyap opened #764 "Linchpin Usecase: Provisioning Openstack cluster single node"
The current ticket is issue tracker to provision openstack using linchpin
either by designing linchpin infrared plugin or linchpin hooks.

[2018-10-30 19:57] samvarankashyap opened #765 "Update GCP provider documentation"
$subject
Update GCP use cases demonstrating all the resource types and how to use them .
Currently the documentation is very limited

[2018-10-30 19:59] samvarankashyap opened #766 "Update openshift provider specific documentation"
$subject
Update Openshift_inline use cases demonstrating all the resource types and how to use them .
Currently the documentation is very limited

Related to #708

[2018-10-31 14:18] samvarankashyap opened #768 "No documentation/test found os_keypair resource"
$subject
Though os_keypair is developed as a feature the documentation and testing for the piece is missing

[2018-10-31 14:45] samvarankashyap commented on #714
#768 needs to be fixed in the process

[2018-10-31 15:44] 14rcole opened #769 "Inventories do not order hosts correctly"
linchpin should collect all provisioned hosts, sort them by the order in which they're declared in the topology, and pop them off one by one according to the structure of the layout. This isn't currently happening.  When I tried to provision with [this](https://github.com/14rcole/inventory-order) PinFile, I get the inventory that appears in that repo.  the ec2 host appears in every section except

[2018-10-31 18:10] 14rcole commented on #769
1. Adding custom host groups messes with the ordering of hosts.  See https://github.com/14rcole/inventory-order/tree/correct-aws-node

[2018-10-31 18:13] 14rcole commented on #769
2. Hosts *should* be parsed by the layout in the same order in which they're provisioned.  However, in [this topology](https://github.com/14rcole/inventory-order/tree/multiple-dummy), `dummy-topology` and `dummy-two` are grouped together, and `dummy-two` is parsed before `aws-topology`

[2018-10-31 18:19] samvarankashyap opened #770 "Openshift does not take the default creds path"
$subject

[2018-10-31 18:29] 14rcole commented on #769
3. Despite ordering being mostly fixed in https://github.com/14rcole/inventory-order/tree/correct-aws-node, the node in the dummy-master section is still double-dipping in the dummy-node section

[2018-10-31 19:24] samvarankashyap opened #771 "If namespace is not mentioned template linchpin openshift raises an error ."
$subject

[2018-10-31 19:52] skatlapa commented on #770
just adding in @robnester-rh

[2018-10-31 19:52] skatlapa commented on #771
just adding in @robnester-rh

[2018-10-31 20:00] samvarankashyap opened #774 "linchpin validate does not validate when the credential section is under-indented"
$subject
example :

[code]

[2018-10-31 20:07] 14rcole commented on #769
As it turns out, this was not an error.  The hosts in the inventory are organized by *host group*, not by *host*.  I didn't realize that the `dummy-master` host was a member of both `dummy-layout` and `dummy-master` host groups

[2018-11-05 15:58] samvarankashyap opened #777 "Create another dummy provider to test inventories"
$subject

Create a another dummy provider clone for easier testing of multi group inventories in linchpin ci .

[2018-11-05 18:03] samvarankashyap opened #778 "Linchpin validate fails on following Pinfile"
[code]

Error:
[code]

[2018-11-05 18:31] samvarankashyap opened #779 "Add documentation to libvirt provider on how to run linchpin as non root"
$subject
There are no specific instructions or links in linchpin docs on :
how to setup users for running linchpin as non root user.

[2018-11-05 20:34] p3ck opened #781 "Update openshift provider to use k8s"
Update the openshift provider in linchpin to use the upstream k8s module.

Currently provisioning in openshift is broken with the current module even though no error is reported back.

[2018-11-06 21:03] 14rcole commented on #778
@samvarankashyap did you fix this? I can't reproduce the error when I test against the most recent develop branch?

[2018-11-06 21:29] samvarankashyap commented on #778
@14rcole I think its not fixed . Let me check it again .

[2018-11-06 21:32] samvarankashyap commented on #778
@14rcole
[code]
linchpin validate says:
(k8s) 🎩linchpin validate
[code]
which should not !

[2018-11-06 22:00] 14rcole commented on #774
Our schema validation may need to be reworked in order to support this, I think it's too myopic right now.  We only validate within each `resource_definition` individually

[2018-11-06 22:01] 14rcole commented on #778
@samvarankashyap so the reason that's happening there is that `topology_name` is under-indented.  linchpin therefore sees `topology: ` as a key that requires a value rather than a key with a child dict, and thinks that everything below is a file.

Unfortunately, linchpin only validates data inside of each `resource_definition`. We could expand validation or do some sort of multi-layer validation,

[2018-11-07 18:10] ggallen opened #785 "os_keypair is failing when trying to generate an Openstack keypair"
I am trying to run the following target to generate an Openstack keypair:

[code]

However, when running I get the attached error.

[os_keypair.log](https://github.com/CentOS-PaaS-SIG/linchpin/files/2558622/os_keypair.log)

[2018-11-08 15:38] ssegalredhat opened #786 "Add networking support for openstack"
Currently there is no support to create networks, subnets and routers. We would like to see this added to Linchpin.

[2018-11-08 15:53] #771 closed

[2018-11-08 20:53] samvarankashyap commented on #785
fixed by #787

[2018-11-08 20:54] #785 closed

[2018-11-08 20:56] samvarankashyap commented on #786
@ssegalredhat : Could you be specific about in which providers would you like the above features .
Would that be just openstack or other providers like aws , gce too.

[2018-11-12 14:56] 14rcole commented on #779
@samvarankashyap does this come down to creating a libvirt group and adding relevant users to it?  I haven't run libvirt as non-root before but I'm happy to take this on if that's the case

[2018-11-12 16:57] samvarankashyap commented on #779
@14rcole Yes. Please feel free to take it up .

[2018-11-13 14:50] 14rcole commented on #769
@samvarankashyap 1 and 3 are fixed. This was left open due to 2, which I wanted to address during the linchpin devel meeting

[2018-11-14 13:38] #779 closed

[2018-11-15 16:42] 14rcole opened #795 "Beaker Inventories deduplicating hosts"
We use the `system` key as `__IP__` for beaker.  That leads to the following error:

Given this res_output in linchpin.latest:
[code]
We only output two beaker hosts to the inventory.  This is because, by default, we use the `system` field which, as you can see, is duplicated.  Two hosts have `hp-z400-01.rhts.eng.bos.redhat.com` and two have `intel-canoepass-12.lab.bos.redhat.com`.  To get truly u

[2018-11-15 17:01] p3ck commented on #795
There is something else going on..

https://beaker.engineering.redhat.com/jobs/3096027  Shows just two recipes/hosts.  It is not possible to have duplicate RUNNING hosts in beaker.

[2018-11-15 18:41] p3ck commented on #795
I think it stems from some of the filtering done in linchpin/linchpin/provision/roles/beaker/tasks/provision_resource_group.yml

Look for these set_fact commands
  - name: "combine bkr_hosts and bkr_names"

I looked at this a while ago but was scared to change too much. :-)

[2018-11-15 19:53] p3ck commented on #717
I'm not able to use the topology file you provided.  It does not validate with the latest linchpin.  I made some changes to have it match the newer format and it works as expected for me.  Both up and destroy.  What version of linchpin are you using?

Here is the modified version of the topology.
[code]

[2018-11-19 15:42] johnbieren opened #796 "Inventory grouping wrong when installs fail"
Say you have four hosts being provisioned with a layout like below:
[code]
When all four installs work, everything is as expected in the resulting inventory. However, say the beaker-centos installation fails. The resulting inventory simply skips over the beaker-centos host and continues popping. So, the next host, openstack-fedora, gets the beaker-centos host vars and the fourth host, openstack-ce

[2018-11-19 15:48] #699 closed

[2018-11-19 16:38] samvarankashyap opened #797 "Disable uhash for specific provider over command line."
Currently uhash is enable throughout the topology
There is a recent request to disable uhash for only certain providers at commandline/conf level.
forexample :
If a topology contains aws, openstack, beaker
user should be able to disable uhash for aws and beaker over commandline/conf
[code]

[2018-11-19 16:39] 14rcole opened #798 "ansible functions should have unit tests"
All of the functions in `linchpin/provision/filter_plugins` and `linchpin/provision/library` need unit tests

[2018-11-20 15:16] p3ck commented on #717
@yashkmankad ping - Did you see my above comment?  I'm not able to reproduce.

[2018-11-20 15:17] #698 closed

[2018-11-20 18:55] 14rcole opened #801 "Order linchpin.latest resources by resource group, not by provider"
2. Hosts *should* be parsed by the layout in the same order in which they're provisioned.  However, in [this topology](https://github.com/14rcole/inventory-order/tree/multiple-dummy), `dummy-topology` and `dummy-two` are grouped together, and `dummy-two` is parsed before `aws-topology`

[2018-11-20 18:55] 14rcole commented on #801
This is the one part of #769 that is not yet complete

[2018-11-26 15:10] 14rcole commented on #795
Fixed in #800

[2018-11-26 15:10] #795 closed

[2018-11-26 18:43] ggallen opened #803 "os-keypair is skipping the generate keyfile task."
When running os-keypair, no local keyfile is generated at task completion.

[2018-11-26 19:00] samvarankashyap commented on #803
The above bug occurs due to following reasons :
1. keystore_path in https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/provision/roles/openstack/tasks/provision_os_keypair.yml#L24
was never defined .
It should be renamed to default_ssh_key_path as mentioned in https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/linchpin.constants#L35

2. res_def_output is overridden by

[2018-11-26 21:15] #419 closed

[2018-11-27 15:07] #769 closed

[2018-11-27 16:31] #781 closed

[2018-11-28 15:15] 14rcole opened #805 "Include security groups in linchpin.latest"
linchpin.latest currently only includes provisioned vms, but we should probably include other resources as well

[2018-12-04 15:11] p3ck commented on #786
Break this into separate issues for different providers.  This should be specific to openstack.

[2018-12-04 15:12] p3ck commented on #786
testing can be just static network.

[2018-12-04 15:32] 14rcole opened #815 "Document variable use in inventories"

[2018-12-05 08:10] abraverm opened #816 "Parameterized examples"
Most of the examples have hard coded settings (image, network, etc). If a user wants to try the example, then the example has to be modified first.  Alternatively we can parameterize the examples, make them more like templates, and then users will just apply their settings from command line or a json file.

[2018-12-05 21:30] samvarankashyap commented on #738
fixed by #742

[2018-12-05 21:30] #738 closed

[2018-12-06 15:09] samvarankashyap opened #818 "Openstack: Networking: Add support to os_network module"
Add support for openstack os_network_module ansible in linchpin topologies
ref: https://docs.ansible.com/ansible/2.6/modules/os_network_module.html#os-network-module
part of #786

[2018-12-06 15:12] samvarankashyap opened #819 "Openstack: Networking: Add support for os_router module ansible"
Add support for os_router module ansible in linchpin topologies
ref: https://docs.ansible.com/ansible/2.6/modules/os_router_module.html#os-router-module
As a part of #786

[2018-12-06 15:15] samvarankashyap opened #820 "Openstack: Networking: Add support for os_subnet module ansible"
Add support for os_subnet module ansible in linchpin topologies
ref: https://docs.ansible.com/ansible/2.6/modules/os_subnet_module.html#os-subnet-module
as a part of #786

[2018-12-06 15:16] samvarankashyap opened #821 "Openstack: Networking: Add support for os_port module ansible"
Add support for os_port ansible module in linchpin topologies
As a part of #786
ref: https://docs.ansible.com/ansible/2.6/modules/os_port_module.html#os-port-module

[2018-12-06 15:20] samvarankashyap opened #822 "Openstack: Networking: Add support for os_recordset ansible module"
Add support for os_recordset ansible module in linchpin topologies
As a part of #786
ref: https://docs.ansible.com/ansible/2.6/modules/os_recordset_module.html#os-recordset-module

[2018-12-06 15:22] samvarankashyap opened #823 "RFE: Openstack: Networking: Add support for os_zone ansible module in linchpin topologies"
Add support for os_zone ansible module in linchpin topologies
As a part of #786
ref: https://docs.ansible.com/ansible/2.6/modules/os_zone_module.html#os-zone-module

[2018-12-06 15:24] samvarankashyap opened #824 "Add support for AWS networking"
$subject

[2018-12-06 15:27] samvarankashyap opened #825 "AWS: Networking: Add support for ec2_eip_module"
Add support for ec2_eip_module ansible module in linchpin topologies
as part of #824
ref: https://docs.ansible.com/ansible/2.6/modules/ec2_eip_module.html#ec2-eip-module

[2018-12-06 15:29] samvarankashyap opened #826 "AWS: Networking: Add support for ec2_elb_lb_module"
Add support for ec2_elb_lb ansible module in linchpin topologies
as part of #824
ref: https://docs.ansible.com/ansible/2.6/modules/ec2_elb_lb_module.html#ec2-elb-lb-module

[2018-12-06 15:30] samvarankashyap opened #827 "AWS: Networking: Add support for ec2_vpc ansible module in linchpin topologies"
Add support for ec2_vpc ansible module in linchpin topologies
as part of #824
https://docs.ansible.com/ansible/2.6/modules/ec2_vpc_module.html#ec2-vpc-module

[2018-12-06 15:34] samvarankashyap opened #828 "AWS: Networking: Add support for ec2_vpc_endpoint ansible module in linchpin topologies"
Add support for ec2_vpc_endpoint ansible module in linchpin topologies
as part of #824
ref: https://docs.ansible.com/ansible/2.6/modules/ec2_vpc_endpoint_module.html#ec2-vpc-endpoint-module

[2018-12-06 15:37] samvarankashyap opened #829 "GCE: Networking: Add support for gcdns_record ansible module in linchpin topologies"
Add support for gcdns_record ansible module in linchpin topologies
as part of #831
ref: https://docs.ansible.com/ansible/2.6/modules/gcdns_record_module.html#gcdns-record-module

[2018-12-06 15:39] samvarankashyap opened #830 "GCE: Networking: Add support for gcdns_zone ansible module in linchpin topologies"
Add support for gcdns_zone ansible module in linchpin topologies
as a part of #831
ref: https://docs.ansible.com/ansible/2.6/modules/gcdns_zone_module.html#gcdns-zone-module

[2018-12-06 15:40] samvarankashyap opened #831 "Add support for Google cloud networking modules"
$subject

[2018-12-06 15:41] samvarankashyap opened #832 "GCE: Networking: Add support for gce_eip ansible module in linchpin topologies"
Add support for gce_eip ansible module in linchpin topologies
as a part of #831
ref: https://docs.ansible.com/ansible/2.6/modules/gce_eip_module.html#gce-eip-module

[2018-12-06 15:44] samvarankashyap opened #833 "GCE: Networking: Add support for gce_net ansible module in linchpin topologies"
Add support for gce_net ansible module in linchpin topologies
as a part of #831
ref: https://docs.ansible.com/ansible/2.6/modules/gce_net_module.html#gce-net-module

[2018-12-06 19:37] samvarankashyap opened #835 "linchpin does not support git < 1.8.5"
Linchpin on rhel 7.x fails on init for the systems using git version < 1.8.5

[2018-12-06 19:45] samvarankashyap commented on #835
error trace:
Regression on rhel 7.x machines running linchpin.
[code]

[2018-12-07 14:44] #835 closed

[2018-12-10 18:49] p3ck opened #843 "Bug: linchpin container has references to personal git repos"
The linchpin container uses references to personal git repos and currently doesn't work.

[2018-12-11 15:49] tareqalayan opened #844 "beaker: allow injecting ssh keys inside topologies files"
similar to libvirt where you can set ssh_key
or openstack where you can set key_pair

we would like something for beaker.

[2018-12-11 15:51] tareqalayan commented on #844
similar to libvirt where you can set ssh_key
or openstack where you can set key_pair

we would like something for beaker.

[2018-12-11 15:53] tareqalayan commented on #844
@abraverm @arilivigni can you please help with this?

[2018-12-11 16:06] samvarankashyap commented on #844
@beerparty @p3ck : Do we have a that feature in beaker ?? Any thoughts ?

[2018-12-11 16:12] p3ck commented on #844
I can take this one.  We can do this via kickstart snippets I believe.

We're just talking about storing the public key on the system being provisioned right?

[2018-12-11 19:14] #818 closed

[2018-12-12 11:31] dollierp commented on #844
My 2 cents: It would be nice to expose beaker ks_append feature in linchpin. SSH key injection could be done by adding a ks %post scriplet via ks_append and it could also be used for other use cases.

[2018-12-12 15:02] samvarankashyap commented on #815
fixed in #838

[2018-12-12 15:02] #815 closed

[2018-12-12 20:46] #819 closed

[2018-12-13 05:37] greg-hellings opened #853 "Linchpin fails to run under any conditions"
A new install of Linchpin fails to run under any conditions.

This affects, minimally, versions 1.6.4 and 1.6.5. The versions fail with a module import issue:

Version 1.6.5 installed into a virtualenv
[code]

Version 1.6.4 installed from a provisionally created RPM:
[code]

In both cases, the file "fetch_local.py" is present at its expected location in the module tree. The issue appears during bo

[2018-12-13 17:47] samvarankashyap commented on #823
[code]

Blocker : No zone end point found for existing openstack setup.

[2018-12-13 17:48] samvarankashyap commented on #822
Dependent on #823
[code]
Blocked on os_zone.

[2018-12-13 18:39] samvarankashyap commented on #821
[code]
Blocker: Unable to establish connection for creating a PORT .

[2018-12-14 20:06] #820 closed

[2018-12-15 01:59] samvarankashyap commented on #843
fixed by #847

[2018-12-15 01:59] #843 closed

[2018-12-17 08:26] abraverm opened #857 "RFE: Cloud resources dependency check"
When developing a new Linchpin project, it  would be helpful to have Linchpin check if all dependency exist in the target cloud provider, such as: images, networks, tenant, credentials, ssh keys, files (ansible playbooks), etc.
This feature extedns 'verifiy' option by making callls to the cloud provider. The feature can be also helpful in running large topologies where you don't want the provision

[2018-12-17 14:30] greg-hellings commented on #174
This issue should now be implemented using the `wait_for_connection` role since that was added to Ansible.

[2018-12-17 15:12] samvarankashyap opened #858 "RFE: Add integration tests to google cloud"
Google cloud is not tested in the integration tests. It would be good to have google cloud included in integration tests.

[2018-12-17 15:45] samvarankashyap opened #859 "Tutorial: Add tutorial for Openstack server provisioning"
As a part of #757
$subject

[2018-12-17 15:46] samvarankashyap opened #860 "Tutorial: Add tutorial for AWS EC2 provisioning"
As a part of #757
$subject

[2018-12-17 15:48] samvarankashyap opened #861 "Tutorial: Add tutorial for libvirt virtual machine provisioning"
as part of #757

[2018-12-17 15:51] samvarankashyap opened #862 "Tutorial: Add tutorial for beaker server provisioning"
As part of #757
$subject

[2018-12-17 15:53] samvarankashyap opened #863 "Tutorial: Add tutorial on how to use linchpin template data"
$subject
As a part of #757

[2018-12-17 16:07] samvarankashyap opened #864 "Tutorial: Add tutorial for linchpin journal exploring all the options"
$subject
As a part of #757

[2018-12-19 08:24] abraverm opened #867 "RFE: Linchpin should print provision error"
Currently, when Linchpin fail to provision it will give simple output:

It would be helpful if it will output Ansible error, nicely formated, instead of user running the provision again with verbosity enabled `-vvvv`. For example:

[2018-12-19 08:45] abraverm opened #868 "RFE: Collect system boot logs"
Some provisions fail due to bad combination of VM settings and operating system (image) requirements. It would be helpful to get logs from operating system boot process. For example Openstack client has `openstack console log show <server id>`. Also kernels `netconsole` could be used in other cases.

[2018-12-19 09:07] abraverm opened #869 "RFE: Resource status during provisioning"
When multiple resources, or when provisioning takes a long time, it would be helpful to know in what state the provisioning is. For example, status like:
 - waiting for resource to be allocated
 - creating resource
 - system booting
 - waiting for ssh
 - running hook X

[2018-12-19 09:23] abraverm opened #870 "RFE: Beaker support koptions"
Beaker provisioning [supports](https://beaker-project.org/docs/server-api/http.html#post--systems-(fqdn)-installations-) passing kernel options (koptions) to the installer and post install (koptions_post). The functionality should also be available in Linchpin Beaker module:
https://beaker-project.org/docs/user-guide/customizing-installation.html#kernel-options

[2018-12-19 09:58] abraverm opened #871 "RFE: Quota check"
Before trying to provision (especially multiple systems), Linchpin should check if the destination has enough quota (hard and soft) to allocate for the run. Hard quota limit should instantly fail, but soft quota limit should allow user options how to handle:
 - greedy wait (timeout x) - provision a system once some quota is released and  its enough
 - total wait (timeout x)- start provisioning onl

[2018-12-19 12:50] abraverm opened #872 "RFE: Linchpin Daemon"
Running Linchpin in the background where it tries to keep a given topoloy deployed at any given time. Benefits:
 - Similar to Nodepool - Linchpin will run as a service to maintain a set of instances deployed and connected to  a Jenkins master
 - Developer focus on code - if the target environment or part of it is no longer valid, the developer can just destroy that part and let Linchpin take care

[2018-12-19 14:31] abraverm opened #873 "RFE: SSH to provisioned system"
Add a command to Linchpin connect to provisioned system `linchpin shell <name>`.
This could be useful for developers and local work with Linchpin.
Implementation example: https://github.com/ansible/ansible/issues/12852#issuecomment-340113272

[2018-12-20 08:19] abraverm opened #875 "RFE: Single call from Python API to provision an instance"
The current Python API requires the developer to initialize contex, create run_db, build Pinfile formated input, so it would able to run `do_action` command. A better API will allow something like this:
[code]

The context, run_db, pinfile format can all be handled in the background for that object instance.

[2018-12-24 14:06] abraverm opened #876 "Openshift metadata name is not same as container name"
Pinfile:
[code]

Error:
[code]
Resources output:
[code]

[2018-12-25 14:42] abraverm opened #878 "Openstack volume with count fail with environment variables authentication"
The openstack example `docs/source/examples/workspaces/openstack` executed with environment variables authentication (OS_PASSWORD,...) fails:
[code]
The auth should be tested like `auth_var != ""`.  There is a lot of duplicate code in `provision_os_volume.yml` playbook that workarounds some issue of passing valid arguments to modules with three main cases: auth, count and async. I believe it could

[2018-12-26 11:42] abraverm opened #880 "RFE: Beaker support for kickstart"
Beaker allows kickstart to be written within the recipe element, this can allow simpler inline (PinFile) customization of deployments, and with [Jinja include|http://jinja.pocoo.org/docs/2.10/templates/#include| it could be reused. For example:
Pinfile:
[code]
result:
[code]

[2018-12-27 14:43] abraverm commented on #844
Here is a working example using tasks:
[code]

[2018-12-30 18:06] abraverm opened #881 "RFE: Option to trigger hooks manually"
If hooks fail for some reason then only running the `up` or `destroy` will trigger it again. It will be helpful for development and debugging to have option to trigger hooks, for example:
`linchpin postup --type ansible`

[2018-12-31 06:33] abraverm opened #882 "Shell hook context should be prefix to the command"
When shell hook is defined and context is passed, the variables are set after the command and not before it. For example:
[code]
Linchpin will try to run `somecommand --option1 inventory=...`  and sometimes will fail because the command will assume the args are for it to process. What it should do is `inventory=.... somecommand --option1`, that way all that comes before it is environment variable.

[2018-12-31 13:44] abraverm opened #883 "Doc: Action managers documentation"
Action managers have different action syntax and handle context differently. The details are covered partially inline but should be available in the general documentation. For example [Ansible][https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/hooks/action_managers/ansible_action_manager.py] action syntax is:
[code]
While for shell, the action is simply strings.

[2019-01-03 17:07] 14rcole opened #885 "Document workspaces"
Given that the linchpin example workspaces are extending beyond basic provider workspaces, each workspace should have a small README in it that describes what's in the workspace and its use case

[2019-01-04 17:48] #844 closed

[2019-01-04 19:28] #870 closed, assigned to nobody

[2019-01-04 19:42] #801 closed

[2019-01-07 04:39] samvarankashyap commented on #871
For the first 3 cases mentioned in the above issue can be addressed by by pre-up hook before provisioning process is initiated.
However in order to try other credentials the status of one hook needs to be transmitted to other hooks via some channel. Which would be whole another issue to be addressed.

[2019-01-07 04:42] samvarankashyap opened #890 "RFE: Allow hooks to communicate among each other"
The current implementation of hooks allows them to run independently . However , there needs to be a mechanism to have a communication channel between among them. This request is made in regards to #871 .

[2019-01-07 04:52] samvarankashyap commented on #878
@abraverm The agree to issue with duplicate code. Moreover, due to limitations of the loop and condtional statements in  Ansible the above code duplication is one of the easiest way to implement  linchpin in accordance with older versions of Ansible. With respect to recent enhancements in Ansible I totally agree we need to revisit the playbook implementations to avoid duplication.
I am currently t

[2019-01-07 04:55] samvarankashyap commented on #881
The above request is completely reasonable since linchpin already has rundb in place which stores all the Pinfile details. We can easily access the data and re-run the hooks. There might be some hiccups in determining the workspace and hooks paths which can be addressed easily .

[2019-01-07 05:00] samvarankashyap commented on #876
I see there is a problem with the pod name while checking for its status. I believe the problem occurs while fetching the data. We will try to fix this issue soon.

[2019-01-07 05:06] samvarankashyap commented on #875
Having separate packages for each cloud provider is a great idea . However, Linchpin might not be build for it. There are lot features which might be effected by this .
for example.
 - Where would the data of the above provisioned resources go into rundb or is it just a adhoc provisioning.
 - Should linchpin generate the inventory for the provisioned instances.
Though the current issue looks like

[2019-01-07 05:08] samvarankashyap commented on #873
This feature could be very helpful in troubleshooting the environments that are provisioned.

[2019-01-07 05:11] samvarankashyap commented on #872
According to linchpin road map , Resty linchpin was planned to create a flask wrapper around linchpin to make it a REST service. Was due linchpin 2.0 release . However the priorities might have changed recently. Will get back to you on the progress.

[2019-01-07 05:15] samvarankashyap commented on #869
`Linchpin status` command line option which queries rundb periodically might be helpful for this issue.

[2019-01-07 10:57] samvarankashyap commented on #868
Linchpin is completely dependent on ansible module os_server . In order to implement the above funtionality one should implement a post up hook to collect data incase of a failure.

[2019-01-07 11:19] abraverm commented on #868
I gave Openstack as example, I think each provider should support this option. I think provisioning logs, system and client, are part of Linchpin core functionality.

[2019-01-07 14:55] p3ck commented on #872
@abraverm Is this something you are willing to work on?  I see this as something that should be done a layer above the command line tool linchpin.

[2019-01-07 15:00] abraverm commented on #872
Yes

[2019-01-08 13:50] 14rcole commented on #778
Fixed by #892

[2019-01-08 13:50] #778 closed

[2019-01-08 15:07] 14rcole commented on #786
We don't have a way to test the 3 remaining sub-issues here (os_port, os_recordset, and os_zone).  We expect that os_network, os_router, and os_module will cover the vast majority of cases, so I'm going to close this

[2019-01-08 15:07] #786 closed

[2019-01-08 15:47] samvarankashyap commented on #871
related to  #695 https://github.com/CentOS-PaaS-SIG/linchpin/pull/695

[2019-01-09 14:05] 14rcole commented on #774
Fixed by #892

[2019-01-09 14:05] #774 closed

[2019-01-11 14:46] #882 closed

[2019-01-14 20:12] #876 closed

[2019-01-16 13:51] #867 closed

[2019-01-19 11:01] dollierp opened #909 "Inventory incomplete with beaker when count > 1"
When using a beaker topology with count > 1, the generated inventory contains only one host instead of the n hosts requested.

It is not a provisioning issue: the job sent to beaker provisions successfully all the hosts requested but the inventory generated contains only one of them.

Git bisect points out a regression from #800.

This simple topology allows to reproduce the issue:

[code]

If (as

[2019-01-21 08:42] samvarankashyap opened #910 "RFE: Add support for ec2_vpc_subnet module"
As a part of #824
Adding support for networking modules in AWS
$subject

[2019-01-21 11:22] samvarankashyap opened #912 "Update linchpin read the docs web hooks by Jan 31st"
linchpin, is currently using GitHub Services to trigger builds on Read the Docs. Effective January 31, 2019, GitHub will no longer process requests using the Services feature, and so Read the Docs will not receive notifications on updates to your repository.To continue building your Read the Docs project on changes to your repository, you will need to add a new webhook on your GitHub repository. Y

[2019-01-21 11:24] samvarankashyap opened #913 "RFE: Add support for ec2_vpc_route_table"
In order to add support for ec2_vpc_endpoint module we need to support ec2_vpc_routetable

https://docs.ansible.com/ansible/latest/modules/ec2_vpc_route_table_module.html#ec2-vpc-route-table-module

[2019-01-21 11:35] #825 closed

[2019-01-21 17:49] dollierp commented on #909
Git bisect says it broke in 5bb7cf6 from #800 which fix #795.

[2019-01-21 20:13] p3ck commented on #909
@dollierp you are correct. If I take 1.7.0 and revert that commit it works as expected.

[2019-01-23 20:30] #827 closed

[2019-01-24 17:20] samvarankashyap opened #917 "RFE: Implement asynchronous provisoning on beaker provider"
$subject
Currently aysnc provisioning is available on major providers like openstack, aws . However beaker playbooks implemented async was never used.

[2019-01-25 15:12] #878 closed

[2019-01-25 16:08] dollierp commented on #731
This issue can probably be closed:
- ks_append has been added in #888
- kernel_options and kernel_options_post have been added in #889.

[2019-01-25 19:03] #913 closed

[2019-01-25 19:04] samvarankashyap commented on #910
fixed by #911

[2019-01-25 19:04] #910 closed

[2019-01-28 08:47] 14rcole opened #918 "json inventory filters does not support cfgs"
I seem to have overlooked this in #703.  We should also have integration tests that specifically verify the json output

[2019-01-28 16:12] 14rcole commented on #881
Can we have some real-world examples of where this would be applicable?

[2019-01-28 16:24] 14rcole opened #919 "Templates do not work"
Jinja template variables in `docs/source/examples/workspaces/inventory-templates/` are left blank and the template variables for the layout file in `docs/source/examples/workspaces/dummy/PinFile` are treated as string literals so that the inventory file exists inside of a directory called `{{ workspaces }}`

[2019-01-28 16:25] 14rcole commented on #816
We can't really begin doing more work on this until #919 is fixed

[2019-01-28 18:49] samvarankashyap commented on #909
fixed in #914

[2019-01-28 18:49] #909 closed

[2019-01-28 18:50] skatlapa commented on #919
please make sure you enclose jinja vars in " " and loop me in if needed for next steps, thanks!

[2019-01-28 22:43] skatlapa opened #921 "OKD Provider: Doesn't recognize <provider>.creds, clouds.yaml"
Atm, the okd provider doesn't recognize the values passed into provider.creds (same as clouds.yaml for openstack.creds used in HDSL). We see this error[1] when used with default profile with this format[2].

[1] - http://pastebin.test.redhat.com/703337

[2] - http://pastebin.test.redhat.com/703338

[2019-01-28 22:43] skatlapa commented on #921
@p3ck @samvarankashyap @14rcole looping in

[2019-01-28 23:14] skatlapa commented on #919
its to do with {raw}, please ignore above (for dummy provider)

[2019-01-30 14:44] 14rcole commented on #919
@skatlapa you're right but it still doesn't work.  In the case of the dummy provider, `{% raw %}` is causing the string to be treated as a literal.   Thanks for that tip.  However, the variable values are still not being filled in for whatever reason.  When I remove `{% raw %}, I get a permission denied on `/inventories` because `{{ workspace }}` is empty

[2019-01-30 14:47] 14rcole commented on #921
what do you get when you run `linchpin validate`?

[2019-01-31 07:45] skatlapa commented on #921
Hi, @14rcole I did not run Linchpin Validate, I shall try it and let you know. However, that wouldn't help us much I think here the LP is not honoring openshift.creds for its credential file (unlike openstack provider).

Steps to re-create:
1) Create the credentials as per the format[2] and name the file openshift.creds(or *.creds)
2) Do not specify --creds-path (LP defaults to the environment var

[2019-02-03 11:58] abraverm commented on #881
Post hook that triggers ansible playbook. The playbook may fail to multiple reasons and the user would like to run it again for specific target. Command call is defined in Linchpin files and will require the user to build the command manually.

[2019-02-04 22:58] 14rcole commented on #919
fixed in #925

[2019-02-04 22:58] #919 closed

[2019-02-05 15:20] p3ck commented on #881
lower priority in relation to API cleanup.

[2019-02-05 21:29] skatlapa opened #929 "OKD: --creds-path if not mentioned the provider defaults to upshift.yml and does not recognize <provider_file>.creds"
OKD: --creds-path if not mentioned the provider defaults to upshift.yml and does not recognize <provider_file>.creds

We need to have a way to not pass --creds-path and be using openshift.creds, just like OpenStack provider.
It was previously raised as: #770

[2019-02-05 21:31] skatlapa commented on #929
OKD: --creds-path if not mentioned the provider defaults to upshift.yml and does not recognize <provider_file>.creds

We need to have a way to not pass --creds-path and be using openshift.creds, just like OpenStack provider.
It was previously raised as: https://github.com/CentOS-PaaS-SIG/linchpin/issues/770

[2019-02-06 19:56] #918 closed

[2019-02-07 14:44] 14rcole commented on #921
@skatlapa did you try this out with the latest release of linchpin?

[2019-02-07 15:35] #885 closed

[2019-02-07 20:03] 14rcole opened #932 "Openstack async does not properly record outputs in the rundb"
This problem does not occur in aws, but may occur in other async providers

[2019-02-07 20:34] johnbieren commented on #690
ANSIBLE_GATHER_FACTS=25 fixed this for me with ansible 2.7

[2019-02-11 16:12] samvarankashyap commented on #912
Added a new webhook integration to github according to the read the docs documentation mentioned in the above issue description.
Fixed.

[2019-02-11 16:12] #912 closed

[2019-02-11 20:09] johnbieren opened #936 "Host Groups Wrong in Inventory"
Using a layout like this:
[code]
I am getting back an inventory with two hosts in centos-hosts, two hosts in fedora-hosts, two hosts in root hosts, and one in each of fedora-user and centos-user, as expected, but the hosts contained in each group are wrong. A centos host is in the fedora host group and vice versa, the centos-user host is not actually a centos host, etc.

[2019-02-12 15:20] #932 closed

[2019-02-12 21:38] mcornea opened #938 "RFE: implement virtualbmc support for libvirt VMs"
Simulating baremetal ipmi for virtual machines requires support for creating virtulabmc's for libvirt VMs after the provisioning has finished.  We already have the setup logic inside an ansible role[1] but we need help to integrate it into linchpin.

[1] https://github.com/redhat-openstack/infrared/tree/master/infrared/common/roles/vbmc

[2019-02-12 21:46] mcornea opened #939 "Provide ability to configure subnet mask for libvirt network interface"
Currently there is no option to specify a subnet mask for the libvirt network interface. We need to add the netmask directive in [1], e.g:

 <ip address="192.168.122.1" netmask="255.255.255.0">

[1] https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/provision/roles/libvirt/templates/libvirt_network.xml.j2#L12

[2019-02-12 21:51] mcornea opened #940 "linchpin destroy doesn't remove the libvirt networks"
Steps to reproduce:

(.venv) [root@sealusa2 rhhi]# cat PinFile
---
libvirt-network:
  topology:
    topology_name: "libvirt_network"
    resource_groups:
      - resource_group_name: "libvirt_network"
        resource_group_type: "libvirt"
        resource_definitions:
          - name: external
            role: libvirt_network
            uri: qemu:///system
            ip: 192.168.123.1

[2019-02-12 21:53] mcornea commented on #940
linchpin version 1.7.1

[2019-02-12 21:57] mcornea opened #941 "Validation doesn't allow setting the forward_mode attribute for a libvirt network"
[code]

[2019-02-12 22:25] mcornea opened #942 "Malformed inventory generated on a libvirt host"
[code]

[2019-02-13 04:54] mcornea commented on #938
Please let me know if you consider this should be something part of the libvirt provider or we should keep it as a separate standalone role outside linchpin. Thanks!

[2019-02-13 11:31] lukas-bednar commented on #540
@samvarankashyap @herlo I think we have a regression, we see same issue again with linchpin==1.7.1.

[2019-02-13 13:56] p3ck commented on #540
@lukas-bednar Please provide your pin and topology files so we can reproduce.  Also include the incorrect inventory file.

[2019-02-13 14:34] lukas-bednar commented on #540
@p3ck here you go, I removed some internal references from layout, but I doubt it has any effect in reproducing this issue. [linchpin-files.txt](https://github.com/CentOS-PaaS-SIG/linchpin/files/2860668/linchpin-files.txt)

Here is generated [inventory.txt](https://github.com/CentOS-PaaS-SIG/linchpin/files/2860690/inventory.txt) , I added mapping fqdn to IPs at the end of inventory.

Here are resu

[2019-02-13 15:20] samvarankashyap commented on #940
@mcornea Yes it does not. It was decided not to teardown the networks by default while desigining the networks inorder not to mess up the environment accidentally . However , This can be changed if its required.

[2019-02-13 15:22] samvarankashyap commented on #938
@mcornea I would say adding a external/internal hook to linchpin would suffice the requirement .
@p3ck any thoughts ?

[2019-02-13 15:28] mcornea commented on #940
@samvarankashyap Is there any option to teardown the networks during destroy? Perhaps we could make it optional and keep the current behavior the default.

[2019-02-13 15:31] samvarankashyap commented on #942
@mcornea : Could you comment gist of the trace while provisioning. I feel something is off with the provisioning machine in first place.

[2019-02-13 15:39] samvarankashyap commented on #940
@mcornea I can have an option like "delete_on_destroy: true/false" within the topology would that work for you ?

[2019-02-13 15:39] mcornea commented on #942
@samvarankashyap sure - https://gist.githubusercontent.com/mcornea/370e37608ccee05c0ae51cb7af8477ae/raw/linchpin_inventory

[2019-02-13 15:40] mcornea commented on #940
@samvarankashyap sounds great, thanks!

[2019-02-13 15:50] p3ck commented on #938
@samvarankashyap yes, I was hoping this could be done via a hook that they could put in their pinfile.  Can you confirm they would have access to the hypervisor from the hook?  I'm pretty sure that the playbook needs to run on the hypervisor and not on the just provisioned libvirt machines.

[2019-02-13 15:56] samvarankashyap commented on #938
@p3ck : I see two cases here :
1. If linchpin runs on hypervisor the hook(playbooks) can carryout a localaction using sudo/become permissions
2. If linchpin runs on a external machine connecting to libvirt hypervisor then yes it needs access

[2019-02-13 18:32] 14rcole opened #944 "Libvirt destroy fails when _async = True"
[code]

[2019-02-13 18:36] 14rcole commented on #796
@johnbieren Do you have a way to force one of the installs to fail so that I can test this?

[2019-02-13 19:05] johnbieren commented on #796
@14rcole I do not, unfortunately. The best way I know to do it is to have it ordered as I did and let randomness take its course

[2019-02-14 15:26] samvarankashyap commented on #944
@14rcole Though it gave an error ! did it destroy the machine ??

[2019-02-14 18:53] #941 closed

[2019-02-15 11:02] yprokule opened #946 "Allow configure DNS for libvirt networks"
Would be great to have ability to configure DNS for a virtual network as described at
https://libvirt.org/formatnetwork.html#elementsAddress

[2019-02-15 14:04] 14rcole commented on #540
@lukas-bednar since I'm having some trouble reproducing it (and you said the issue is not 100% reproducible), can you give the the rundb files from both a successful and unsuccessful run? Or at least from an unsuccessful run?

[2019-02-15 15:12] 14rcole commented on #540
@lukas-bednar I meant to say the linchpin.latest file, sorry

[2019-02-15 19:01] #936 closed

[2019-02-18 07:51] yprokule opened #948 "'linchpin init' doesn't setup workspace directory structure"
Running `linchpin init` doesn't setup workspace directory
[code]

According to [docs](https://linchpin.readthedocs.io/en/latest/running_linchpin.html#initialization-init) it should create _inventories, layouts, topologies_ directories

[2019-02-18 13:00] 14rcole commented on #942
@mcornea Can you also provide the `linchpin.latest` file from the run that produced this error?

[2019-02-18 14:51] samvarankashyap commented on #948
@yprokule Thanks for pointing it out. Since recent version linchpin started following Single Pinfile structure where the layouts and topologies are included within the Pinfile and are optional. Moreover, The inventories, resources folders are created dynamically by linchpin.
The documentation needs to be updated in accordance to the same.

[2019-02-18 15:58] samvarankashyap commented on #948
fix on #951

[2019-02-19 05:47] tanfengshuang opened #956 "Cancel to append 1 after rhos server name when set count as 1"
There is always 1 appended after rhos server name when count is 1, it's a little wired. I thinks it's better to append one number when count > 1.

And I tried to update file render_os_server_insts.py to cancel 1 appended after rhos server name when count is 1, the name is correct in task "set_fact instance filters"(rhos-server), but incorrect name in later task "openstack : generate res_def_names"

[2019-02-19 14:58] 14rcole commented on #540
@lukas-bednar I'm still working on a fix but for now you can swap the two resource definitions in your topology and PinFile

[2019-02-19 19:58] wainersm opened #957 "RFE: add docker provider"
Add support for provision Docker resources (e.g. container, image, network) on localhost or remote machine. The resources provision and teardown can be mapped to Ansible Docker modules [1].

I've been working on this feature on:
https://github.com/wainersm/linchpin/tree/docker_provider

References:
[1] https://docs.ansible.com/ansible/latest/scenario_guides/guide_docker.html

[2019-02-19 23:24] mcornea commented on #942
@samvarankashyap @14rcole I tested PR#952 and the inventory gets a correct format now:

(.venv) [root@sealusa2 rhhi]# cat inventories/rhhi.inventory
[masters]
192.168.123.117 hostname=192.168.123.117

[all]
192.168.123.117 hostname=192.168.123.117

Nevertheless is there any way that the inventory items could be references by the names of the VMs instead of IPs, e.g:

(.venv) [root@sealusa2 rhhi]#

[2019-02-20 13:05] lukas-bednar commented on #540
@14rcole take your time ;-) ... I am glad that you were able to reproduce it !!!

[2019-02-20 13:48] #942 closed

[2019-02-20 13:49] #948 closed

[2019-02-20 18:04] mcornea opened #960 "Malformed libvirt inventory with custom libvirt cfgs and count > 1 libvirt_node"
The following Pinfile:

[code]
outputs the inventory below:

[code]
expected inventory is:

[code]

[2019-02-20 18:23] mcornea opened #961 "RFE: allow setting static dhcp assignments for libvirt VMs"
Sometimes we need to set static DHCP assignments for the libvirt networks to make sure the VMs obtain consistent ip addresses with the ones set in the inventory. In order to do this we can use virsh net-update after the VMs/networks were created:

[code]

[2019-02-21 18:13] 14rcole opened #965 "Libvirt does not actually support async provisioning"
There are a number of tasks involved in libvirt provisioning/teardown that are labeled `when: not async` but there are no async alternatives

[2019-02-21 19:10] mcornea opened #967 "libvirt destroy is not idempotent and fails with xml.etree.ElementTree.ParseError: no element found: line 1, column 0"
When running linchpin destroy on a libvirt environment that has no VMs created it exits with the following traceback.  We should allow it to exit successfully as the desired state is in place.

[code]

[2019-02-21 20:17] #967 closed

[2019-02-21 21:46] mcornea opened #969 "Allow creating simple bridge libvirt networks"
Currently forward mode is enforced for libvirt networks so we cannot define non-forward(bridged) networks:

https://github.com/CentOS-PaaS-SIG/linchpin/blob/develop/linchpin/provision/roles/libvirt/templates/libvirt_network.xml.j2#L6

We need to ability to define simple bridge networks, e.g:

<network connections='4' ipv6='yes'>
  <name>brovc</name>
  <uuid>66004e03-134a-499a-9bdf-a28fd1dc8d6a</uu

[2019-02-22 12:58] #944 closed

[2019-02-22 14:14] #858 closed

[2019-02-22 14:51] #939 closed

[2019-02-22 14:52] #946 closed

[2019-02-22 16:58] samvarankashyap commented on #960
fixed by #962

[2019-02-22 16:58] #960 closed

[2019-02-22 17:27] mcornea opened #974 "Unable to create multiple libvirt VMs with storage disks attached"
Currently creating multiple libvirt VMs with extra disks attached fails because all VMs try to attach the same disk.

[2019-02-24 10:04] abraverm commented on #961
The problem is that node must be (?) deployed after network  and we need to update network setting after deployment.

I see five options here:
1. The simplest will be a post hook that will run a playbook for this. However this is more workaround for something that should be part of deployment process (IMHO).
2. A bit more advanced solution will be adding [DHCP host entries](https://jamielinux.com/

[2019-02-25 14:07] samvarankashyap commented on #828
fixed by #947

[2019-02-25 14:07] #828 closed

[2019-02-25 15:28] #921 closed

[2019-02-25 18:12] samvarankashyap commented on #929
fixed by #973

[2019-02-25 18:12] #929 closed

[2019-02-25 18:13] #826 closed

[2019-02-25 18:13] samvarankashyap commented on #824
fixed by #949

[2019-02-25 18:13] #824 closed

[2019-02-25 18:18] #969 closed

[2019-02-25 18:20] samvarankashyap opened #979 "Add documentation to linchpin built-in hooks"
$subject
w.r.t #695

[2019-02-26 14:58] mcornea opened #980 "Libvirt provider fails to create VMs when the first NIC is connected to a non-DHCP enabled network"
We've got the following use case on libvirt provider: VM with 2 nics. 1st nic connected to a simple bridge network without DHCP enabled, 2nd nic connected to a DHCP enabled network. The inventory should be generated by using the address from 2nd nic.

Pinfile:

[code]

[2019-02-26 15:02] mcornea commented on #980
Failure occurs during:

[code]

[2019-02-26 15:45] #796 closed

[2019-02-26 18:32] #974 closed

[2019-02-26 20:29] mcornea opened #985 "RFE: provide the ability to use a different name separator than '_' for libvirt VMs"
Currently libvirt VMs get created with the following name format:
$name_$index

Due to test scenarios hostname restrictions we need the ability to change the '_' separator, e.g:
$name-$index

[2019-02-26 21:55] samvarankashyap commented on #540
fixed by #959

[2019-02-26 21:55] #540 closed

[2019-02-26 21:56] samvarankashyap commented on #717
@yashkmankad ping !

[2019-02-26 21:56] samvarankashyap commented on #604
fixed by #703

[2019-02-26 21:56] #604 closed

[2019-02-27 16:15] ohochman opened #990 "Linchpin to support provisioning of VMware VMs"
**Is your feature request related to a problem? Please describe.**

In order to use Linchpin as a cross-team solution: OSP, OCP, CNV, Rhhi.next -  we should have Linchpin to support the provision for all the different teams virtualization platforms.
VMware is currently missing for the CNV team.

**Describe the solution you'd like**
VMware provisioning support.

[2019-02-28 16:39] mcornea opened #994 "Libvirt VMs provisioning fails when running linchpin as a non-privileged user"
Libvirt VMs provisioning fails when running linchpin as a non-privileged user

[code]

Fails with:

[code]

[2019-03-05 00:41] yashkmankad commented on #717
@samvarankashyap @p3ck  Sorry for the delay.

@anascko  -- Is this still an issue for us ? We recently switched to 1.6.1 and might move to Close the issue.

[2019-03-05 14:30] p3ck commented on #726
Started this with #995 but looking over the issue I see that I should add some more to it.

[2019-03-05 21:47] samvarankashyap commented on #754
Openshift has integration tests with new creds format

[2019-03-05 21:47] #754 closed

[2019-03-05 21:49] samvarankashyap commented on #731
closed w.r.to #888 #889

[2019-03-05 21:49] #731 closed

[2019-03-05 21:54] samvarankashyap commented on #749
fixed by #915

[2019-03-05 21:54] #749 closed

[2019-03-07 18:22] yashkmankad commented on #717
After further discussion with @anascko , she has explained to me that issue was not with linchpin, but our implementation of the topology file.

We have recently moved to linchpin v1.7.1 (not 1.6.1 as mentioned in the previous comment) and are currently not seeing this issue.

Hence, closing the issue. Thanks.

[2019-03-07 18:22] #717 closed

[2019-03-08 15:22] 14rcole commented on #859
completed by #1002

[2019-03-08 15:22] #859 closed

[2019-03-08 17:05] #980 closed

[2019-03-08 18:17] samvarankashyap commented on #994
According to https://linchpin.readthedocs.io/en/latest/libvirt.html
libvirt needs at least sudo user/privileged user to run.

[2019-03-08 18:54] #862 closed

[2019-03-10 08:57] abraverm commented on #994
@mcornea , does the documented solution works for you? There is another solution I found: https://www.poftut.com/use-virt-manager-libvirt-normal-user-without-root-privileges-without-asking-password/

[2019-03-12 14:21] samvarankashyap commented on #990
@ohochman: What would be the minimum requirements to be supported in linchpin ?
like vm, network , storage, floating ip ?

[2019-03-12 14:31] RazTamir commented on #990
Hi @samvarankashyap,
We'll need the same supported requirements we have for AWS or Libvirt with Linchpin.

[2019-03-12 15:08] #816 closed

[2019-03-14 18:54] 14rcole commented on #864
There's a journal section of each of the provider-specific tutorials in addition to the more traditional documentation in the commands section.  Given that we have all of that, do we need a separate journal tutorial?

[2019-03-15 01:19] mcornea opened #1023 "Libvirt provisioning fails during linchpin/provision/roles/libvirt/tasks/provision_libvirt_node.yml': line 376"
Libvirt provisioning fails during linchpin/provision/roles/libvirt/tasks/provision_libvirt_node.yml': line 376:

TASK [libvirt : set_fact] ******************************************************
ok: [localhost] => (item=[0, 0]) => {"ansible_facts": {"macs": ["52:54:00:7c:20:fe"]}, "changed": false, "node": [0, 0]}
ok: [localhost] => (item=[0, 1]) => {"ansible_facts": {"macs": ["52:54:00:7c:20:fe",

[2019-03-15 21:14] wainersm commented on #684
I would really appreciate if we had documentation about hooks, since I've tried to used it and the examples under workspaces are the only references that I have.

[2019-03-15 21:22] wainersm opened #1026 "Error to generate inventory from layout with boolean variable"
Provision fails if It has in the inventory layout any variable with boolean value.

The inventory layout file I am using has an entry to "host_key_checking":

[code]

When executed linchpin up it fails with:
`Error: coercing to Unicode: need string or buffer, bool found`

It works fine if I remove the "host_key_checking" entry.

[2019-03-15 21:47] samvarankashyap commented on #684
@wainersm This will be a task i would be working next.

[2019-03-15 21:49] samvarankashyap commented on #1026
@wainersm could you try yes or no/ true or false ( in lowecase)  instead of True or False until we fix this issue. I am sure ansible ansible supports it.

[2019-03-18 12:26] wainersm commented on #1026
@samvarankashyap hello, yes, I will give a try with yes/no and let you posted.

[2019-03-18 13:27] 14rcole commented on #1023
@mcornea is the `name_separator` field in your PinFile from a currently unmerged PR?

[2019-03-18 13:28] mcornea commented on #1023
@14rcole yes, it's from https://github.com/CentOS-PaaS-SIG/linchpin/pull/986

[2019-03-18 14:56] wainersm commented on #1026
@samvarankashyap I tried with "no"  (in lowercase) but the error still persists. My workaround so far is to export ANSIBLE_HOST_KEY_CHECKING=False